[2016-03-25 23:40] #115 closed

[2016-03-25 23:41] kordianbruck commented on #80
All updated and token working now.

[2016-03-26 11:43] sacdallago opened #119 "Tear down server"
@kordianbruck Hello lover,
since we are between FF and deadline **now** is the best moment to test how independent everything is. We should tear down your server and get **A** running on the rostlab machine! :) Any chance you want to assist me with that next week sometime?

**EDIT**: https://github.com/Rostlab/JS16_ProjectE/issues/19

[2016-03-26 11:55] sacdallago commented on #71
And since this seems to be something that doesn't affect functionality and @gyachdav can be tested in a week :laughing:

[2016-03-26 11:58] sacdallago commented on #80
What was the problem?
Can this issue be closed?

[2016-03-26 12:00] sacdallago commented on #107
sooooo: close? :kissing_closed_eyes:

[2016-03-26 13:02] kordianbruck commented on #119
Sure, I can send you my public key to setup SSH Access to the machine 😘

[2016-03-26 13:03] kordianbruck commented on #107
Yes!

[2016-03-26 13:03] #107 closed

[2016-03-26 13:13] kajo404 commented on #80
I want to test my code before I close it ;) Give me a couple of hours as I have quite a few bugs to fix

[2016-03-26 13:46] kajo404 commented on #80
I have one more issue. When I try to save a character I need to use the character name as a identifying "object"(this was decided during presentation week) When I try to save an entry with `'character' : "Jon Snow"` which should be a viable character name accoring to your character list I get the following error:

`{"message":"Error.","error":{"message":"CharacterSentiment validation failed","name

[2016-03-26 15:11] ghost commented on #80
@kajo404 Fixed it. @kordianbruck Pull

[2016-03-26 16:43] kajo404 commented on #80
I am still getting the same error, do I need to wait for @kordianbruck to work some magic?

[2016-03-26 17:52] sacdallago commented on #80
Yeah he needs to pull the last version to his server. He will write here once that is done, patience.
Otherwise you can pull the last develop of **A** and ask them for the mlab credentials ;)

[2016-03-26 19:36] sacdallago commented on #119
:D that's all fine but can we physically meet?
No phun intended, this time.

[2016-03-26 20:39] kordianbruck commented on #119
Our SSH sessions can physically connect on the server :heart:

[2016-03-26 20:44] kordianbruck commented on #119
No, seriously, my or your place? :kissing_heart:

[2016-03-26 21:01] sacdallago commented on #119
Where's your place? :D :D :D
I basically sleep at RostLab&trade;. We could meet there Wednesday late-mornin' 9:30/10

[2016-03-26 23:10] gyachdav commented on #103
As mentioned before the "pagerank" is far from perfect and so characters like http://awoiaf.westeros.org/index.php/Betharios_of_Braavos have mysteriously got top rank. can you please rescan the list and half the page rank points  if the character does not have an image associated with it? that will make sure that all minor characters will be placed back in their proper place.

@adiolis would you d

[2016-03-26 23:13] ghost commented on #103
@gyachdav Sure, i can do that.
Not sure, when, because i am running into two exams, but i will find some time in between my learning sessions :stuck_out_tongue: .

[2016-03-26 23:13] gyachdav commented on #103
thanks and good luck!

On Mar 26, 2016, at 7:13 PM, Michael Legenc notifications@github.com wrote:

[2016-03-26 23:25] ghost commented on #103
@gyachdav Okay, that was very easy and so i have done it right now ;)

@kordianbruck Please run `npm run updatePageRanks --update=characters`

[2016-03-27 00:07] kajo404 commented on #103
How do I access this updated data?

[2016-03-27 01:27] gyachdav commented on #103
@Hack3l once the data is updated can you also update your normalized rankings and post it here?

[2016-03-27 08:31] Hack3l commented on #103
Yes, it whould be nice if u notify me once it is updated.

[2016-03-27 09:13] sacdallago commented on #103
@kajo404 there should be API calls for this

[2016-03-27 11:17] subburamr opened #120 "G-B6: Add PLODs to characters"
Hi Team,

You can get the PLODs for characters from our [repo](https://github.com/Rostlab/JS16_ProjectB_Group6).
The values can be obtained from functions in the main.js file, please refer [here](https://github.com/Rostlab/JS16_ProjectB_Group6/wiki#mainjs-functions--usage) for usage.

Thanks,
Group 6

[2016-03-28 13:22] togiberlin commented on #77
Here is the main thread: https://github.com/Rostlab/JS16_ProjectF/issues/169

[2016-03-28 17:41] marcusnovotny opened #122 "Slugs with special characters"
Hey there Project A!

We over at ProjectD_Group4 ([#90](https://github.com/Rostlab/JS16_ProjectD_Group4/issues/90)) noticed that the provided slugs don't work for Character with special characters in their name, for example [this fellow Jaqen H'Ghar](https://got-stats.herokuapp.com/characters/Jaqen%20H'ghar).

Looking forward to your reply :)

[2016-03-28 18:04] marcusnovotny opened #123 "Wrong Episode Airing Dates S01E10, S03E01, S04E04 & S04E05"
Dear Project A,

I've discovered a few wrong episode airing dates in our data, namely: S01E10, S03E01, S04E04 & S04E05.
The incorrect values are from the boxes on the episodes' own awoiaf pages [(like here)](http://awoiaf.westeros.org/index.php/Valar_Dohaeris_(TV)) while the right airing dates can be found on the awoiaf season pages (or on Wikipedia).

[AWOIAF Season 1 Episodes](http://awoiaf.west

[2016-03-28 18:30] kajo404 commented on #103
I know I can get the page rank from A but our system works with the normalized page ranks from @Hack3l  so an update of that would be nice

[2016-03-29 11:07] kordianbruck commented on #119
@sacdallago let's do a hangout today!

[2016-03-29 11:08] kordianbruck commented on #80
New code is live. Character collection is updating now.

[2016-03-29 11:15] kordianbruck commented on #123
@togiberlin can you share your Wiki login with me or correct the dates yourself?

@Adiolis when updating, are dates also corrected if they are updated on the Wiki?

[2016-03-29 11:18] kordianbruck commented on #103
Data updated!

[2016-03-29 11:20] kordianbruck commented on #122
What do you mean its not working? What's the involved API call you are referencing?

[2016-03-29 11:21] kordianbruck commented on #122
I'm guessing you are talking about https://got-api.bruck.me/api/characters/byId/56f5c296be62dc6e12808a60 and that the ' is not removed, yes?

[2016-03-29 12:02] marcusnovotny commented on #122
Yes, right now the ' breaks our XMLHttpRequest

[2016-03-29 15:13] sacdallago opened #124 "Cannot refill regions"
Can you fix this asap and report directly to me? So I refill the db. Stack trace below

API & docs are now on api.got.show

[code]

[2016-03-29 15:16] sacdallago commented on #124
Also. What is the `characterlocations` collection for? It is empty after filling everything /regions!

[2016-03-29 15:23] kordianbruck commented on #124
@sacdallago `characterlocations` is its own collection/filler

[2016-03-29 15:24] sacdallago commented on #124
@kordianbruck I called you. You didn't want me </3

[2016-03-29 15:25] togiberlin commented on #123
@kordianbruck As far as I can see, the wiki entries are correct and match the above description by @marcusnovotny . I think the fault is in the scraper.

[AWOIAF Season 1 Episodes](http://awoiaf.westeros.org/index.php/Game_of_Thrones_-_Season_1)
Episode 10: Correct date June 19 2011, current date in DB: June 12 2011 (wrong date picked from episode 9)

[AWOIAF Season 3 Episodes](http://awoiaf.weste

[2016-03-29 15:26] kajo404 commented on #103
Cool now I am only waiting for @Hack3l to post a like to the updated normalized ranks

[2016-03-29 15:36] kordianbruck opened #125 "New API endpoint"
Hey @Rostlab/js_cs_sose_2016_students

please use the official endpoint starting now over at the server that @sacdallago set up: https://api.got.show/doc/

Also: check with @sacdallago for the token!

[2016-03-29 15:37] kordianbruck commented on #125
My Server is down as of now! :broken_heart:

[2016-03-29 15:38] #125 closed

[2016-03-29 15:40] kordianbruck commented on #123
@togiberlin right, sorry - the wiki is correct but the scraper/filler does not seem to parse them correctly.

[2016-03-29 15:44] sacdallago commented on #119
Done.

[2016-03-29 15:44] #119 closed

[2016-03-29 17:42] marcusnovotny commented on #123
No sorry. They are correct on the pages I linked to because I wanted to propose you crawl from them. They're incorrect on the episodes pages (one page per episode not per season, link in the first post "like here") where I guess you're crawling from currently. I didn't post all the wrong entries.

[2016-03-29 18:36] marcusnovotny commented on #123
@togiberlin @kordianbruck

These are the sites you're crawling the **wrong data** from I guess:
[S01E10](http://awoiaf.westeros.org/index.php/Fire_and_Blood_%28TV%29)
[S03E01](http://awoiaf.westeros.org/index.php/Valar_Dohaeris_%28TV%29)
[S04E04](http://awoiaf.westeros.org/index.php/Oathkeeper_%28TV%29)
[S04E05](http://awoiaf.westeros.org/index.php/First_of_His_Name)

The season pages I linked in

[2016-03-29 18:42] ghost commented on #124
@theocheslerean

[2016-03-29 18:44] ghost commented on #123
Yes, the wiki we are scraping from is wrong.
Due to our policy, the wiki is to update.

Ty, @marcusnovotny :+1:

[2016-03-29 18:48] ghost commented on #122
We are just using the slugs from the wiki, which are unfortunately not handling this.
See http://awoiaf.westeros.org/index.php/Jaqen_H%27ghar .

Probably just remove the " ' "? I don´t think that this will lead to naming conflicts.

[2016-03-29 18:48] kordianbruck commented on #122
Replacing it with an additional _ should work though.

[2016-03-29 18:50] kordianbruck commented on #122
Actually: @marcusnovotny did you try escaping your URL?

http://stackoverflow.com/questions/6544564/url-encode-a-string-in-jquery-for-an-ajax-request

[2016-03-29 18:54] ghost commented on #124
@sacdallago I fixed it.

[2016-03-29 18:57] ghost commented on #124
@sacdallago charactersLocations is not empty for me after refilling. There are more than 2000 wiki pages to scrap, so this might take a while.

[2016-03-29 19:03] marcusnovotny commented on #122
Using Jaqen_H%27ghar as a slug doesn't work aswell

[2016-03-29 19:11] ghost commented on #122
@kordianbruck I replace them by _, but the db needs to be updated =/

[2016-03-29 19:11] kordianbruck commented on #122
@sacdallago please update the character DB

[2016-03-29 19:47] marcusnovotny commented on #123
Thanks for your quick support on both issues!

[2016-03-29 19:48] sacdallago commented on #124
I did that. Just that it was not in the Readme + the upper an lower case!
So I pull and fill the regions now

[2016-03-29 19:48] #124 closed

[2016-03-29 19:48] sacdallago commented on #124
P.S.: all the sudden I feel so @kordianbruck

[2016-03-29 19:49] kordianbruck commented on #124
@sacdallago did you consider changing your name? Like after we marry?

[2016-03-29 19:49] sacdallago commented on #124
You mean after we marry :ring:

[2016-03-29 19:54] sacdallago commented on #122
@kordianbruck you were dying for the first time you could say this, weren't you? :D :D

[2016-03-29 20:07] sacdallago commented on #122
Ehm...:

[code]

[2016-03-30 01:58] ghost commented on #122
I fixed it and moved the download of the characterImages into a new filling process. Took way too long.
`npm run update --collection=characterImages` to download the images and update the links in the db.

[2016-03-30 08:06] sacdallago commented on #123
Notify me when I shall run the scrapers again. @togiberlin has access to the wiki :sunglasses:

[2016-03-30 08:09] sacdallago commented on #122
Updated, restarted forever

[2016-03-30 08:09] #122 closed

[2016-03-30 11:23] togiberlin commented on #123
@sacdallago @marcusnovotny @adiolis @kordianbruck I changed the wiki, should be correct now. You can run the scraper again.

###

Check infobox on the right:
- [Season 1, Episode 10](http://awoiaf.westeros.org/index.php/Fire_and_Blood_%28TV%29)
- [Season 3, Episode 01](http://awoiaf.westeros.org/index.php/Valar_Dohaeris_%28TV%29)
- [Season 4, Episode 04](http://awoiaf.westeros.org/index.php/Oathke

[2016-03-30 11:24] #123 closed

[2016-03-30 11:46] Hack3l commented on #103
Here the updated normalized ranks.
[pagerank_normalized_json.txt](https://github.com/Rostlab/JS16_ProjectA/files/195405/pagerank_normalized_json.txt)

[2016-03-30 12:38] kajo404 commented on #103
Hi @Hack3l . I can't parse you file because some names are formatted like 'Name' and other are just Name. Can you do all "Name" like in the last file?

[2016-03-30 12:52] sacdallago commented on #123
Episodes scraped.

[2016-03-30 14:04] gyachdav opened #126 "House fell hourse templeton and house farman in characters list"
the character list still contains house names. please clean.

[2016-03-30 21:48] Hack3l commented on #103
Oh yeah sorry, here is the right one.
[pagerank_normalized_json.txt](https://github.com/Rostlab/JS16_ProjectA/files/196500/pagerank_normalized_json.txt)

[2016-03-31 09:33] boriside commented on #126
@gyachdav I was on my way back to Munchen, now I will take a look.

[2016-03-31 10:54] marcusnovotny commented on #70
I stumbled upon this by accident, but all the actor data seems to be wrong. I've checked around 10 entries. I don't know if anyone is actively using this data, just thought I should let you know!

[2016-03-31 18:02] togiberlin commented on #70
![f7cb741def2c550e274291ccd51abbf8](https://cloud.githubusercontent.com/assets/13764830/14185766/885389f4-f77b-11e5-8d2a-32b7b002ba62.jpg)

[2016-03-31 18:18] boriside commented on #126
@gyachdav @sacdallago I saw the wrong entries.. Should we provide "removeById" functionality in the api?

[2016-03-31 18:49] gyachdav commented on #126
can you investigate how they ended up as characters in the first place? Would be great if we can correct the scraper and refill the db with a corrected list.

[2016-03-31 19:35] boriside commented on #126
yes, I already work on it.

[2016-03-31 20:17] sacdallago commented on #126
Good. I don't think that removing items would do any good, as the policy of refilling would later put them in again. As @gyachdav suggested, it's better to solve the problem at the root, that is: the wiki. I know it's a big effort, but let's be consistent and let's hope the wiki gets better and better.

[2016-03-31 20:20] kajo404 commented on #103
thank you very much!

[2016-03-31 20:23] sacdallago commented on #103
@Adiolis @boriside @kordianbruck @togiberlin can one of you update this also in your repo? Then I rescrape or whatevvah

[2016-04-01 03:03] gyachdav opened #127 "Scrape for royal house"
check out
http://awoiaf.westeros.org/index.php/Stannis_Baratheon

The scrapper did not pick up a House affiliation for Stannis because the title in the info box is royal house and not house. The scraper needs to be reconfigured to handle this.

[2016-04-01 06:14] ghost commented on #127
I can fix this pretty quick...

[2016-04-01 06:20] ghost commented on #126
What needs to be inspected is the getAllNames function of the characters scraper. This is later used to determine the wiki pages to scrape. There seems to be picked up too much. I am not sure, if i have time do this, because of death in my girlfriend´s family.

@theocheslerean

[2016-04-01 06:37] ghost commented on #103
I have already implemented the translation of guys data in his zip to our data/pageRanks.json, which has an other structure than Hack3l´s json. The question is now who is generating the pageRanks in the future and in which structure the information will be provided. I can remove my earlier waste of time and reimplement it to fill hack3l´s json. But later i wont do that anymore, so we need a final

[2016-04-01 08:38] ghost commented on #127
The houses are not the only issue. There are several inconsistencies in the infobox of the caracters. For example "Titles" != "Aliases" or "Book(s)" != "books" != "Books". I am actually reimplenting the whole scraper, because the regex stuff from theo is not very maintanable and slow... Sorry.
This is not a biggy and i am almost done and now i am trying to get even more information.

[2016-04-01 09:34] boriside commented on #126
@Adiolis I do it right now.

[2016-04-01 09:35] ghost commented on #126
@boriside The problem is that the scraper is buggy as f**ck. Some characters are even not scraped...
Many properties not scraped at all.

[2016-04-01 09:41] sacdallago commented on #103
I know. That's why I suggested since the beginning the algorithmic, scraped way. Fast fixes are no-good in the long term, and this is again _just a fix_.
My suggestion is to do it algorithmically as in my first post.

As far as the image story goes: that's definitely an indicator. If it makes sense then to add this, that's up to you. You have complete freedom on this

[2016-04-01 09:45] sacdallago commented on #126
@Adiolis I'm sorry to hear about the loss :disappointed: I hope you and your girlfriend are keeping up.

Let some other people take some of your workload, @boriside thanks for doing that already. I'm also talking about the "page rank" issue.

[2016-04-01 09:45] boriside commented on #126
@Adiolis It's not because the scrapper, but because the inconsistent information in the wiki. SO I think the best approach would be to exclude the exceptions. I also sorry about the loss, take your time. :(

[2016-04-01 09:46] sacdallago commented on #127
Again @Adiolis do what you can and feel free to delegate to someone. Family is more important, always.

[2016-04-01 09:53] sacdallago commented on #120
@kordianbruck where does this stand?

[2016-04-01 09:57] ghost commented on #126
Thank you both. It happend two days ago =/.
I am taking my time but this is just a quick fix of 5 minutes...
Feel free to edit my solution, whatever.

The scraper was taking all links instead only the first.

[2016-04-01 10:03] ghost commented on #127
Yeah. I know.
It is just a fix of one line.

[2016-04-01 10:04] ghost commented on #127
But guys, there are more problems than only the houses.
 "Titles" != "Aliases" or "Book(s)" != "books" != "Books" and so on.

Feel free to fix that.

[2016-04-01 10:04] sacdallago commented on #127
@togiberlin @boriside @kordianbruck

[2016-04-01 10:29] kordianbruck commented on #127
How about using http://www.w3schools.com/jsref/jsref_tolowercase.asp for all the fields to normalize these things somewhat?

[2016-04-01 10:33] ghost commented on #127
Jep. Still extra fixes for "Titles" != "Aliases" and so on are necessary.
First someone needs to make a list of possible atttribute names.

[2016-04-01 10:52] ghost commented on #103
Pull and run for the normalized pageRanks.
`npm run updatePageRanks --update=characters --file=data/normalizedPageRanks.json`

[2016-04-01 10:58] ghost commented on #103
If one needs a "translation" script for the jsons of hack3l:

[code]

[2016-04-01 11:17] sacdallago commented on #127
Correct. You should have an array of synonyms for a given field.

[2016-04-01 11:18] sacdallago commented on #127
Or you can machine learn what goes where :D I think the static approach is easier :D

[2016-04-01 11:18] sacdallago commented on #103
thx @Adiolis

[2016-04-01 11:25] sacdallago commented on #103
Done - for now

[2016-04-01 11:59] sacdallago commented on #126
@boriside excluding data is a bold move :) I wouldn't do that, personally. Incorrect data is better than eventually no data. Wikis are a joint effort, thus mistakes are acceptable and encourage users to curate data.

@Adiolis should I run an update on characters?

[2016-04-01 14:57] gyachdav commented on #103
Some characters are missing a pagerank value. in this case just assign a low default value. if the character has an image stored bump the default pagerank by 30%.

[2016-04-01 17:52] jonny3576 opened #128 "Sentiment/edit function"
Hey I think we found an error with the sentiment/edit -function
Project D 5 stored some data as a negativ value though it should be stored positive.
Now we wrote the following script to resolve that problem using the edit-url of the database.

[code]

Nothing happens and works. Is it possible that there is an intern error in the code of Project A.
The log is postet [here](https://github.com/Rostla

[2016-04-01 18:23] togiberlin commented on #128
@kordianbruck please pull newest codebase to your server :) @jonny3576 I hope it should be fine now...

[2016-04-01 18:23] kordianbruck commented on #128
@sacdallago please pull and update :dancer: :dancers:

[2016-04-01 18:56] jcebel commented on #128
Thanks for the quick reaction! I solved it with a work around for me, because I wasn't thinking of posting it here, my fault.
But I think this should be solved now.

[2016-04-01 22:43] sacdallago commented on #128
I just open it and assign it to myself so I remember tomorrow mornin'

[2016-04-02 09:11] mina-kleid commented on #120
Yea currently characters PLOD doesnt return anything

[2016-04-02 09:15] mina-zaki opened #129 "Characters PLOD"
More documentation for the following character PLOD would be great
- Get characters PLOD by :algorithm . which algorithms are available and what should i provide in the request for each algorithm also are they going to be sorted ?
- Get character PLOD values, limited by :count parameter , are they going to be sorted ? if yes Ascending or descending ?
- https://api.got.show/api/plod/find , how shou

[2016-04-02 09:28] sacdallago commented on #128
Done

[2016-04-02 09:28] #128 closed

[2016-04-02 10:45] mina-kleid commented on #101
I am a bit confused now, so getting a character by id or name has a PLOD inside it ? or i have to make a unique request for the character PLOD (i.e. https://api.got.show/api/plod/byId/:id ) ?

[2016-04-02 10:47] sacdallago commented on #101
The PLOD is not in the character, you need a separate call like the one you put there.
That was the design.
If no one corrects me, then you have your answer.

[2016-04-02 10:51] mina-kleid commented on #101
Ok any idea how the returned object looks like ?

[2016-04-02 10:52] sacdallago commented on #101
https://github.com/Rostlab/JS16_ProjectA/blob/master/app/models/characterPlod.js

[2016-04-02 10:54] mina-kleid commented on #101
Excuse my ignorance, but does the reference to the character model mean that all the character model attributes will be embedded also inside it? and if not i need at least an id or name

[2016-04-02 11:07] sacdallago commented on #101
You have the same ability to navigate files as everyone else :laughing:
https://github.com/Rostlab/JS16_ProjectA/blob/master/routes.js#L50

[2016-04-02 11:11] mina-kleid commented on #101
@sacdallago
Well its not normal to understand the code and navigate other project to understand how is the response looking like, the api doesnt return a sample object i can check or the documentation specifies how it should look like, and i have no idea which technology they are using or framework !!

[2016-04-02 11:18] sacdallago commented on #101
Yes but all of the questions you are asking have already been asked, discussed and answered in this discussion if you scroll long enough and look at the commits ;)
I am sorry but I get very irritable when I have to repeat things, it's one of those things I ought to become better at :laughing:

[2016-04-02 11:27] mina-kleid commented on #101
no worries, But i still cant see an answer on how the response is going to look like. and excuse my ignorance one more time i am not aware of the technology they are using and what it means that the character model is referenced inside the characterPlod model. does that mean all the character attributes be embedded in the response or will be ingored

[2016-04-02 11:36] sacdallago commented on #101
It depends on which of the GET calls you call. If you [GET by alg](https://github.com/Rostlab/JS16_ProjectA/blob/master/routes.js#L56) I suppose you get the schema obj as the one I posted above for all chars with that alg. Yes. The `_id` of the char will be in the obj, not the entire obj. So you have to join the chars with the respective PLOD. That's usually how these things work, but maybe @togib

[2016-04-02 13:00] ghost commented on #126
I fixed the bug, that the scraping could not terminate because of the skipping of the houses.
Now, everything should be fine.

[2016-04-02 13:00] #126 closed

[2016-04-02 13:01] ghost commented on #129
@togiberlin Haven´t you implemented this?

[2016-04-02 13:06] sacdallago commented on #126
Thx

[2016-04-02 13:57] sacdallago commented on #73
Build is failing again, please fix

[2016-04-02 14:02] sacdallago opened #130 "Images cannot be found"
After
1. Pulling the latest version of the code
2. [Refilling characters and updating their pageranks](https://github.com/Rostlab/JS16_ProjectF/issues/224#issuecomment-204715925)
3. [Updating the character paths](https://github.com/Rostlab/JS16_ProjectC_Group10/issues/219#issuecomment-204715476)

The images are not available anymore:
https://got-stats.herokuapp.com/characters/Rhaenys%20Targaryen

[2016-04-02 14:05] ghost commented on #130
Refill collection characterImages

[2016-04-02 14:07] sacdallago commented on #130
:D damn.

@Adiolis can you please tell someone to take care of updating the readme with a documentation that makes sense? Explaining also these dependency issues? And maybe put really all the refill commands there are?

[2016-04-02 14:08] kordianbruck commented on #130
A simple look at the scripts tells you all options @sacdallago ;)

[2016-04-02 14:09] sacdallago commented on #130
No.

A simple look at the readme tells me what I ought to do @kordianbruck I have no time to run through the scripts.

[2016-04-02 14:10] kordianbruck commented on #130
[code]

[2016-04-02 14:12] sacdallago commented on #130
This is not up to discussion :laughing:
This needs to be in the readme or documented somewhere, you _need_ to have a clear documentation.. Com'on.

[2016-04-02 14:13] kordianbruck commented on #130
Its not a discussion :tada:

[2016-04-02 14:13] sacdallago commented on #130
Exactly. :D

[2016-04-02 14:14] kordianbruck commented on #130
happy?

[2016-04-02 14:15] sacdallago commented on #130
With you by my side, how could I not be? :heart:

[2016-04-02 14:15] kordianbruck commented on #130
:kissing_heart:

[2016-04-02 14:16] sacdallago commented on #130
No, no.. wait.. I don't get it.. Why I'm I assigned?
:joy:

[2016-04-02 14:17] kordianbruck commented on #80
@sacdallago I guess this can be closed as its also live on the new server?

[2016-04-02 14:17] kordianbruck commented on #130
Update the characterImages collection plox

otherwise close it :)

[2016-04-02 14:19] sacdallago commented on #130
Ahhh

[Who do you think you are talking to baybe?](https://got-stats.herokuapp.com/characters/Rhaenys%20Targaryen)

Just get me the documentation, then I'm happy.

[2016-04-02 14:19] #130 closed

[2016-04-02 14:20] sacdallago commented on #80
Yup.

[2016-04-02 14:20] #80 closed

[2016-04-02 14:51] ghost commented on #73
@sacdallago  @kordianbruck
I don´t get the jshint:
 277 |                var $ = HtmlParser.load(data.parse.text["*"]); 
                                                                      ^ This character may get silently deleted by one or more browsers.

It is pointing on " ; ".

[2016-04-02 15:04] sacdallago commented on #73
First thing that comes to my mind is try to shout! So browsers don't "silently" delete it :D :D
No but srsly I don't quite know. @TheZoker suggestions?

[2016-04-02 15:04] sacdallago commented on #73
also CC @gyachdav @dmitry-n

[2016-04-02 15:37] TheZoker commented on #73
@Adiolis No it's pointing to the character at the end. You can't see it in Github, but if you run the grunt locally, you will see it in the consol. I fix it here: https://github.com/Rostlab/JS16_ProjectA/pull/131

[2016-04-02 16:01] kordianbruck commented on #130
Its already in there ;D

[2016-04-02 16:05] #73 closed

[2016-04-02 21:16] gyachdav commented on #103
okay guys let's solve this mess with the page rank

We currently have characters with page rank in the [0-1] range (normalized)
e.g.
https://api.got.show/api/characters/Gregor "pageRank":0.84

other characters have page rank in the  [1-300] range
e.g.
https://api.got.show/api/characters/Qyburn "pageRank":161

This means that not all characters were updated with the normalized page rank.

@sacdalla

[2016-04-02 21:20] sacdallago commented on #103
Well, I guess returning to your old page rank is not much hassle. I just need to `npm run updatePageRanks --update=characters` **I GUESS**?!

But having @Hack3l list extended to include also the characters that are missing now is more interesting to me!

Then someone would just need to replace the old file in the repo with the new one, I pull and run `npm run updatePageRanks --update=characters --

[2016-04-02 21:22] gyachdav commented on #103
will i have it done by the time I have my cereal tomorrow morning? :D

On Apr 2, 2016, at 5:20 PM, Christian Dallago notifications@github.com wrote:

[2016-04-02 21:29] sacdallago commented on #103
That sounds familiar! @Hack3l ?

[2016-04-02 22:02] sacdallago commented on #103
@gyachdav I am reverting the pageranks to the original ones.

@Hack3l please look at https://github.com/Rostlab/JS16_ProjectA/blob/master/data/normalizedPageRanks.json and https://github.com/Rostlab/JS16_ProjectA/blob/master/data/pageRanks.json and assign values to the ones present in the second file but missing in the first.

I counted and we are talking 2234 vs 2020, so a total of 214 missing!

[2016-04-03 09:44] mina-zaki opened #132 "Character PLOD by ID"
getting character plod by id always responses with 404 not found with an error message

[2016-04-03 09:45] mina-zaki opened #133 "Getting character PLOD by count"
getting character PLOD by count always returns an empty list

[2016-04-03 10:25] sacdallago commented on #129
There's actually no way to populate the PLOD collection. No NPM script, nor I see the collection on the db.

I **NEED** full hands on this issue, **now**.

@kordianbruck @Adiolis @togiberlin @boriside

[2016-04-03 10:29] sacdallago commented on #129
You don't even have the dependency in the package.json?!?!!!!

What the fuck guys, who was responsible for this?????

[2016-04-03 10:31] sacdallago commented on #129
@TheZoker @AlexMoroz @alschm

[2016-04-03 10:38] ghost commented on #129
Sorry, i can´t really help here, because i am not aware of the things that have been done according the PLOD. I am only as up-to-date as the issue #101.

I also see no possibility to fill the db by scraper or data json. So probably another group used the api @togiberlin implemented to fill the data?

I know that there has been some Plod data on @kordianbruck ´s server.

[2016-04-03 10:45] sacdallago commented on #129
@Adiolis that might have been mock data, because one quick look at the repos of **B** illuminates us all:
1. https://github.com/Rostlab/JS16_ProjectB_Group6/blob/develop/main.js that can be imported and called with the character name and the PLOD stored in the relevant collection
2. https://github.com/Rostlab/JS16_ProjectB_Group7/blob/develop/npm.js same thing.

Literally: Import package, for ever

[2016-04-03 10:46] sacdallago commented on #129
Actually, let me be even more specific:
1. https://github.com/Rostlab/JS16_ProjectB_Group6/blob/develop/main.js#L16
2. https://github.com/Rostlab/JS16_ProjectB_Group7/blob/develop/npm.js#L59

Don't get me wrong, I know you were not responsible for this. I know who was responsible for this. @TheZoker @togiberlin ( in part @CavidSalahov @AlexMoroz )

**EDIT** [I know my chickens](http://www.urbandic

[2016-04-03 10:50] ghost commented on #129
I notified the group on facebook. I can´t do that before Thursday. =/

[2016-04-03 11:04] TheZoker commented on #129
@sacdallago Which dependency is missing in the package.json? I don't fully understand what's going on right now
Do you mean the hole package of project B? https://www.npmjs.com/package/gotplod

[2016-04-03 11:07] sacdallago commented on #129
@TheZoker https://github.com/Rostlab/JS16_ProjectA/blob/master/package.json#L20
There should be the two packages from **B** somewhere here, and someone in **A** should be using them to generate the PLODs

[2016-04-03 11:19] TheZoker commented on #129
These are the missing dependencies, right?

[2016-04-03 11:19] sacdallago commented on #129
Step one.

[2016-04-03 11:20] TheZoker commented on #129
Am I responsible for anything else here?

[2016-04-03 11:21] AlexMoroz commented on #129
@TheZoker use "latest" for package versions

[2016-04-03 11:21] sacdallago commented on #129
@TheZoker no. thanks
but yes, @AlexMoroz is right

[2016-04-03 11:22] TheZoker commented on #129
@AlexMoroz Like `"gotarffplod": "latest"`?

[2016-04-03 11:22] AlexMoroz commented on #129
yes

[2016-04-03 11:24] TheZoker commented on #129
Done.

[2016-04-03 11:34] Hack3l commented on #103
Now it contains all 2234 values
If u want to normalize values on updating the database it's just `(value - min)/(max - min)`
[normalizedRanks.json.txt](https://github.com/Rostlab/JS16_ProjectA/files/201300/normalizedRanks.json.txt)

[2016-04-03 11:45] ghost commented on #103
I ´ve updated data/normalizedPageRanks.json.
@sacdallago Pull and run `npm run updatePageRanks --update=characters --file=data/normalizedPageRanks.json`

[2016-04-03 12:25] sacdallago commented on #103
Thx guys, I'll do that soon

**EDIT**: done.

[2016-04-03 15:24] sacdallago commented on #129
I'm still unhappily waiting.

[2016-04-03 15:40] ghost commented on #129
I tried to have a look into the package, but node gives me:

I have started npm install with the new package.json and also npm install gotplod.
Using the online test tool of npm gives me the same result:
https://tonicdev.com/npm/gotplod

@TheZoker @AlexMoroz

Edit: The files are in node_modules. Don´t get the problem with require...

[2016-04-03 16:47] gyachdav opened #135 "How does the API handle special characters?"
How do I get info for Roland Crakehall (Kingsguard)?

I tried https://api.got.show/api/characters/Roland%20Crakehall%20(Kingsguard)

but getting
{"message":"Failure. No character with that data existing!","data":{"name":{"$regex":"Roland Crakehall (Kingsguard)","$options":"i"}}}

do i need to reformat somehow?

[2016-04-03 16:59] jsalahov commented on #129
@Adiolis Fixed the problem with 'gotplod'. Download the new version.

[2016-04-03 17:13] AlexMoroz commented on #129
@Adiolis try also gotarffplod

[2016-04-03 18:27] ghost commented on #129
@sacdallago Here you go ;)
`npm run refill --collection=characterPlods`

But really the last thing i can do till saturday/sunday ;(
Crack the whip on the others :stuck_out_tongue_closed_eyes:

[2016-04-03 18:29] sacdallago commented on #129
Thanks @Adiolis .
Don't worry about things I'm gonna crack open.

I'm even upsetter now that I know you had to implement this :laughing: UPSETTER!

[2016-04-03 20:38] gyachdav commented on #103
hi @adiolis,

@sacdallago just refilled the database with the original pageranks (range [1-300])

What is the procedure he needs to run in order to half the page rank of characters with no image?

I remember you already implemented this just dont remember what is the command.

Thanks!

[2016-04-03 20:44] sacdallago commented on #129
https://api.got.show/api/plod

Thanks. @Adiolis .

[2016-04-03 20:44] sacdallago commented on #133
https://api.got.show/api/plod

[2016-04-03 20:44] #133 closed

[2016-04-03 20:44] sacdallago commented on #132
https://api.got.show/api/plod

[2016-04-03 20:44] #132 closed

[2016-04-03 20:45] sacdallago commented on #120
https://api.got.show/api/plod

[2016-04-03 20:45] #120 closed

[2016-04-03 20:45] sacdallago commented on #101
https://api.got.show/api/plod

[2016-04-03 20:45] #101 closed

[2016-04-03 20:53] gyachdav commented on #129
Thank @Adiolis

[2016-04-03 21:09] boriside commented on #135
@gyachdav https://api.got.show/api/characters/Roland%20Crakehall%20 is the way to get the info for Roland Crakehall (Kingsguard). But this isn't correct since Roland Crakehall (Kingsguard) and Roland Crakehall (Lord) exist in the database. I change the label of the issue.

[2016-04-03 21:18] sacdallago commented on #135
You could always use the `POST` request, but it's awful to use a `POST` for what is a `GET`

@boriside try expanding the `GET` functionality to also `GET` by slug, additionally to the char name and `_id`. I think that would solve the problem

**EDIT** and it should basically just mean to copy the function that gets by name, find on the slug instead of the name and add one line for the `GET` reques

[2016-04-03 22:20] sacdallago commented on #129
Yes. Unfortunately the odyssey is not over.

@Adiolis is not gonna work on this, so forget about him now. @kordianbruck or @togiberlin ~~please~~ do this.

What @Adiolis has done seems to be half of the job, When I run the https://api.got.show/api/plod I only get the predictions of one of the two predictors. I should get predictions for every character twice, depending on the predictor used. So I

[2016-04-04 06:33] ghost commented on #129
@sacdallago Basically duplicate the same thing for Group7/npm.js ? That are 5-10min. i can borrow.
I am only a bit unsure what values the property algorithm in the charactersPlod model should get.

[2016-04-04 06:37] ghost commented on #103
@gyachdav There is no special command to half the rank of characters with no images. I have just commented the according 3 lines out, because i thought this is no issue anymore with the normalized page ranks. Now i put the lines back.

Is there the need for such command or is this behavior always the same?

[2016-04-04 06:57] ghost commented on #129
@nicoladesocio @konstantinos-angelo @dan736923 @AlexMoroz
When doing `var plods = gotarffplod.init().getAllCharPredictions();` i get:

in node_modules i have the gotarffplod dir with also the "missing" prediction.json...

If this is fixed, i am done.

[2016-04-04 07:19] mina-zaki opened #136 "Character Plod IDs"
The character Plod iD is not the same as the character ID. therefore i cant ask for a specific character PLOD.
Maybe make an API for getting character Plod by name, since its the only consistent identification for characters we have

In this example you will find that the id of the character Plod is different from the id of the character
https://api.got.show/api/plod/byId/57017f23c5d04d80276b8739

[2016-04-04 07:21] ghost commented on #136
Is using the characterSlug a solution?

Sorry for the inconvenience, but i am not aware of all the PLOD discussion. I am just helping out :yum:

[2016-04-04 07:34] nicoladesocio commented on #129
The file prediction.json should be insidie the directory where the program runs, in this way it will be found

And init does not return the object, you need to separate the calls

[code]

I'll add this example and the documentati in in npm.js. In my environment it works

[2016-04-04 07:37] ghost commented on #136
I added an api call for /api/plod/bySlug/:slug . Is this sufficient?
@sacdallago: Please update the doc

[2016-04-04 07:43] ghost commented on #129
@nicoladesocio I am pretty sure, i don´t get this right, but to my understanding i need to copy all your files from node_modules into the base dir, what is not the idea of npm packages.

Edit: Okay, all jsons are sufficient, but for me it is strage that i have to copy them to my base dir. I can´t even put them into some subdir, because it is hardcoded in the package, which i should not change.

@s

[2016-04-04 07:48] nicoladesocio commented on #129
no, it should be enough to copy only predictions.json and attribute_contribution.json.

Otherwise I can modify the code, if it's sure that you find the files under './node_modules/gotarffplod'

PS: I am creating the documentation on the wiki now

[2016-04-04 07:49] ghost commented on #129
@nicoladesocio top.json has to be copied, too.
@sacdallago What do you think?

[2016-04-04 07:55] ghost commented on #129
@sacdallago `npm run refill --collection=characterPlods`
(but you have to copy the jsons from the node_modules/gotarffplod ; see above)

@mina-zaki algorithm is set to gotarffplod or gotplod depending on the package used.

[2016-04-04 08:06] sacdallago commented on #136
Ok - will do

[2016-04-04 08:12] sacdallago commented on #129
This is absolutely **not** the way to import npm packages, needs to be fixed now.
@AlexMoroz you had to package this project so please make it happen.
@TheZoker you can help on the **A** side should @AlexMoroz run into trouble.

**EDIT**: if the idea behind having the predictions file somewhere else was reusability, then:
1. You should have had a documentation long _before_ the deadline.
2. You sh

[2016-04-04 08:13] sacdallago commented on #129
I'm amazed that this still needs to be done at this stage.

[2016-04-04 08:23] jsalahov commented on #129
@nicoladesocio This happens because you use relative paths in your npm.js, when calling

[code]

Instead use path module (which is builtin node module, you just have to require/import) to resolve the path of the file:

[code]

Root folder changes when package is imported, so paths realtive to root won't work

[2016-04-04 08:25] nicoladesocio commented on #129
@CavidSalahov thanks, I was looking for this solution

@Adiolis it's done, you should now be able to use the package without copying the json files

[2016-04-04 08:31] mina-kleid commented on #136
@Adiolis Sorry for the late reply and thanks for adding it so fast.
Since the character name is the identification of the character we agreed upon. it will make life way easier for us to have an api for getting character plod by name (i.e plod/byName/:name)

P.S. its a nice to have :smile:

[2016-04-04 08:37] sacdallago commented on #136
I'll update the API and docs in about 20 min btw, currently not @ pc

[2016-04-04 08:41] sacdallago commented on #129
No. The packe was not deployed to npm

[2016-04-04 08:42] ghost commented on #136
Done. I am bit unsure, but i think that looking up characters with "()" in it, causes problems using the mongoose find method. That´s why the slugs have been introduced.
Please test.

If it is not working, please, @sacdallago, assign someone else on the task.

[2016-04-04 08:52] AlexMoroz commented on #129
Package deployed.

[2016-04-04 09:10] sacdallago commented on #136
https://api.got.show/api/plod/byName/edmure%20tully
seems to work

[2016-04-04 09:11] #136 closed

[2016-04-04 09:11] sacdallago commented on #136
For the parenthesis problem there exists another issue opened by guy

[2016-04-04 09:12] sacdallago commented on #135
So where does this stand @boriside ?

[2016-04-04 09:14] sacdallago commented on #129
Ok, I've updated the thing but now comes another observation:

why is there an imbalance towards the number of predicted characters with one alg and with the otherone? Is this wanted @goldbergtatyana ?

Look at the output of the call: https://api.got.show/api/plod/

If I filter by `gotplod` I get 1946 hits, if I filter per `gotarffplod` I get 174.

[2016-04-04 09:17] ghost commented on #129
@sacdallago Jep, i have noticed many characters with Plod unknown. I skipped them.

[2016-04-04 09:17] sacdallago opened #137 "Fix find on PLODS per algorythm"
https://api.got.show/api/plod/byAlgorithm/gotarffplod
https://api.got.show/api/plod/byAlgorithm/gotplod

just return the first hit on find, while they should return the whole list of PLODS for that alg.

Please inform @togiberlin because I haven't seen him on here ever since we started with the PLOD problems and he is the main responsible for this.

[2016-04-04 09:18] sacdallago commented on #129
Thx @Adiolis , let's wait for the answer of @nicoladesocio @goldbergtatyana or anyone involved in the `gotarffplod`.

It might as well be design, but it's good to know also for @mina-zaki who has to implement this in the froentend

[2016-04-04 09:20] ghost commented on #137
@sacdallago I´ve notified him on facebook.

[2016-04-04 09:21] sacdallago commented on #136
https://github.com/Rostlab/JS16_ProjectA/issues/135#issuecomment-205205531

[2016-04-04 09:24] ghost commented on #137
Just change
https://github.com/Rostlab/JS16_ProjectA/blob/master/app/stores/charactersPlod.js#L60

message[0] -> message.
Better remove the whole if clause since both cases are the same.

[2016-04-04 09:27] sacdallago commented on #137
Yeah, probably the check should be `.length > 0` otherwise `404`, but this is implemented like shit.

[2016-04-04 09:32] ghost commented on #137
The 404 check is in the controller.
Unfortunately in the beginning some mistakes have been done (like error not being the first callback parameter, but success or somewhat), that are now spread all over. We would have needed the presentations in the beginning and one experienced member in NodeJs :anguished:

[2016-04-04 10:09] sacdallago commented on #137
I agree.
I'll propose to change the way the seminar is hold with nex sem, there's a lot of space for improvement!

The thing that bothers me is mostly that @togiberlin disappeared. An -any- sign of life would have made a big difference in these days, especially considering that yesterday was the deadline and things **can** go wrong until the deadline

[2016-04-04 10:23] goldbergtatyana commented on #129
@sacdallago @Adiolis very well spotted! this should absolutely not be. The number of characters predicted by Group 6 (gotplod) is 1946 - which is correct, while the number of characters predicted by Group 7 (gotarffplod) is 1939 - this number is wrong.

[2016-04-04 10:26] sacdallago commented on #129
@nicoladesocio @konstantinos-angelo @dan736923 @AlexMoroz fix?

[2016-04-04 10:27] goldbergtatyana commented on #129
@s-feng apparently wrong prediction results got delivered to Group A. Can you please talk to  @nicoladesocio @konstantinos-angelo @dan736923 @AlexMoroz to fix it by providing results of test 5? Thanks so much!

[2016-04-04 11:39] boriside commented on #135
@sacdallago I added the commit get by slug yesterday. It should be tested.

[2016-04-04 11:40] sacdallago commented on #135
Can you test it and let us know?

[2016-04-04 11:42] ghost commented on #135
Please test character names/slugs containing "(" or ")".
I see there a problem.

[2016-04-04 11:55] boriside commented on #135
Should the server restart so the new things be integrated? If not I will test.  If problems I can work after 19:00 on it today. My other praktikum started.

[2016-04-04 12:36] dan736923 commented on #129
@goldbergtatyana This is because I removed some characters with invalid dateOfBirth/Death attributes (e.g. 298299) in test5. (Which also would have messed up age attribute) If you think it is useful, I can make another run including those characters and upload new JSON files.

[2016-04-04 12:38] AlexMoroz commented on #129
@dan736923 but now only 174 characters have plod

[2016-04-04 12:44] goldbergtatyana commented on #129
thanks @AlexMoroz for running the test.

@dan736923 but you used all of these features for the prediction of plods for 1939 characters. so, yeah, we do need plod predictions for all of them!

[2016-04-04 14:20] sacdallago commented on #135
I restarted the server when I told you to test. If you need me to pull yet another version and respawn just tell me

[2016-04-04 15:37] togiberlin commented on #137
@sacdallago I already announced it, I have on 6th April an exam. I suggest this seminar to be a 10 ECTS Praktikum. Then there is upwards a lot more room

[2016-04-04 16:08] togiberlin commented on #137
@sacdallago please pull newest version to server. Issue can be closed

[2016-04-04 16:13] togiberlin commented on #135
@gyachdav Correct would be `https://api.got.show/api/characters/Roland%20Crakehall%20%5C(Kingsguard%5C)`.
Before every `(` or `)` or `any other special char`, just insert `%5C`. This won't break the regular expression.
See also here: https://github.com/Rostlab/JS16_ProjectA/issues/111

[2016-04-04 16:14] #137 closed

[2016-04-04 16:15] ghost commented on #135
Probably we should escape special chars automatically?
http://stackoverflow.com/questions/3446170/escape-string-for-use-in-javascript-regex

[2016-04-04 16:52] TheZoker commented on #129
@AlexMoroz Do you need help with anything?

[2016-04-04 16:59] ghost commented on #129
@sacdallago This is no issue anymore for Project A, isn´t it? The filling of Plods and the API works.
I would close this here and well, open an issue on the other project, because to less data is provided.

[2016-04-04 17:01] ghost commented on #6
I don´t see that there will be change in the models anymore.
So, this task can be done and finished :smile:

[2016-04-04 17:03] ghost commented on #112
I can do that probably thursday. Otherwise Saturday/Sunday.
Probably you should assign someone else on this, @sacdallago ?
Basically it is just putting counter into the scraper and printing them out after the scraping. Or just looking into the final database and finding impressive numbers :stuck_out_tongue_closed_eyes:

[2016-04-04 17:06] ghost commented on #103
@sacdallago Have you updated the pageranks? According to gyachdav the normalized ones should also be halved.

[2016-04-04 17:07] ghost commented on #127
Any volunteers? :laughing:
@kordianbruck @boriside @togiberlin @theocheslerean @docjag  @alschm

[2016-04-04 17:13] gyachdav commented on #103
Please don't use the normalize values list. It is incomplete and using it messed up our data. All that is left to do here is just pull the changes @adiolis made in the code and then  run the pageRank filler again.

[2016-04-04 17:27] boriside commented on #135
Now bySlug works: https://api.got.show/api/characters/locations/bySlug/Eddard_Stark
@sacdallago please restart the server :)

[2016-04-04 18:47] AlexMoroz commented on #129
@TheZoker no,we've fixed it, thanks

[2016-04-04 19:19] #6 closed

[2016-04-04 19:21] sacdallago commented on #112
Yes! :D so deffer, I'm on mobile so everything is shit. @kordianbruck how would you feel about doing this?

[2016-04-04 19:23] sacdallago commented on #103
Oh.. I forgot? Mmhh well, I'll do it again just to be sure. You commented those three linea out @adiolis right?

**EDIT** Done :heavy_check_mark:

[2016-04-04 19:24] sacdallago commented on #135
Will do in ~20min

**EDIT** Done :heavy_check_mark:

[2016-04-04 20:22] sacdallago commented on #135
Yeah but you removed the `GET` plod by slug and name, that's sort of a dick move :D

[2016-04-04 20:23] sacdallago commented on #135
https://github.com/Rostlab/JS16_ProjectA/commit/07cb218d6336f0c3672a2019fb61d03acf249f50#diff-d640e5835a6b0c342cf705a06018c2b9L56

[2016-04-04 20:29] mina-zaki opened #138 "Requests to character Plod redirects to Docs"
Requests to get character Plod byName or bySlug redirects to the docs

https://api.got.show/api/plod/bySlug/Daena_Targaryen

[2016-04-04 20:37] sacdallago commented on #138
There you go @boriside

[2016-04-04 21:03] sacdallago opened #139 "api.got.show/api/characters/byslug crashes API"
https://api.got.show/doc/#api-Characters-GetBySlug

[code]

[2016-04-04 21:05] sacdallago opened #140 "Documentation is incorrect"
https://api.got.show/doc/#api-Characters-GetBySlug == https://api.got.show/doc/#api-Characters-GetByName

[2016-04-04 21:11] ghost commented on #140
Didn´t he fixed it here:
https://github.com/Rostlab/JS16_ProjectA/commit/c2858b330b2fdbbce4f43653dad7160b0a66e494

[2016-04-04 21:11] sacdallago commented on #135
Thanks @togiberlin
https://api.got.show/api/plod/bySlug/jon_snow

[2016-04-04 21:12] sacdallago commented on #135
Now there's only another couple issues I noticed and opened :laughing:

[2016-04-04 21:13] sacdallago commented on #140
He maybe forgot to tell me to update the documentation :dancer: can't really go through all his commits

[2016-04-04 21:13] sacdallago commented on #140
But it doesn't work, anyway

[2016-04-04 21:14] #140 closed

[2016-04-04 21:14] sacdallago commented on #140
P.S.: Thanks @Adiolis :)

[2016-04-04 21:16] ghost commented on #139
Fixed.

[2016-04-04 21:16] #139 closed

[2016-04-04 21:18] ghost commented on #138
Boris killed the routes before. He didn´t pull i think :laughing:
They are pushed again.

[2016-04-04 21:18] #138 closed

[2016-04-04 21:18] sacdallago commented on #139
Thanks @Adiolis
Please @boriside be careful when implementing feature and **test, test, test**

[2016-04-05 09:55] sacdallago commented on #135
This seems to be the winning solution:

https://github.com/Rostlab/JS16_ProjectA/issues/135#issuecomment-205371522

[2016-04-05 09:55] #135 closed

[2016-04-05 09:57] #71 closed

[2016-04-05 15:09] AlexMoroz commented on #129
gotarffplod@0.0.5 with new predictions is published

[2016-04-05 15:09] sacdallago commented on #129
Niiiice

[2016-04-05 15:10] ghost commented on #129
@sacdallago

[2016-04-05 15:10] sacdallago commented on #129
yeah yeah @Adiolis later, gotta run now :D

[2016-04-05 15:58] ghost commented on #129
You are not angry anymore, aren´t you? :laughing:

[2016-04-05 18:50] sacdallago commented on #129
nope, I'm just behind on work... Now it's done.

[2016-04-05 18:50] #129 closed

[2016-04-06 12:07] #77 closed

[2016-04-06 12:08] sacdallago commented on #77
Let's follow up on the main thread

[2016-04-06 12:12] sacdallago opened #141 "Clean up some character location data"
As mentioned [here](https://github.com/Rostlab/JS16_ProjectC_Group10/issues/235) @gyachdav has prepared a CSV with corrections of locations. It would be nice if there was a npm script that takes in such a formatted data sheet with a bunch of `position, character name` and delete the relevant information on the charactersLocation db :)

[2016-04-08 22:34] yashha opened #142 "Issue with api/plod/bySlug"
First there should be a strict option
and this url
https://api.got.show/api/plod/bySlug/Aegon_Targaryen_(son_of_Rhaegar)
gives only one algorithm back
but this
https://api.got.show/api/plod/bySlug/Aegon_Targaryen
gives also the other algorithm back

[2016-04-09 09:57] sacdallago commented on #142
I guess this is to attribute to the group that implemented the `gotarffplod`. They reformatted the names which are returned from the call of that-plod-for-that-char, apparently. There are two solutions to this:
1. @nicoladesocio @konstantinos-angelo @dan736923 @s-feng @AlexMoroz how much hassle would it be to make the name coincide with the input name? If that _is_ actually the issue here
2. @Adio

[2016-04-09 16:00] dan736923 commented on #142
Yes, the character names are reformatted.
"Aegon Targaryen (son of Rhaegar)" originally
--> "aegon targaryen son of rhaegar"  in JSON files of group 7

As far as I can see, you used getAllCharPredictions() to get a map with these reformatted names:
 {'aegon targaryen son of rhaegar': 0.826, ...}

A simple solution is to use getPlod(name), which simply does this:
 return map[ name.toString().toLowe

[2016-04-09 21:01] sacdallago commented on #142
I think the way to tweak this is to override it before saving it to the db, @Adiolis ? @boriside @togiberlin @kordianbruck

[2016-04-10 13:43] yashha commented on #142
Also I found out that the slugs are inconsistent:
https://api.got.show/api/plod/bySlug/Rus
"character": "Rus",
"character": "rus",

[2016-04-10 14:10] yashha commented on #142
Also this is not returning both plods :(
https://api.got.show/api/plod/bySlug/Daella_Targaryen_(daughter_of_Maekar_I)

[2016-04-13 15:20] kajo404 opened #144 "reddit found a bug"
is this a mistake in the db or where is the origin for alive/dead status?

[2016-04-13 15:25] ghost commented on #144
From the api:

[code]

Brienne has no dateOfDeath, so she should later on be considered as alive....

[2016-04-13 15:31] kajo404 commented on #144
So the error is somewhere else, will post in F I guess

[2016-04-13 17:32] sacdallago commented on #144
https://github.com/Rostlab/JS16_ProjectF/issues/421

[2016-04-13 17:32] #144 closed

[2016-04-25 16:02] sacdallago opened #145 "URGENT -- update of wiki pages for new deaths"
Hi A guys,

after the first episode, two new people are dead. They were indeed likely to die according to our predictions, which is **GOOD** 🎊

Now there are two points I'd like to cover, and I need help (I'm in the midst of setting up loadbalancers, caches, and other shit like that):

1. Is the Westeros wiki up to date? @togiberlin you have an account there
2. Can I refill the characters collecti

[2016-04-25 16:15] ghost commented on #145
I would recommend to always have a backup of the db, because the DOM of the awoiaf wiki can always change and the scraper could be not able to validate the data.
So it is a really good idea to use a new db and just switch to it as you suggested.

I am not aware of all dependencies of the scrapers, but i will look them up right now and write them into the README.

Unfortunately i am working the nex

[2016-04-25 16:24] sacdallago commented on #145
Ok! Thanks!

I would anyway always use the approach of having multiple node instances and then just swap out the config file with the latest version, backup the one before. I can setup virtually infinite parallel mongo instances

[2016-04-25 16:53] ghost commented on #145
Okay, done.

I would start with cities and characters. Then characterImages. (All are somewhere prerequisites)
After them, everything as you wish.

[2016-04-25 17:02] ghost commented on #145
@sacdallago
Don´t forget to update the pageranks, too. See readme at the end.

[2016-04-25 17:36] gyachdav commented on #145
whoa whoa easy there cowboy!!!!

@togiberlin **do not update the awoiaf wiki,** it follows the books not the show.

Also no one update characters status before we decide what we do next! This is an editorial decision we have not talked about and should not be done so lightly.  Remember that our site follows the books, not the show.

If there was any action that was made here, it needs to be rolled

[2016-04-25 18:26] togiberlin commented on #145
@gyachdav Ok!

[2016-04-25 18:29] togiberlin commented on #112
@gyachdav Can we close this issue? As far as I know, it's all here: https://www.got.show/statistics

[2016-04-26 07:32] #112 closed

[2016-04-27 19:37] #145 closed

[2016-04-27 19:42] sacdallago commented on #145
@Adiolis thank you very much for the README update and the hints! I think I will start creating a new database soon and test it on my test API machines, then swap out the DNS entries.
So much work, so little time :D

[2016-04-27 19:51] sacdallago opened #146 "News collection"
Dear all,

time has come to put some maintenance in the API side of life. This is voluntary and will not be graded, but it would we very nice from your side to do. After this you can officially write on your CV `contributor to opensource project of great success` and post the link to this repo as well as articles from the guardian and such :)

As I was mentioning the other day on the google group,

[2016-04-27 20:24] togiberlin commented on #146
@sacdallago I did the basic schema quickly. This week including weekend I'll be busy finalizing my master thesis outline and registration...Therefore I have quite limited time... 😕

[2016-04-27 20:55] sacdallago commented on #146
Thanks @togiberlin for this first jump into the problem :) maybe someone can take over from here :) Good luck with the thesis :O

[2016-08-10 02:17] sacdallago opened #147 "Relative paths"
1. Docs are loaded via relative path and not using `__appbase` which produces unexpected behaviors when launching the app not from within the same folder https://github.com/Rostlab/JS16_ProjectA/blob/master/startUp.js#L157

2. Images are accessed via relative path, which makes images not load if application is not started from within the root app's folder https://github.com/Rostlab/JS16_ProjectA/b

[2018-08-30 20:50] krystian50 opened #148 "Characters find requires token"
The endpoint:
`https://api.got.show/api/characters/find`

and body:
`{ "male": true }`

returns 401 and:
`{
    "message": "Need to send a token",
    "code": 401
}`

Is is correct?

[2018-08-31 18:19] sacdallago commented on #148
It is correct.

POST requests are limited on the current instance. The calls exists, but are enabled by the API via tokens. If you wish to publish the API locally (or somewhere else), you can use calls other than GET.

[2019-03-13 08:40] DIMCHERRY opened #149 "Certificate is invalid https://api.got.show/doc/#api-Ages-FindAges"
When I want to use "Postman" to get the datas from https://api.got.show/api/characters/.This result returned:
`Could not get any response
There was an error connecting to https://api.got.show/api/characters/.
Why this might have happened:
The server couldn't send a response:
Ensure that the backend is working properly
Self-signed SSL certificates are being blocked:
Fix this by turning off 'SSL cer

[2019-03-13 11:18] SakuraLittleRed commented on #149
Thanks，it works out again！

[2019-03-13 11:18] #149 closed