[2016-02-22 15:17] sacdallago opened #1 "Not able to establish a connection to database"
The mongoose connection doesn't work from the configuration file

[2016-02-22 15:18] sacdallago commented on #1
Fixed cde5c7a431f21af20c995b78ea82885725d1fb00

[2016-02-22 15:18] #1 closed

[2016-02-24 13:07] sacdallago opened #2 "Preliminary results"
Dear Project A members,
I remind all of you that the deadline is coming Monday, Feb 29th.

All people (group 2 and group 3) have now been added to this repository. We expect contributions from everyone (up to now there have been contributions only from @theocheslerean and @Adiolis )

Also use github issues for every issues related to the code and project, as every contributor (thus both groups) wi

[2016-02-24 13:15] kordianbruck opened #3 "NPM Install warning: UNMET PEER DEPENDENCY kerberos"
Related issue: https://github.com/balderdashy/sails/issues/3362

During install I'm getting: "npm WARN mongodb-core@1.2.24 requires a peer of kerberos@~0.0 but none was installed."

[2016-02-24 13:15] kordianbruck commented on #3
Fixed in https://github.com/Rostlab/JS16_ProjectA/commit/e30de57513cf02be1c0cfbbbaef66b6794d99745

[2016-02-24 13:15] #3 closed

[2016-02-24 13:22] kordianbruck opened #4 "Set up a document-oriented database (DB) + models"
- [ ] Create all models

[2016-02-24 13:22] kordianbruck opened #5 "Data extraction"
Preliminary results only(just lists with names, but no further information)

- [x] Characters: http://awoiaf.westeros.org/index.php/Portal:Characters
- [ ] History: http://awoiaf.westeros.org/index.php/Timeline_of_major_events
- [ ] Culture: http://awoiaf.westeros.org/index.php/Portal:Culture
- [ ] Geography: http://awoiaf.westeros.org/index.php/Portal:Geography
- [x] Houses: http://awoiaf.westero

[2016-02-24 13:24] kordianbruck opened #6 "Visualize the schema of the database"
To give people an impression on how it is structured

[2016-02-24 13:25] kordianbruck opened #7 "Provide API to data"

[2016-02-24 13:25] kordianbruck opened #8 "API: mine tweets and combine with data from db"
To mine: https://twitter.com/search?q=Game%20of%20Thrones&src=tyah&lang=en
- [x] Create GET Twitter Stream by Keywords service
- [x] Add the function to stream multiple, real-time Tweets

[2016-02-24 13:25] kordianbruck opened #9 "Visualize the statistics: how many data points and what are they?"
- [x] Convert JSON to csv
- [x] Import data to Google Fusion Tables
- [x] Find interesting facts to GoT Characters
- [ ] Find interesting facts to GoT Episodes
- [ ] Find interesting facts to GoT Houses
- [ ] Keep statistics up-to-date with model changes as best as possible

Please check `/wikiData/statistics/`

[2016-02-24 13:27] kordianbruck commented on #2
@sacdallago "preliminary results for review" - this means we can also keep working the week after right?

[2016-02-24 14:40] theocheslerean opened #10 "Provide Schemas DB"

[2016-02-24 14:52] theocheslerean opened #11 "Provide Controllers for DB"

[2016-02-24 14:58] #11 closed

[2016-02-24 14:58] #10 closed

[2016-02-24 15:54] sacdallago commented on #2
@kordianbruck correct. But the DB strutture should be very well defined, possibly some example data populate it and the extraction from the wiki should also be in a good state as other teams will start working on that data. If, then, you still need to define the api better and adjust the extraction of data, you have one week.

[2016-02-24 16:05] kordianbruck commented on #11
If you have fixed/finished the issue, please say which commit you are referring to, just so other people know what happend.

[2016-02-24 16:05] kordianbruck commented on #10
Did we really already create all schemas needed?

[2016-02-24 16:08] kordianbruck opened #12 "Add sample data"

[2016-02-24 16:09] kordianbruck commented on #2
So till monday the following issues must be done:
- [x] DB strutture should be very well defined #4
- [x] some example data #12
- [x] extraction from the wiki #5

[2016-02-24 17:18] sacdallago commented on #2
:+1:

[2016-02-25 20:04] togiberlin commented on #4
Somehow I can't assign more than one person on this task. However, let me announce here that I will be supporting docjag.

[2016-02-25 20:25] togiberlin commented on #7
I can support Adiolis in writing some Express.js routes

[2016-02-25 22:39] sacdallago commented on #4
Issues are a one-to-one thing. You can though create issues that reference other issues and assign these to someone else.

The rationale behind is: Keep issues small! This issue is clearly too big and needs to be separated into different smaller ones like: "Create model for houses, references #4", aso.

P.S.: in this bigger issue you can use a checkbox list like the one @kordianbruck started refer

[2016-02-26 10:15] boriside commented on #6
I start work on this task

[2016-02-26 19:45] togiberlin commented on #8
@sacdallago How long should I let the web crawler run? 1, 2, 3 days?
What size in MByte is sufficient for our task?

[2016-02-27 13:02] Adiolis opened #13 "House model"
[House model](https://github.com/Rostlab/JS16_ProjectA/blob/master/app/models/house.js)

I fixed some problems there, but still some work is needed i am not sure about.
_id as previously defined is not working. (No error with actual code, but no success when adding to collection either). An (pretty unreadable) id is set automatically by mongoose. Defining id as Number has the problem that, when ad

[2016-02-27 13:20] kordianbruck commented on #13
_id is the default PK assigned by MongoDB and it will always be that ugly string of characters. I would advise against using a custom number unless we directly fetch the PK ID from the wiki. Otherwise the Inserts will be really slow as we first have to run a query if the ID already exists - not the case with the default MongoDB way of doing it. If its only about relationships you should simply add

[2016-02-27 16:26] sacdallago commented on #8
@togiberlin you are talking about the Stream API right? Twitter also gives you access to the normal RESTapi. Stream API is only for live data, while you might want to work on historic data.
Integrating the StreamAPI makes sense if you want to create a stateful service with eg. a websocket so that the client can be updated with new data.

Hope I made myself clear, let me know otherwise!

[2016-02-27 17:23] Adiolis opened #14 "Delegate functions return undefined instead boolean!?!"
Hello everyone,

i have no clue why the functions here:
https://github.com/Rostlab/JS16_ProjectA/blob/master/app/stores/houses.js
always return undefined instead of a boolean.

One delegated call is for example here:
https://github.com/Rostlab/JS16_ProjectA/blob/master/app/controllers/house.js

Any ideas?

Stores are later useful for the scrapper part, that then have not to simulate a request to t

[2016-02-27 17:45] theocheslerean commented on #13
We also have to model a schema for the houses types

[2016-02-27 17:54] theocheslerean opened #15 "Add HouseType Schema"

[2016-02-27 18:05] #15 closed

[2016-02-27 18:06] theocheslerean opened #16 "Change the lord fields in House Schema from String to Reference"

[2016-02-27 18:07] #16 closed

[2016-02-27 18:07] #13 closed

[2016-02-27 18:09] theocheslerean opened #17 "Fixed syntax, mistakes and other"
When you are correcting some mistakes or the commas, link the commit to this issue, to be sure we have almost everything covered by the issues

[2016-02-27 18:10] ghost commented on #14
Okay, got it.
In nodeJs returns have to be implemented as callbacks. Will fix the code.

[2016-02-27 18:20] #14 closed

[2016-02-27 19:51] sacdallago commented on #14
:+1: in JS to wait for a certain event, you would use Promises and .then() as explained: http://www.html5rocks.com/en/tutorials/es6/promises/?redirect_from_locale=de

[2016-02-27 22:46] sacdallago opened #18 "Fix status codes"
Hello everyone,

First off: Nice work! We are liking the effort you have put so far!

Now a little remark on status codes [wiki](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes), [W3](https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html):

- 200 is OK, which means the resource requested has been found and is returned in the body, usually
- 201 is CREATED, the resource was not there and

[2016-02-27 22:59] ghost commented on #18
Ty =)
Will update them.

[2016-02-28 09:34] kordianbruck opened #19 "API Documentation - use apidoc?"
We need to explain to the other teams what API endpoints we have and what purpose they serve. I would suggest to use apidoc (http://apidocjs.com/) for this purpose and use the inline commenting feature to provide a nice UI for the RESTful servicec

- [x] House
- [x] Episode
- [x] Character
- [ ] Scraper
- [x] Geography

[2016-02-28 09:41] kordianbruck commented on #8
As per the information from google groups: we should definitely use an twitter client and implementation in JS. More information here:
- https://www.npmjs.com/package/twitter
- https://dev.twitter.com/rest/public

[2016-02-28 13:34] togiberlin commented on #8
@sacdallago Got it. https://github.com/Rostlab/JS16_ProjectA/wiki/Get-Twitter-stream-by-keywords
P.S. I'll leave the webcrawler + readme-howto-file there if the following Projects B/C/D etc. decide to do some Text Mining on historic data.

[2016-02-28 13:42] theocheslerean opened #20 "Populate DB - Add some data to be fetched"
- [x] mine Houses
- [x] mine Characters
- [x] mine Culture
- [x] mine History
- [x] mine TV episodes
- [x] mine Regions

[2016-02-28 13:44] theocheslerean commented on #20
Create some scripts in the scripts directory to accomplish the task

[2016-02-28 13:52] kordianbruck opened #21 "TypeError: Cannot read property 'ObjectId' of undefined"
Does anyone have an idea on this bug? Google yields no help...

[2016-02-28 13:55] kordianbruck commented on #20
Is this not what the scraper should be doing?

Also how is this different to #12 ?

[2016-02-28 14:18] sacdallago commented on #21
You seem to be trying to access the property of an object that doesn't exist or doesn't contain such property.

check the stack trace, that gives you plenty info, for example: look at
`JS16_ProjectA/app/controllers/episode.js:1:82`

Also, you can use `node debug app.js` and set some `debugger;` where you want to start debugging. Then use `n` to go on step by step execution or `c` to continue execu

[2016-02-28 15:24] kordianbruck commented on #21
The problem is not with the controller but with the model: https://github.com/Rostlab/JS16_ProjectA/blob/master/app/models/episode.js

`Schema.types.ObjectId` is not defined by me but should come from mongoose, so not really something I can influence. Maybe I'm missing something but the error is not apparent to me...

Plus: line 1 only has like 50 characters so the last line in the stacktrace abou

[2016-02-28 15:33] ghost commented on #21
I omitted in the models i touched the explicit _id definition. It is not really necessary. An (ugly) unique id string is automatically assigned to each db document.

[2016-02-28 17:01] Adiolis opened #22 "Copying no final artifacts"
Heyho everyone,

I´ve noticed that some of my controllers, stores for houses have been duplicated for episodes/characters. These house entities are not final yet (status code fixes, callback changes, some more api calls, renaming methods and so on).

Thus, i would recommend to work step by step and have one api part fixed and then to do the copy, paste stuff. Editing it again and again and having

[2016-02-28 18:48] theocheslerean opened #23 "Fixed schemas"
Inconsistencies in schemas

[2016-02-28 19:38] Adiolis opened #24 "Stick to notation createdAt <-- created_at"
Hello everyone,

i´ve noticed that the notation is not consistent all over the app.
Please use the initial notation createdAt instead of created_at.

In other words: use camelCase instead of snake_case.

[2016-02-28 19:52] kordianbruck opened #25 "Controller/Store: Culture"

[2016-02-28 19:52] kordianbruck opened #26 "Controller/Store: History"

[2016-02-28 19:52] kordianbruck opened #27 "Controller/Store: Geography"

[2016-02-28 20:03] ghost commented on #22
I got the episodes controller/store up to date. I actually did a lot of edits on the houses controller/store today ;)

[2016-02-28 20:09] Adiolis opened #28 "Controller/Store: Episodes"
Hi,

i got the controller, store, routes according episodes up to date.
Still testing of the use cases is required. (API works as like the one of houses, but with route episodes instead houses)

Bye

[2016-02-28 20:18] Adiolis opened #29 "Model Character"
i don´t think the property battles should be in this model.
Imagine a new occurring battle. First you have to add a new battle (with characters property!) and then edit every character occurring in it, instead of just defining them in the new battle entry.

What i also don´t like are the relationship properties like brothers.
This is bidirectional and therefore there is the possibility that the db

[2016-02-28 20:44] Adiolis opened #30 "Testing - Controller/Store: Characters"
I got the controller, store, routes according characters up to date. (They are just a "duplicate" of the houses stuff.)
Still revision, testing of the use cases is required. (API works as like the one of houses, but with route episodes instead houses)

[2016-02-28 20:53] ghost commented on #23
The schema needs further explanation.
What´s an event, age?

I don´t see that we are distinguishing between the books and tv episodes at all.

[2016-02-28 21:13] boriside commented on #23
They all respond to "history":  In the timeline here: http://awoiaf.westeros.org/index.php/Timeline_of_major_events we have for example: Age of Heroes and in it Age of Heroes:,    The Long Night:, Building of the Wall: and The Night's King: events.

[2016-02-28 21:15] boriside commented on #23
I will create comments and attach them now

[2016-02-28 21:44] ghost commented on #26
I am not sure, what the controller/store and its API will do.

[2016-02-28 22:50] Adiolis opened #31 "Fix dates in models"
Hey everyone,

the types for dates like 126 AC are inconsequently defined in the models.
I am not sure how detailed the dates have to be. (day, month, only years, or even only ages?)
If only the year is interesting, then i would just use a number.
Negative number for BC, positive for AC.
If we want to omit negative numbers, we can use a flag.
If more detailed information like the day is required,

[2016-02-28 23:33] gyachdav commented on #31
Only the year is interesting.

[2016-02-29 02:43] kordianbruck commented on #22
Its not the number of commits or the lines you change - that would just be foolish to take that as a measurement. Its more if you were active throughout the project and contributed something everyday, no matter what. You could've C&P the code yourself ;D

Thanks for your great work though, much appreciated! Its a group effort :+1:

[2016-02-29 02:47] kordianbruck commented on #21
Great! So we don't need to add that instruction there explizitly. That was what I was thinking, but I thought maybe someone else already put some thought into it :tada:

This issue was fixed by the typos in https://github.com/Rostlab/JS16_ProjectA/commit/0d9ecff3ab2dd3adce1f6625af272139f1976723

[2016-02-29 02:47] #21 closed

[2016-02-29 03:24] kordianbruck commented on #28
Is there some way of automating those tests? We can't test every API endpoint every time right?

[2016-02-29 20:36] sacdallago commented on #2
@Rostlab/js_cs_sose_2016_students

Team members of **Project A**: Please report here your intermediate results Today.
That is:
- [ ] How to access the data that you already downloaded? (retrieve data)
- [ ] Explain how other teams can use your DB,
- [ ] How it is structured,
- [ ] How you can generate data (from the wiki to the database),
- [ ] Anything else?

**Everyone else**: Please ask your qu

[2016-02-29 20:42] sacdallago commented on #18
Can this be closed?

[2016-02-29 20:44] sacdallago commented on #6
Needs to be closed today, report on #2

[2016-02-29 20:45] sacdallago commented on #23
This seems like a duplicate of #6
I close this, continue the discussion there

[2016-02-29 20:45] #23 closed

[2016-02-29 20:47] sacdallago commented on #9
This issue needs further explanation please!

[2016-02-29 20:48] sacdallago commented on #31
Needs to be decided today as part of the data model described in #6 / Other teams need to know how this data is gonna be represented

[2016-02-29 20:49] sacdallago commented on #29
Needs to be solved today, #2

[2016-02-29 20:51] sacdallago commented on #27
Also needs to be closed today, #2

[2016-02-29 20:51] sacdallago commented on #26
Also needs to be closed today, #2

[2016-02-29 20:51] sacdallago commented on #25
Also needs to be closed today, #2

[2016-02-29 20:51] sacdallago commented on #24
Has this been solved? If yes please close the issue

[2016-02-29 20:52] sacdallago commented on #22
I assume this has been solved, I close the issue

[2016-02-29 20:52] #22 closed

[2016-02-29 20:52] sacdallago commented on #20
Agree. This or/and #12 have to go!

[2016-02-29 20:53] sacdallago commented on #17
If done, please close.

[2016-03-01 08:49] boriside commented on #9
How should we complete the visualisation? What datas can/ should we use?

[2016-03-01 11:57] gyachdav commented on #2
Did you hear back? We didn't get anything from them.

Sent from my iPhone

[2016-03-01 12:08] ghost commented on #2
Left a message on google groups about this issue, let's see if that has any effect.

[2016-03-01 14:48] ghost commented on #2
It seems that no one besides me is actually working on these preliminary tasks (API, DB, Controller, Stores) and they are a bit too much for me alone in this short period of time, where i also got a tooth replaced (yesterday ;) ). I know, Boris and Theo are working on the scrapper stuff, but i could really need help to get this basic stuff done.

[2016-03-01 14:57] theocheslerean commented on #17
No. This issue should not be closed until the end. Because there will be more syntax problems. This issue is just to have an overview of the corrections

[2016-03-01 15:15] ghost commented on #4
I am closing this, since this issue is way too big. For parts of the db, create an issue if necessary.

[2016-03-01 15:15] #4 closed

[2016-03-01 15:15] gyachdav commented on #2
Note that even if you are not done with the API, it is still important that you provide other projects with the datasets that you already managed to get up till now. So this is not just your effort Michael but should be the entire group that is working on the scraper and the models.

On Mar 1, 2016, at 9:48 AM, Michael Legenc notifications@github.com wrote:

[2016-03-01 15:19] ghost commented on #2
Actually i described already some api calls in the wiki of this repo.
https://github.com/Rostlab/JS16_ProjectA#services

Is that sufficient? After the models are final/fixed (i am actually reviewing them), i will add a description of them.

[2016-03-01 15:23] gyachdav commented on #2
Others projects need to be able to start pulling data from your database. Is there such database that can be accessed by other groups?

If not and you did not get around to making the database publicly accessible then we would like you to at least publish the structured datasets you managed to get off the wiki.

Let us know if that is clear.

On Mar 1, 2016, at 10:19 AM, Michael Legenc notificatio

[2016-03-01 15:24] kordianbruck commented on #2
@gyachdav do we have a server we can set this up on? currently everyone is using a local installation...

[2016-03-01 15:26] ghost commented on #2
I already set up a mongoDB on mongoLab. We passed around the credentials on a more secure way.  I actually don´t know how we will manage this with the others groups.

[2016-03-01 15:26] kordianbruck commented on #2
@Adiolis great to know - why was this not mentioned anywhere on Github or G-Groups?

[2016-03-01 15:28] ghost commented on #2
It has been mentioned several times. We also have been stuck on this issue unless Christian helped us out. He provided the working code for this. Probably you missed that since the other group was formed pretty late.

[2016-03-01 15:29] kordianbruck commented on #2
@Adiolis please point me to the posts, that contain the credentials or information for accessing the api - thanks!

[2016-03-01 15:35] gyachdav commented on #2
Ideally you should've found a hosting solution and serve the results from there. As I mentioned in my previous note if such a solution does not exist, then just publish the datasets (you can just put them into a dedicated branch on your github repo).

We can provide a server for you to host the db but that will take a bit of time. We need to know what the specifications for such a box will be (e.g

[2016-03-01 15:39] sacdallago commented on #2
@kordianbruck stay sassy ;) no need to get upset @Adiolis I am aware of mongoLab and I am aware of how to find things in your code, but other groups are invited to come here (this issue) to find all relevant information. You should maybe point out who to ask for the mongolab credentials, put a link to the db schema that @togiberlin posted, put the link (although obvious) to where the api informati

[2016-03-01 15:57] ghost commented on #2
This all has been discussed with Christian, who has helped us with this issue a lot since we have been unable to connect to the db for about 2 days. He fixed that. The database is working and online, but not filled with data yet, since the scrapper is not linked with the stores and the models are not fixed yet (theo and i are working on that today). Thus, some of us are still working locally with

[2016-03-01 15:58] kordianbruck opened #32 "Public Server Infrastructure available now"
So apparently we are required to provide a public api that can be access by everyone and I didn't know about it. Discussion in issue #2

I've quickly set it up on my own personal server here: http://got-api.bruck.me  (SSL is coming soonish)
Documentation for the API can be found here: http://got-api.bruck.me/doc/ (not complete, issue #19)

Suggestions welcomed!
@gyachdav @sacdallago is this suffic

[2016-03-01 16:00] sacdallago commented on #32
Nice! Put http://got-api.bruck.me link in #2 PLS and a link to the routes (readme of this repo)

[2016-03-01 16:05] ghost commented on #32
I´ve been already setting up wiki sites for this purpose with some further information just like the example login API.
https://github.com/Rostlab/JS16_ProjectA/wiki
For me this solutions is also okay, but can we enrich it with information about expected results?

[2016-03-01 16:07] kordianbruck commented on #32
Now with https: https://got-api.bruck.me/api :star2: :dizzy:

@Adiolis yes, I've mentioned in issue #19 we should use something more sophicticated than wiki pages for API documentation. And yes you can add expected results like success or errors - please check the docs for further information: http://apidocjs.com/#param-api-success-example

[2016-03-01 16:08] ghost commented on #32
Well, fine for me.

[2016-03-01 16:14] ghost commented on #31
Since no one is really fighting about the best solution, i would say, we use type Number?

[2016-03-01 16:14] gyachdav commented on #32
Great! We will try to find a more permanent hosting solution for you later this week. Stay tuned.

In the meantime, can we advertise this access point to the other students? When do you expect to have the data populated?

On Mar 1, 2016, at 11:00 AM, Christian Dallago notifications@github.com wrote:

[2016-03-01 16:16] ghost commented on #32
Theo and i are trying to populate the db today. So i suggest until tomorrow morning.

[2016-03-01 16:16] kordianbruck commented on #32
@gyachdav it can stay on my server for the time of the seminar - no problems.

And yes, I've already added it to the Readme. Data will be in as soon as we have the scraper finished. I'm hoping today or tomorrow.

[2016-03-01 16:17] kordianbruck commented on #31
Yes Integers / Numbers should be just fine. AC/BC with postive/negative numbers makes sense as well :+1:

[2016-03-01 16:20] kordianbruck opened #33 "TravisCI"
@sacdallago @gyachdav

can we get TravisCI activated for this repository so we can use jslint and other automated testing tools for better code quality?

For that please go to https://travis-ci.org and log in using an account that has admin rights to this repo.

I can also do it, if I get assigned admin access to this repository.

[2016-03-01 16:24] gyachdav commented on #33
Loop in Project E, this is under their responsibility. here is the thread where they started discussing CI

https://groups.google.com/forum/#!topic/javascript-technology-2016/PjCceqwfwJw

On Mar 1, 2016, at 11:20 AM, Kordian Bruck notifications@github.com wrote:

[2016-03-01 16:24] theocheslerean commented on #2
The scraper works for the houses, characters and episodes. It returns an array with only the names of them. Still have to work out how to get the rest of the information, say for example for a character.

[2016-03-01 16:26] kordianbruck commented on #33
I know, but it would save us headaches when people push broken code right now. I can quickly configure a basic setup in a couple minutes, I just need someone to activate the integration :grinning:

[2016-03-01 17:05] Adiolis opened #34 "Still model issues to fix"
I am reviewing models and noticed following problems:

- Battle: I don´t get the event property there. I don´t see any event description in the wiki sites (for example: [Battle of Ashford](http://awoiaf.westeros.org/index.php/Battle_of_Ashford).
- Character: See Issue #29
- House: Property "founded" could maybe just reference ages. Not sure how detailed this is known.

In almost all schemas:
We ar

[2016-03-01 17:06] ghost commented on #31
I fixed it now. Close.

[2016-03-01 17:13] ghost commented on #19
I am working on the houses API doc ;)

[2016-03-01 17:17] kordianbruck commented on #33
Added all configuration in: https://github.com/Rostlab/JS16_ProjectA/commit/b5cd87123f1a40d2d8e55f66e8be1763aff3fa23

Current status can be view at: https://travis-ci.org/kordianbruck/JS16_ProjectA

I need to push to my fork currently till it rebuilds. When the tutors/admins finally activate it for this main repo then it should work immediately.

[2016-03-01 17:22] ghost commented on #19
I am not assigning myself to the whole task. Help is appreciated ;)

[2016-03-01 17:40] kordianbruck commented on #24
I've searched for any occurrences, but there are none. So yes, this is fixed.

[2016-03-01 17:40] #24 closed

[2016-03-01 17:41] kordianbruck commented on #12
Will be continued in #20

[2016-03-01 17:42] kordianbruck commented on #20
@theocheslerean maybe you can even integrate them with grunt?

[2016-03-01 18:34] kordianbruck commented on #19
I'll work some more on episodes

[2016-03-01 19:33] kordianbruck commented on #18
Yes, I think we have proper codes in all the routes now.

[2016-03-01 19:33] #18 closed

[2016-03-01 19:34] kordianbruck commented on #7
Through #32 we now provide the API as a public interface to everyone. So I think this is fixed.

For controllers see the other issues.

[2016-03-01 19:34] #7 closed

[2016-03-01 19:35] kordianbruck commented on #17
You can still reference the issue from commits, even when its closed.

I will close it, so we get a better overview what actually still needs to be done.

[2016-03-01 19:35] #17 closed

[2016-03-01 19:37] kordianbruck commented on #6
The current visualization can be found here: https://github.com/Rostlab/JS16_ProjectA/blob/master/misc/schema_visualization/Database%20Model%20draft%202.png

@boriside can you update the schema once more with the changes from today?

[2016-03-01 19:39] kordianbruck commented on #32
I will close this issue as well for now.

Anything regarding the server, please let me know in a new issue.

[2016-03-01 19:39] #32 closed

[2016-03-01 19:41] kordianbruck commented on #30
We can automate testing using nodeunit. Together with TravisCI #33 we would then get notifications for failed tests.

Check https://github.com/Rostlab/JS16_ProjectA/blob/master/test/default.js for an example test.

I've opened up an issue in project E, as this is their task actually: https://github.com/Rostlab/JS16_ProjectE/issues/2

[2016-03-01 19:51] kordianbruck commented on #34
- House / founded: just leave it in there for now. If we have the info some where we might add it. Otherwise we can still remove it later.
- I've removed the houses property in region - that really makes no sense.
- Battle: we are not required to do this at all. At least it is not meantioned in #5

[2016-03-01 19:54] kordianbruck commented on #29
I vote to remove battles altogether as it is not an requirement by the official project description.

Whats your suggestion otherwise in terms of modeling the relationship? I fear we don't have much of a choice here...

[2016-03-01 19:56] ghost commented on #6
But start after the model issues are closed ;)

[2016-03-01 20:19] ghost commented on #34
I don´t know whose idea the battles model was, but i think the reason for it are the characters and charactersDied properties. For me it nonetheless is not supporting the other "Who dies next" project and so can be removed. (I actually don´t know how our db will support them anyway)

There are still some strange relations between models.
Skill <-> Characters
Characters <-> Episodes
...

[2016-03-01 20:25] ghost commented on #29
Normally further models should be introduced. One for parent, sibling and so on. This will lead than to an overkill of controllers/stores/API calls.

But do we need this kind of information at all?

Other strange properties:
- episodes (n:m relation)
- placeOfX (reference to region/continent model?)
- event name (dateOfBirth makes this pretty clear)

[2016-03-01 20:28] ghost commented on #19
I finished the houses controller comments. Could you please take a look?
Most are examples since a more general description is not precise enough.

[2016-03-01 20:43] Adiolis opened #35 "Stores´ getById(), getByName() return array"
Hi,

i discovered following bug.
The methods getById/getByName of all stores callback an array and not just the one json object.
Since ids and for example house names are unique, it is strange that the return type is an array.

[code]
I don´t know how to fix this quickly since it is delegating the callback to the more general get method, that is required to return an array, and something like
[cod

[2016-03-01 20:47] gyachdav commented on #34
Keep in mind that the "who dies next" may actually post an issue requesting this feature. By definition your project /is/ supporting everyone else:

Description: In this project we will lay the foundations for our system by integrating data from multiple sources into a central database. The database will serve the apps and the visualization tool that will be developed in other projects.
https://ro

[2016-03-01 20:52] sacdallago commented on #17
:+1: @kordianbruck that's the way to go

[2016-03-01 20:54] sacdallago commented on #33
@kordianbruck Done, but PLEASE, PLEASE let the members of E take care of this. This is out of the scope of your project!!!!!!!!

[2016-03-01 20:54] #33 closed

[2016-03-01 21:02] sacdallago commented on #6
Aaaand then also put the link on the famous #2 :dancer: I will never get tired of tangoing around

[2016-03-01 21:04] sacdallago commented on #35
Who wrote this code? Can that person be assigned as assignee? Thx @Adiolis

[2016-03-01 21:21] ghost commented on #35
I fixed it =)

[2016-03-01 21:21] #35 closed

[2016-03-01 22:49] boriside commented on #6
Yes I will do it. Sry I don't actually get all messages so I response with a delay. But I will do it :)

[2016-03-01 23:17] kordianbruck commented on #33
@sacdallago thanks!

[2016-03-01 23:19] ghost commented on #19
I am working on character and geography.
Still scraper (and history?) left.

[2016-03-01 23:34] theocheslerean commented on #5
the function getAllHouseDetails is the function that fetches information about every house and returns an array of houses

[2016-03-01 23:37] kordianbruck commented on #34
I would as with other issues not make battles part of version one. If another project needs something changed, they are welcomed to submit an issue. I would like us to focus on the things mentioned in #5 - which battles is not part of. Commented it out for now...

Others:
- Skills clearly are something that needs to be stored with a character
- I changed it to episodes having characters. Usually t

[2016-03-01 23:40] #34 closed

[2016-03-01 23:45] kordianbruck commented on #29
Again: we can comment it out for now and deal with it when someone needs it. I just commented out all the relationships that are too complex for our current situation.
- Episodes got removed
- placeOfX is that not the city? We don't have that modeled yet?
- eventName removed

[2016-03-02 00:03] #29 closed

[2016-03-02 00:07] kordianbruck commented on #19
Finished for now, till we know how to actually do the scraper.

I'm not even sure we should need api docs for that, as the scraper should only be triggered manually via the console.

[2016-03-02 00:07] #19 closed

[2016-03-02 00:09] ghost commented on #28
For now everything is okay. Reopen if new issues occur.

[2016-03-02 00:09] #28 closed

[2016-03-02 00:09] ghost commented on #27
Done.

[2016-03-02 00:09] #27 closed

[2016-03-02 00:10] ghost commented on #25
Done.

[2016-03-02 00:10] #25 closed

[2016-03-02 00:10] ghost commented on #30
For now everything is okay. Reopen if new issues occur.

[2016-03-02 00:10] #30 closed

[2016-03-02 00:13] kordianbruck commented on #9
@sacdallago yea, I would like some better explanation as well. I've copied it from the Wiki. Maybe the tutors can figure out something more descriptive?

[2016-03-02 00:15] kordianbruck commented on #6
@boriside we have finalized the schema currently. Please finish the overview.

@sacdallago you are great at it!

[2016-03-02 00:22] kordianbruck opened #36 "Database filler & wiki scraper / Wiki too slow / Inconsistent data /"
@sacdallago @gyachdav

We are currently trying to scrape data off the wiki into our database but it is awfully slow and really not a practicable method. What is the status of the database dump you promised?

In addition many data fields are not consistent across individual pages - any idea how to approach this?

Issues #5 #2 #20 are relying on a fix on this

[2016-03-02 00:24] ghost commented on #36
Yeah, we, group2, agree.

[2016-03-02 00:27] kordianbruck commented on #26
@Adiolis according to #5 we should simply setup a timeline of the history listed on that page. Maybe with reference to characters and regions as a starter

[2016-03-02 00:35] gyachdav commented on #36
mysql dump can be fetched from
https://www.dropbox.com/s/uomk7vsl94fc3b4/WoIaFDB20160228.sql.gz?dl=0

[2016-03-02 09:56] boriside commented on #6
@kordianbruck I'm currently working on it.

[2016-03-02 09:59] boriside commented on #6
@kordianbruck  how to annotate the required fields :)?

[2016-03-02 10:00] kordianbruck commented on #6
In ERDs you use Bold font on required fields, as far as I can say...

[2016-03-02 10:03] boriside commented on #6
and for the one to many references: lets say characters: [{type: Schema.Types.ObjectId, ref: 'Character'}]: should it be "characters: ref Character" or "characters: [ref Character]"

[2016-03-02 10:59] kordianbruck commented on #6
Second option I would say...

[2016-03-02 13:56] gyachdav commented on #36
Did you manage to install the db? are you done populating your db?

[2016-03-02 15:04] ghost commented on #26
@alschm  Are you still working on it? Please assign an issue to yourself if you start working. =)

[2016-03-02 15:10] alschm commented on #26
sry, i think i've finished it a couple of minutes ago

[2016-03-02 15:11] ghost commented on #26
Okay, i will do the finish. Close for now.

[2016-03-02 15:11] #26 closed

[2016-03-02 15:24] ghost commented on #6
I don´t get the example.
For 1:n usually the reference is on the model, that needs no array.
For example: House and Rooms. The room would get the reference and house not a list of rooms.

[2016-03-02 15:34] ghost commented on #5
This is pretty much the same as #20. Close.

[2016-03-02 15:34] #5 closed

[2016-03-02 16:35] alschm opened #37 "api queries"
e.g.

- [x] getEpisodesByCharacter

- [x] getCharactersByHouse

- [x] getCharactersByCulture

- [x] getRegionsByContinent

- [x] getRegionsByCulture

- [x] getCharactersByGender

[2016-03-02 16:36] alschm commented on #37
- [ ] getRegionsByContinent

[2016-03-02 16:48] ghost commented on #37
We should rename the methods.
You get not just a single db entry, but multiples.
So, getEpisode**s**ByCharacter and so on.

E: I fixed it.

[2016-03-02 17:45] ghost commented on #37
I would delay now the implementation of the remaining methods until we have sample data on which we can test.

[2016-03-02 20:37] ghost commented on #20
@kordianbruck @togiberlin @boriside @docjag
Guys, we need you all to work.

[2016-03-02 21:29] sacdallago commented on #9
Sorry for taking so long to answer: My take is count the number of data in each collection (character, houses, episodes, battles,...) and give an API call that returns these statistics.
I say **my take** as this was written by @gyachdav on the wiki, maybe he had something else in mind, if so he will contradict me and let you know!

[2016-03-02 21:32] sacdallago commented on #36
Just adding to Guy's comments: we are trying really hard to get you the data also on an instance that you can access, but it's much harder than you would think. And it's not like we can't set up a VM in 2 minutes, it's all the administrative crap.
But we'll keep you updated. For now get a docker image of mysql, run a local instance, copy the dump in and try to get the data from there. Sorry guys!

[2016-03-02 21:39] boriside commented on #6
@Adiolis so you think I should leave it?

[2016-03-02 21:40] ghost commented on #6
I will take a closer look on it.

[2016-03-02 21:40] boriside commented on #6
@Adiolis thanks :)

[2016-03-02 21:42] ghost commented on #6
@boriside In which model is this exactly?

[2016-03-02 21:58] gyachdav commented on #9
The idea here is to give some interesting statistics not easily fetched from just looking at the wiki.
Some examples related to characters:
- age histograms
- number of characters per house
- male/female ratios
- distribution of skills
- other items you deem interesting

@goldbergtatyana who suggested this item may also contribute some ideas.

[2016-03-03 01:49] ghost commented on #36
Well, we managed to scrap the wikipages and to fill the database with houses (without references to other entities).

@kordianbruck: Please give me the credentials to the db of your server or run a GET on api/dbFiller/houses to fill the db, that you set online for us.
DELETE on api/dbFiller/houses clears the collection.

We really need the help of the others on this task!
This is no task for only

[2016-03-03 02:30] kordianbruck commented on #36
@Adiolis I've just updated the repo, docs and ran the endpoint.

https://got-api.bruck.me/api/houses/ already returns a good amount of them.

I'm still unsure if this should be a public API at all. If people can come at random and delete the collection or rerun the import then it might come close to a DDOS of my server. For now I've disabled the routes to be accessed from the web.

[2016-03-03 02:31] kordianbruck commented on #20
https://got-api.bruck.me/api/houses/ - works just great! Awesome!

[2016-03-03 08:42] togiberlin commented on #9
ok, got it

[2016-03-03 10:27] goldbergtatyana commented on #9
Yes, exactly, these are the points that could be visualized. However, there can also be many more others (distribution of male/female characters, dead and alive characters, etc.). So, the idea was that you visualize the statistics that ~you~ find interesting in a similar way that was done here: http://www.sisense.com/dashboards/game-of-thrones/

[2016-03-03 10:38] togiberlin commented on #9
Ok, but this depends on the success of importing the data to MongoDB. We hope, that there still will be room to do the statistical stuff. Thx for the Dashboard suggestion. Looks nice

[2016-03-03 15:25] sacdallago opened #38 "MySQL instance available within Eduroam/LRZ network"
Thanks to @T1mK we have a local instance of MySQL running for you to fetch the data from instead of the wiki. you will need to connect to the following from within the 131.159.0.0/16 network:

`mysql -u westeros-ro -h 131.159.28.95 -P 22228 -p`

or

[code]

For the password please address me directly with some place I can send you the password **privately**.

Thanks and thanks to @T1mK

[2016-03-03 17:34] ghost commented on #36
I introduced now caching of the wiki scrapping results.
Cachefile: wikiData/houses.json

Code is now way smoother and faster.

[2016-03-03 18:08] sacdallago commented on #36
I'm very impressed :smile: I haven't had time to look at how you implemented it, but if you haven't done this: make sure that you put a TTL on the data, so that **if ever** it get's updated, at some stage a request will update it!

[2016-03-03 18:15] ghost commented on #36
@sacdallago : I will implement it =)

[2016-03-03 18:23] sacdallago commented on #36
Niceee!!!!! :) :+1: @Adiolis

[2016-03-03 20:32] ghost commented on #36
Regions, characters, episodes and houses fillers are implemented =D

@kordianbruck Please perform the fillers on your server ;) (For the routes please look into routes.js)
Characters will take really long (> 10min.), because there are > 2400 of them.
Also check the new cfg property ;)

Still further properties like all references to other entitites and some that the scrapper is not yet handling

[2016-03-03 20:38] ghost commented on #20
i close this here, since #36 is rather used for this topic.

[2016-03-03 20:42] ghost commented on #2
Can be closed?
The fillers now populate the db. (not with all details, but still to come ;) )

[2016-03-03 22:03] boriside commented on #6
@Adiolis what do you mean?

[2016-03-03 22:14] boriside commented on #38
@sacdallago hi, would you create a password for me?

[2016-03-04 00:42] sacdallago commented on #38
Where can I reach you :P privately? Sorry for answering this late..

P.S.: tomorrow I'm gonna sleep in, but as soon as I wake up if I have your contact I will forward the info!

[2016-03-04 00:46] sacdallago commented on #36
Btw #38 just for the sake of it. And I'm gonna un-assign me, otherwise I get crazyyyyy :D :D

[2016-03-04 00:48] sacdallago commented on #2
Unbelievable: I thought I would never see this issue closed :stuck_out_tongue_closed_eyes: :stuck_out_tongue_closed_eyes: :stuck_out_tongue_closed_eyes: :stuck_out_tongue_closed_eyes: :stuck_out_tongue_closed_eyes: :stuck_out_tongue_closed_eyes: :stuck_out_tongue_closed_eyes:
Nice job!

[2016-03-04 00:50] sacdallago commented on #6
OMG @boriside @Adiolis change profile pics, it hurts my eyes :laughing:

[2016-03-04 01:40] gyachdav commented on #2
Really? I still get dummy data for https://got-api.bruck.me/api/characters/

[2016-03-04 01:43] gyachdav opened #39 "failed get all ages operaton"
GET
https://got-api.bruck.me/api/ages/

TypeError: Cannot read property 'ObjectId' of undefined
   at Object.<anonymous> (/home/kb/JS16_ProjectA/app/models/age.js:8:37)
   at Module._compile (module.js:413:34)
   at Object.Module._extensions..js (module.js:422:10)
   at Module.load (module.js:357:32)
   at Function.Module._load (module.js:314:12)
   at Module.require (module.js:367:17)
   at requi

[2016-03-04 01:53] ghost commented on #2
Well, @kordianbruck needs to perform the filler methods on his server.
We all have no access to it.

[2016-03-04 01:55] ghost commented on #39
Two typos. I fixed it.

[2016-03-04 01:55] #39 closed

[2016-03-04 04:41] kordianbruck commented on #36
Episodes gives me the following error:

`
Problem:ValidationError: CastError: Cast to Date failed for value "June 15th, 2014" at path "airDate"
Problem:ValidationError: CastError: Cast to Date failed for value "April 19th, 2015" at path "airDate"
Problem:ValidationError: CastError: Cast to Date failed for value "May 4th, 2015" at path "airDate"
Problem:ValidationError: CastError: Cast to Date fail

[2016-03-04 04:44] kordianbruck commented on #36
/characters/filler does not work for me on the server. It starts a few of the characters and then stops. I'm guessing we are sending out too many requests or something? No error in the console.

Ideas?

[2016-03-04 04:45] kordianbruck commented on #39
@Adiolis before closing the issue, assign the issue to me, so I know to update the server. Thanks!

[2016-03-04 04:46] kordianbruck commented on #36
Nevermind, the characters worked now after the third try. All imports should be done now. The error above only affected a few episodes.

[2016-03-04 04:47] kordianbruck commented on #2
Characters also now return valid data.

[2016-03-04 04:47] #2 closed

[2016-03-04 06:55] boriside commented on #38
@sacdallago  my email is boriside@gmail.com

[2016-03-04 07:05] boriside commented on #6
Done :D now its much worse :D

[2016-03-04 11:25] sacdallago commented on #39
Off topic: @Adiolis you updated the picture!!!!!! AHAHAHAH thanks! I was just joking, but I appreciate nevertheless

[2016-03-04 11:28] sacdallago commented on #36
@kordianbruck it is always a good idea to put the parsing/casting of dates in a try/catch, as no one follows standards, ever :wink: it is worse to have the server crash, than have a null object in a document!

[2016-03-04 11:34] sacdallago commented on #38
@boriside done! Also, nice: you have a face :) :) :)

[2016-03-04 15:49] ghost commented on #36
airDate is newly introduced by the scrapper. The filler is not yet transforming the date into the required type. Also not ignoring it, because the property is in the model. Needs to be done.

[2016-03-04 19:54] gyachdav commented on #20
Nice job so far. seems like you have two Loras Tyrell's in your Characters data. you might want to open a new issue named data integrity.

[2016-03-04 20:14] sacdallago commented on #36
@adiolis can u open up an issue for this if you haven't done so already? :)

[2016-03-05 14:09] theocheslerean opened #40 "Data integrity"
Make sure that database entries are unique

[2016-03-05 14:10] theocheslerean commented on #20
New issue #40  for uniqueness of every database entry

[2016-03-05 14:42] mbandle opened #41 "Geographic Data"
For our Project C (Group 10) we need Coordinate Data for cities, similar to LatLng.
We already started developing a small editor to assign Geo Data to given city lists.

Is there an API to get the Data in your Database? (I haven't found a city list and coordinate option yet)

To implement:
- [x] Routes
- [x] Model
- [x] Controllers
- [x] Stores

[2016-03-05 14:44] ghost commented on #41
No, there is no city entity yet, but we can implement that ;)

[2016-03-05 14:51] bandle commented on #41
That would be nice :+1:
We need
  name <-- City Name
  coordX <-- Place on Map: float [-180,180]
  coordY <-- Place on Map: float [-90,50]
  type <-- Which map symbol: enum [City, Town, Castle, Ruin, Others]
  prio <-- How important (which zoom level is the first to display it): int [0,6]

Additionally a field for the wiki link would be nice to

[2016-03-05 16:40] #8 closed

[2016-03-05 17:04] sacdallago commented on #41
@mbandle I only add: prio --> priority
Sells away immediately what the field stands for / coding standards
:dancer:

[2016-03-05 17:12] Adiolis opened #42 "Episodes scraper and filler: airdate, predecessor, successor"
Hey everyone,

for episodes the property scraping and filling for predecessor and successor are not implemented.
Would be nice if the scraper can get the information from the wiki pages. Otherwise i could think of implementing it by looking at the airdates and compute the successors and predecessors.

The airdate property is unfortunately still not implemented very trustworthy. Some dates scraped

[2016-03-05 17:20] ghost commented on #36
@sacdallago Done.
I think, i finished the characters filling with all details.

@kordianbruck Please clear the characters collection and start filling it again ;)

[2016-03-05 17:23] bandle commented on #41
Would it be possible to add a field to the regions table containing a polygon like:
[[x0,y0],[x1,y1], ...]

We would use it to draw polygons on the map to highlight regions

[2016-03-05 17:50] togiberlin commented on #41
@mbandle: is x/y a string or number?

[2016-03-05 17:51] bandle commented on #41
Its a coordinate (float) like coordX or CoordY with the same data range

[2016-03-05 17:59] togiberlin commented on #41
@mbandle Mongoose can't store floats, only integers. Therefore I store it as a string and you can convert it

[2016-03-05 18:00] bandle commented on #41
Ok
you also can implement the whole field as string and we put the coordinates in a geoJson like format in.

Is there a max length for a string

[2016-03-05 18:02] togiberlin commented on #41
@ mbandle Unless I haven't specified an upper limit, I guess no

[2016-03-05 18:55] gyachdav commented on #36
Please load into your pub API. I wanna take a look.

Sent from my iPhone

[2016-03-06 13:13] kordianbruck commented on #36
@gyachdav done, just updated the server.

[2016-03-06 13:34] julienschmidt opened #43 "Episodes data unusuable"
Not only is the list of episodes provided by the API very incomplete, it also offers just the air date and the title plus the episode number within the season in most cases. Moreover there are currently 7 entries at the beginning which contain no usable information at all.

For every episode aired so far, there should be an entry with the following minimal data:
- [x] Season Nr.
- [x] Episode Nr.

[2016-03-06 13:52] ghost commented on #43
Still several db collections are not implemented yet. I think, i finalized only the characters to the degree it has been planed.

[2016-03-06 14:06] ghost commented on #36
We still need the others to help us on this task...
@kordianbruck @togiberlin @boriside

[2016-03-06 14:12] AlexMoroz opened #44 "Add parameter specification to the API docs"
See swagger example: http://petstore.swagger.io/#!/pet/getPetById.

[2016-03-06 14:30] theocheslerean opened #45 "Culture scraper to do"

[2016-03-06 14:30] theocheslerean opened #46 "Event scraper to do"

[2016-03-06 16:02] #43 closed

[2016-03-06 16:07] julienschmidt commented on #43
Thanks for the quick fix :+1:
@kordianbruck please let us know when the server is updated

[2016-03-06 17:35] #42 closed

[2016-03-06 17:57] bandle commented on #41
I tried using the cities DB but it doesn't load. All other (ages, regions, ...) do.

Do you have an idea?
https://got-api.bruck.me/api/cities/

[2016-03-06 18:07] ghost commented on #41
The reason is, it is just not implemented yet.

[2016-03-06 18:18] bandle commented on #41
Ok  Can you send me a message when its ready?

[2016-03-06 18:19] ghost commented on #41
@mbandle
Sure =)

[2016-03-06 19:43] sacdallago commented on #43
@kordianbruck why don't you set up a CRON job on your server to auto-pull the git repo and restart the node server?
1. Setup the ssh key to pull from the repo without need of user/pass
2. Set forever in your package.json as a dependence
3. Se up CRONtab to something like:

[code]

where start.sh is something like:

[code]

and stop.sh:

[code]

[2016-03-06 19:43] togiberlin commented on #41
@mbandle: Implemented
- [x] Routes
- [x] Model
- [x] Controllers
- [x] Stores
  Did i forget anything?

[2016-03-06 19:46] ghost commented on #41
@togiberlin
=)
Please assign the task to yourself before implementing ;)

Not sure if we also have to scrap the data from the wiki and populate the db with it... Or will the data be provided by the other group?

[2016-03-06 19:48] bandle commented on #41
At the moment all the data is stored here:
https://github.com/Rostlab/JS16_ProjectC_Group10/blob/develop/data/mapData.js

Line 10 is longer than it seems :)

[2016-03-06 19:54] togiberlin commented on #41
@mbandle here is the cities model: https://github.com/Rostlab/JS16_ProjectA/blob/master/app/models/cities.js
I added more fields than requested (e.g. continent, cultures, events). Is it necessary?

[2016-03-06 19:59] bandle commented on #41
We don't need the extra fields right now, but maybe in the future. We can talk tomorrow at the meeting if you are there

[2016-03-06 20:00] togiberlin commented on #41
@mbandle I won't be there but my team member Kordian and also Boris Idesman.

[2016-03-06 20:05] kordianbruck commented on #43
@julienschmidt Server is updated.

@sacdallago I'm not gonna pull unchecked code onto my server - sorry. I have done it before, but only where I know who the contributors are: https://github.com/kordianbruck/AutoUpdate

[2016-03-06 20:09] kordianbruck commented on #44
I'm guessing @Adiolis assigned this to me to update the server files? Done.

[2016-03-06 20:14] kordianbruck commented on #41
@togiberlin I've deployed the code, do I need to call a filler, so the data becomes available?

[2016-03-06 20:23] AlexMoroz commented on #44
No, there are no specification for parameters yet.

[2016-03-06 21:19] sacdallago commented on #43
@kordianbruck point taken! Also I forgot that here (in A) you don't implement the feature model so you are totally right!
Btw: PHP?!?! Man why not FORTRAN? :laughing:  :laughing:  :laughing:  :laughing:

[2016-03-06 22:24] julienschmidt commented on #43
Thanks guys, unfortunately the data at https://got-api.bruck.me/api/episodes/ didn't change yet.

[2016-03-06 23:43] #45 closed

[2016-03-06 23:43] #20 closed

[2016-03-06 23:44] theocheslerean commented on #36
Wiki scraper all done

[2016-03-06 23:44] theocheslerean commented on #46
Ages scraper done

[2016-03-07 13:12] kordianbruck opened #47 "Respect TravisCI builds: best practice"
Hey guys,

please always check if your current commit breaks the build with travis CI (https://travis-ci.org/Rostlab/JS16_ProjectA) and fix possible syntax problems. The hints given by jslint really make sense and should be respected by everyone!

I don't want to go through each file every time and fix those things, you guys should learn how to write good code!

Thanks

[2016-03-07 13:13] kordianbruck commented on #47
@theocheslerean @togiberlin @boriside @alschm @docjag @Adiolis

[2016-03-07 15:52] AlexBeischl opened #48 "How to add data to the DB"
Can you add some short instructions how we can add entries to the city-table, please?

[2016-03-07 16:06] kordianbruck commented on #48
Did you check the Docs?

https://got-api.bruck.me/doc/#api-City-addCity

[2016-03-07 16:09] ghost commented on #48
I don´t know who made the api doc for addCity, but it makes no sense.

Check https://got-api.bruck.me/doc/#api-Episodes-AddEpisode for example. The api works pretty similar. Just POST an json with the data on the api url.

I opened a new issue #49

[2016-03-07 16:18] Adiolis opened #49 "Fix api docs"
The api docs have to be reviewed.
For example https://got-api.bruck.me/doc/#api-City-addCity is wrong.
All docs to the collections should be similar to the api docs for houses.
https://got-api.bruck.me/doc/#api-Houses-AddHouse

[2016-03-07 16:56] mbandle opened #50 "Search by name is case-sensitive and input must be the whole name"
When I'm searching by name, I have to enter the whole name in order to get the data.

For example when I'm searching for Jon Snow:
Whole Name:
https://got-api.bruck.me/api/characters/Jon%20Snow --> works

Whole name in lower case
https://got-api.bruck.me/api/characters/jon%20snow --> doesn't work
{"message":"Failure. No character with that data existing!","data":{"name":"jon snow"}}

Only first or

[2016-03-07 17:00] #41 closed

[2016-03-07 17:08] AlexBeischl commented on #48
I've looked through the whole documentation and I honestly have no clue how to remove data...

On Top of the documentation, can you please add a example for all the usecases (add, edit... , remove!). Our group knows how to add now, but I thing it would really help the other groups as well ;)

[2016-03-07 17:12] AlexBeischl commented on #40
Is there a check for duplicates? We would really appreciate it ;)

[2016-03-07 17:14] ghost commented on #48
For removal check for example:
https://got-api.bruck.me/doc/#api-Houses-RemoveHouse
Replace :id in the api url https://got-api.bruck.me/api/houses/:id
with the id of the entry, that has to be removed. Just send a DELETE request to it.

The most api doc entries have Header examples already.

[2016-03-07 18:34] AlexBeischl opened #51 "Search Cities by Prio"
We would like to search cities by priority and display all cities with <= prio dynamically.
Can you please add a possibility?

Example:
findCitiesPrio: 3
-> cities with prio 0,1,2,3

[2016-03-07 18:50] ghost commented on #50
I implemented it that way.
But be aware, that the result is now an array of matching entries.
@kordianbruck needs to pull the new code on the public server.

[2016-03-07 18:50] #50 closed

[2016-03-07 19:05] bandle commented on #50
:+1: Thanks

[2016-03-07 19:14] ghost commented on #51
I am on it. Should be no problem.

[2016-03-07 19:49] ghost commented on #51
I implemented this function.
Just use the find api and formulate queries like {"priority": "<=2"}
<,>, >=, >= work all.

@kordianbruck Please pull the code to the public server.

[2016-03-07 19:49] #51 closed

[2016-03-07 20:57] #37 closed

[2016-03-07 21:41] AlexBeischl commented on #51
Thank you very much :+1:

[2016-03-07 21:43] kordianbruck commented on #51
Pulled onto the public api :white_check_mark:

[2016-03-07 21:44] kordianbruck commented on #50
Pulled onto the public api :white_check_mark:

[2016-03-07 21:45] kordianbruck commented on #40
Nope, not yet.

[2016-03-07 22:13] sacdallago commented on #37
Wonderful

[2016-03-07 22:18] ghost commented on #40
Now, mongoose will send back an error if names are duplicated.
When filling the db i get no dups anymore.

[2016-03-07 22:18] #40 closed

[2016-03-07 22:23] ghost commented on #46
Still to be scraped:
- [ ] Events

[2016-03-07 22:24] ghost commented on #47
Is there an IDE integration or can this only be checked after pushing it?

[2016-03-07 22:29] mbandle opened #52 "Doubled character data output"
After fixing #50 a new problem occurred:

We get all the data twice:

https://got-api.bruck.me/api/characters/jon%20snow
[code]

When having multiple lines of output expected it also get doubled

https://got-api.bruck.me/api/characters/daenerys
[code]

[2016-03-07 22:33] sacdallago commented on #50
Nice enhancement.. @mbandle Another way of avoiding sending directly the query to the api (thus it having to match exatly the name) is to load the full list of available names, cache them in the frontend side and use a regex search (also allowing search for splits of the string (surname, middle, whatever), lower case, aso). Then send the right formatted data to the API.

[2016-03-07 22:34] AlexBeischl commented on #51
It works great! Could you maybe add an equals as well?

[2016-03-07 22:35] sacdallago commented on #40
`unique` is exactly the attribute I expected to find in the code to close this issue! Well done.

[2016-03-07 22:35] kordianbruck commented on #47
You can always install grunt locally and run `grunt test`.

Check the README

[2016-03-07 22:35] ghost commented on #52
That is because duplicate entries are on the db. This is fixed already, but the database needs to be truncated and filled again.
@kordianbruck

[2016-03-07 22:35] #52 closed

[2016-03-07 22:36] bandle commented on #52
:+1: Thanks for the fast answer

[2016-03-07 22:37] kordianbruck commented on #52
:white_check_mark: Deployed

[2016-03-07 22:37] ghost commented on #51
Equals is just the old behavior:
 {"priority": "2"}

[2016-03-07 22:38] AlexBeischl commented on #51
Oh too simple :+1:

[2016-03-07 22:39] bandle commented on #50
We're doing sth like you proposed already on our dummy data. Now we wanted to test which way is faster.
Either downloading it all and searching through by the regex or querying the database whenever a new key is pressed.
I'll continue on this issue tomorrow.

[2016-03-07 22:40] bandle commented on #52
You are really fast this night :+1:

[2016-03-07 22:41] kordianbruck commented on #50
Yea, please don't dos my server :P

[2016-03-07 22:41] sacdallago commented on #50
Faster? Downloading all names when the page is loaded in BG and regex the shit out of it :laughing:

[2016-03-07 22:44] bandle commented on #50
Yeah sounds good - i'm already too tired now :zzz:
Ok when regexing it I only need the name and not all the other stuff in the DB. Is there a possibility getting only the name columns?
@kordianbruck

[2016-03-07 23:39] Adiolis opened #53 "Ages API, scraper and db filler done. Range find query implemendet. FINAL"
Hello everyone,

the ages collection is finished. =)
I also implemented a range find. Example: {'startDate' = '<0'}

@kordianbruck Please pull the code, truncate and fill the public db.

[2016-03-07 23:40] kordianbruck commented on #53
:checkered_flag: done!

[2016-03-07 23:48] ghost commented on #53
@kordianbruck
Don´t forget to start the filler ;)
https://got-api.bruck.me/api/ages

[2016-03-08 00:06] gyachdav commented on #53
The pull and fill process should be automated.

Sent from my iPhone

[2016-03-08 00:10] ghost commented on #53
@kordianbruck Any possibilities to do so on your server?
I think, "only" pulling the github repo automated would be necessary. The api calls are working already.

[2016-03-08 00:25] #48 closed

[2016-03-08 00:25] #47 closed

[2016-03-08 00:27] ghost commented on #38
I think, everyone got notice of that and so this can be closed.
I

[2016-03-08 00:27] #38 closed

[2016-03-08 00:29] #36 closed

[2016-03-08 01:14] kordianbruck commented on #53
I'm not gonna pull unchecked code onto my server - sorry. But I actually wrote a lib for this a while back: https://github.com/kordianbruck/AutoUpdate

Concerning filling the DB: yes this task can be automated with a cron job, if we want that. Mostly the fillers only need to be called once though, so I'm not sure if this is really necessary.

[2016-03-08 01:37] gyachdav commented on #53
https://got-api.bruck.me/api/ages still empty.
On Mar 7, 2016, at 8:14 PM, Kordian Bruck notifications@github.com wrote:

[2016-03-08 01:45] kordianbruck commented on #53
@Adiolis I can see the json on the server, but the insertion seems to fail

[2016-03-08 02:03] ghost commented on #53
@kordianbruck Well, i deleted the collection, cache file and filled again and it works. How can you see a json on the server? What is the output in the cache file, console?

Console:
Request incoming.
Ages collection removed
Request incoming.
Filling started.
Cache file outdated.
Scrapping from wiki. May take a while..
{ name: 'Dawn Age' }
{ name: 'Age of Heroes' }
{ name: 'Andal invasion' }
{ nam

[2016-03-08 12:31] mbandle opened #54 "Duplicate character data"
#52 is still not fixed I get duplicate character entries:
And they have different IDs like before.

https://got-api.bruck.me/api/characters/Jon%20Snow
[code]

But not all are doubled like Tyrion Lannister:

https://got-api.bruck.me/api/characters/Tyrion%20Lannister
[code]

[2016-03-08 13:19] sacdallago commented on #54
But is this actually reflected on the DB? Once you put the `unique` constraint in mongoose it should take care of these things, the collection itself should not allow this. Are you still using mlab/mongolab?

[2016-03-08 15:28] sacdallago commented on #53
So this isssssssssss closseable? :dancer: And it's FINAL, final? Right? Right?
![funny-animal-gifs9](https://cloud.githubusercontent.com/assets/6240943/13606084/cf3da69e-e54a-11e5-9423-0280bebdea4a.gif)

[2016-03-08 16:27] ghost commented on #54
Look at the createdAt property. These entries are created before the fix.
@kordianbruck needs to delete the collection and fill it again. #52

[2016-03-08 16:29] ghost commented on #53
@kordianbruck
@sacdallago It still has to be filled on the public server :P

[2016-03-08 17:09] kordianbruck commented on #53
@Adiolis json in the file: wikiData/ages.json

But nevermind, somehow the filler worked just now. So its done!

@sacdallago I feel threaten :fearful:

[2016-03-08 17:10] #53 closed

[2016-03-08 21:22] bandle commented on #54
Looking at the createdAt time, you refilled the database.
But now everything is in the db twice.

[code]

[2016-03-08 23:57] ghost commented on #54
@kordianbruck
Looks like mongoose has to be some kind restarted and re-indexed.
http://stackoverflow.com/questions/5535610/mongoose-unique-index-not-working
Otherwise the uniqueness in the model is not minded.

Quick "fix" would be to delete the collection and fill it only once (you did that twice 17:39 & 17:58), but this no real solution, but at least no dups are filled.

[2016-03-09 01:00] kordianbruck commented on #54
I've deleted the characters and recreated it. It looks like its working now...

[2016-03-09 01:00] #54 closed

[2016-03-09 02:37] ghost commented on #46
http://awoiaf.westeros.org/index.php/Timeline_of_major_events
To scrap automatically events from the wiki is very hard, because there are no such clear defined entities like events in the wiki. The table lines of the timeline seem to represent events. Problem here is that there is no consistent pattern of information representation and not every event has even a name (bold in the beginning of a ce

[2016-03-09 02:44] Adiolis opened #55 "Episodes scraping"
Heyho,

the episodes scraper and filler already provide some good information.
Nevertheless the characters appearing in an episode is very hard to scrap from the wiki, because there is no consistent pattern or even no information to this at all.
The same is true to the episodeLength.

What can still be done is to calculate the predecessor and successor of an episode. I will implement that.

[2016-03-09 03:03] Adiolis opened #56 "Continents scraping finished"
Heyho,

as i see there are only three continents in GoT. Therefore i hardcoded the information instead of scraping them from the wiki, which provides them in inconsistent way.
@kordianbruck Please start the filler api/continents/filler on the public server.

[2016-03-09 03:55] ghost commented on #55
I´ve implemented the calculation of pre- & successors.

@theocheslerean I have noticed, that the episodes 9, 12 and 30 are not scraped by the wiki scraper? Any reasons?

[2016-03-09 11:16] kordianbruck commented on #56
Done.

[2016-03-09 11:16] #56 closed

[2016-03-10 12:27] #55 closed

[2016-03-10 13:49] #46 closed

[2016-03-10 18:14] kajo404 opened #57 "Get airing date of a specific Episode"
Hey guys, is it possible to get the airing date of a specific episode with the criteria: season and episode nr.? I looked at the API documentation but can't figure out what a request for that should look like.

[2016-03-10 22:08] ghost commented on #57
Pretty easy =)
Just use the find api:
POST to https://got-api.bruck.me/api/episodes/find
{"season": 1, "nr":6} for example.

I will update the filler for the database now and then @kordianbruck  will need to start it on the public server.
Please, don´t expect the final episodes data for the next 1-3 hours. ;)
I will notify you ;)

[2016-03-10 22:16] ghost commented on #57
@kordianbruck Please pull the code, delete the collection and fill it again. ;)

[2016-03-10 22:29] ghost commented on #46
@kordianbruck Please start the events filler. I needed to change the model a bit (name is not unique). Probably a re-index/re-start of mongoose is necessary.

[2016-03-10 22:43] AlexBeischl opened #58 "Characters Primary Key"
As far as I know, you are using the ID as the Primary Key for characters, can you add a possibility to not change the ID of existing characters, when you are loading up all data again?
(So a continuous Primary Key?) We have to use this key for mapping our path/location-data to the characters and after each reuploading we have to adapt all characters again :/

[2016-03-10 22:47] ghost commented on #58
_id is automatically set by Mongoose.
For characters we actually use a unique name property field. Probably this is a solution for you?

[2016-03-10 23:44] kordianbruck commented on #57
@adiolis 1-3 hours is totally realistic ;D

All done - I also deleted and refilled the episodes.

[2016-03-10 23:46] kordianbruck commented on #58
Automatically set by **MongoDb** - Mongoose is just the Database driver/connector and does not handle this stuff.

[2016-03-10 23:48] kordianbruck commented on #46
:checkered_flag: all done

[2016-03-11 10:37] sacdallago commented on #57
I love you guys. If I ever decide to open up some company I'm gonna hire you. Know that.

[2016-03-11 10:39] sacdallago commented on #58
@AlexBeischl complains there might be duplicate characters with the same name.. How about another combination for a key: name+house, name+firstBookAppeared.. No clue! Just throwing stuff at you...

[2016-03-11 10:41] ghost commented on #58
@sacdallago
Our model defines the property name to be unique. So no dups are possible anymore.
This has been earlier the case, because the filler has been started several times and no validation for name dups was implemented.

[2016-03-11 10:49] kajo404 commented on #57
Okay I am able to make a POST request now, but I am only having success with the season. Whenever I try to use the episode information i get an error.

Current code:

[code]

Putting episode in the form creates the following error:
`{"message":"Error: Bad request. Usage of non existing schema property!","error":"episode"}
`
Is this on purpose? This way i only can get the information for the whole

[2016-03-11 10:51] ghost commented on #57
I am not sure, i get what you are doing, but you use a property called "episode" and it is not existing in the schema. (See error)

What you are looking for is just "nr". "nr" contains the episode number within a season.
I hope, this helps...

[2016-03-11 11:01] kajo404 commented on #57
Oh yeah right never mind, maybe I should I try to wake up before I start working this.
Thank you for your help!

[2016-03-11 11:02] ghost commented on #57
You´re welcome ;)

[2016-03-11 11:02] #57 closed

[2016-03-11 11:02] sacdallago commented on #58
Heard @AlexBeischl ? :) Ya gotya key right there :boom:

[2016-03-11 11:12] #58 closed

[2016-03-11 11:20] ghost commented on #9
Something in progress, here?

[2016-03-11 11:38] kajo404 opened #59 "What time zone is the airDate in?"
Also the airDate returned for season 1 episode 1 is `2011-04-16T22:00:00.000Z`
The day is off by one as it was aired April 17, 2011 . Or maybe it has to do with time zones I don't know

[2016-03-11 13:01] ghost commented on #59
The scraper gets it right and the filler translates it right by:

[code]

I console.log()ed the dates.
Seems like a database problem.
@kordianbruck Any ideas?

[2016-03-11 13:11] ghost commented on #59
Got it fixed. Just needed to append the correct timezone to the date.
Public database will be refilled soon, but first i want to fix another issue.

[2016-03-11 13:17] ghost commented on #59
I also fixed now some dates from the wiki scraper that could not be translated.
Now all episodes will have the correct airDate =)

@kordianbruck Please pull the code, delete the collection and refill. Sorry :P

[2016-03-11 16:33] AlexBeischl commented on #58
Thank you, this really solves the problem, just one request:
Can you please add a primary key section to your documentation?
I think it really helps ;)
Thanks

[2016-03-12 09:42] kajo404 commented on #59
2 final things :)
- Your date string is not compatible with the Javascript date constructor. It looses the time (hours,minutes,seconds,...) when creating an object with `var date = new Date(dateString);`
- I am still unsure about what timezone the date is in, as it is not contained in the date string. Is it ET as this seems to be standard for HBO?

This could also be fixed by supplying the date in

[2016-03-12 10:11] #59 closed

[2016-03-12 10:41] togiberlin commented on #9
@adiolis Yeah, let me finish it this weekend.

[2016-03-12 12:43] sacdallago commented on #59
@kajo404 just for further reference: The `.000Z` at the end of the date string already sells away the timezone ;)

[2016-03-12 16:35] ghost commented on #59
@kajo404 Well, the wiki does not provide the time to an episode ;)

[2016-03-12 18:30] kajo404 commented on #59
Thanks @sacdallago , that is why I made the edits :) . @Adiolis So is GoT aired on cable first or do they make it available for streaming at a certain point in time?

[2016-03-13 13:52] kordianbruck commented on #59
Done! Updated the code and refilled the DB.

[2016-03-13 15:21] ghost commented on #59
@kajo404 i do not really know how this is handled in the US. Sorry.

[2016-03-14 11:59] mammuth opened #60 "Fetch Character images"
Several projects will need images of the characters (at least Project F will need those), so it would be awesome to provide those images on your character API responses.

Since the awoiaf-wiki is using ugly pictures I suggest fetching them (if possible) from here:
http://www.hbo.com/game-of-thrones/cast-and-crew/index.html

Thanks! :heart_eyes:

[2016-03-14 12:26] mammuth opened #61 "Add Project-slides to github"

[2016-03-14 12:26] mammuth commented on #61
Sorry, wrong project :grin:

[2016-03-14 12:26] #61 closed

[2016-03-14 15:04] sacdallago commented on #60
Guys from A: Also C10 is using images.
I think that since two groups are requiring this, now it makes sense you put this in the DB.
1. Maybe something like map name to picture?
2. Would be nice if the pictures are stored on the db, although you will also need to have them on fs to load them on the db when you (re)build it!
3. Search for gridfs npm package to store binary data in mongo.

[2016-03-14 15:07] sacdallago opened #62 "Secure the API"
As noted by another student today at the presentation, adding a layer of security to access the API is not at all a bad idea.

You can "get very very inspired" by this _random_ code I found on... oh, my! My GitHub!

- https://github.com/sacdallago/pssh/blob/master/index.js#L160
- https://github.com/sacdallago/pssh/blob/master/controllers/routes.js
- https://github.com/sacdallago/pssh/blob/master/c

[2016-03-14 22:10] kordianbruck commented on #60
We want to surely store it on our server. Hotlinking images from other servers is a real bad idea.

[2016-03-14 22:47] kordianbruck commented on #62
@sacdallago Your line `if(request.get('token') === null) {` in your routes.js does not work, as it is `undefined`. Better use `if(!request.get('token')) {`

Check my _better_ code in here: https://github.com/Rostlab/JS16_ProjectA/commit/1354a177f8594a3c2e90fcefaf9fb4ca65c95366 :dancer:

[2016-03-14 23:18] sacdallago commented on #62
:D that's quite the slip, whops; thx! To tantle at windmills: that's one head and 2 days of code, never said it would be perfect fifififi

[2016-03-15 00:14] kordianbruck commented on #44
@AlexMoroz I've added the parameter for the episode controller, czech this out: https://got-api.bruck.me/doc/#api-Episodes-RemoveEpisode

Is that what you need?

[2016-03-15 00:54] kordianbruck commented on #9
First stats can be looked at here: https://got-api.bruck.me/api/stats

@.everyone: lets hear some suggestions what might be interesting! :+1:

[2016-03-15 08:41] sacdallago commented on #9
Let me start with: https://www.youtube.com/watch?v=j45x9ranFH0
Second off: if you, @kordianbruck start even just thinking about implementing the visualization part which **F** should do I wil

No, but srsly: **F**s job! :)

[2016-03-15 08:46] kordianbruck commented on #9
@sacdallago I already have, but it's not pushed yet :P (but pssst, don't tell anyone)

[2016-03-15 09:01] AlexMoroz commented on #44
Yes, but it will be more useful for find requests)

[2016-03-15 09:06] AlexMoroz opened #66 "No 'Access-Control-Allow-Origin' header is present on the requested resource."
Chrome returns this error when you try to get the characters.

Some info:
http://www.html5rocks.com/en/tutorials/cors/

[2016-03-15 09:08] kordianbruck commented on #44
So you want all the parameters for the find operations? These are just all the fields that are in the model - I'm not sure if this is really a good idea as we would be replicating the whole model in each of the find operations. You think its necessary to make it more clear?

[2016-03-15 09:18] sacdallago commented on #66
Finally someone notices this :D well done

[2016-03-15 09:27] kordianbruck commented on #66
@sacdallago apparently no one was actually using the API till now :stuck_out_tongue_closed_eyes:

@AlexMoroz should be fixed, please confirm

[2016-03-15 09:27] sacdallago commented on #66
Btw, this happens on C10 as well @AlexMoroz

[2016-03-15 09:29] sacdallago commented on #66
P.S.: @mbandle :arrow_up:

[2016-03-15 09:31] #62 closed

[2016-03-15 09:33] AlexMoroz commented on #66
It happened only in Chrome till now)
It works in C10. The problem was in server configuration.

[2016-03-15 09:33] #66 closed

[2016-03-15 09:34] sacdallago commented on #66
Nice **_testing_** @AlexMoroz . Even in the middle of the seminar :P :P :P

[2016-03-15 09:34] kordianbruck commented on #66
Server configuration is done in nodejs directly, so no one actually did it with express till now :)

[2016-03-15 09:36] AlexMoroz commented on #66
@kordianbruck  API died =(

[2016-03-15 09:37] sacdallago commented on #66
@AlexMoroz @kordianbruck @mbandle next question to be asked I want one of you to answer. Really. At least pretend you pay attention :dancer:

[2016-03-15 09:42] kordianbruck commented on #66
@sacdallago but I already did everything he is talking about yesterday: https://github.com/Rostlab/JS16_ProjectA/commit/59ba69615e17614a97baafe1d75547b7d5d2b382 :cry:

[2016-03-15 09:44] sacdallago commented on #66
@kordianbruck did you take that from my awful awful code? :D
P.S.: HE SAID IT EARLIER! someone had not payed attention

[2016-03-15 09:45] konstantinos-angelo opened #67 "Character's ages"
There are a few Birth/Death dates that are in format 299300 -. etc. It is basically 2 years stuck to each other

Generally these are very few up to 10(?) and I think that can be fixed manually. This is important as it messes with of the metrics used.

 Also if possible we would like to request possibly more dates of birth /  death added ?

[2016-03-15 09:46] kordianbruck commented on #66
@sacdallago I wouldn't dream of it.

Yea, seems like it - but the ppl in the back row obviously didn't hear it... :loud_sound:

[2016-03-15 09:48] bandle commented on #66
Using the /find now yields a 401

I haven't changed anything in the code

![bildschirmfoto 2016-03-15 um 10 46 34](https://cloud.githubusercontent.com/assets/11232638/13773759/547417ee-ea9b-11e5-8c77-d326903edb79.png)

[2016-03-15 09:49] kordianbruck commented on #66
@mbandle #63 #62 You need a token now to call these functions :lock:

[2016-03-15 09:50] sacdallago commented on #67
Team **A** manually is no option, you know that right? :D the problem just seems to be a range, can be easily fixed with the right checks

[2016-03-15 09:50] AlexMoroz commented on #66
But why you added it for find? There is no need in token for get requests.

[2016-03-15 09:51] kordianbruck commented on #66
@AlexMoroz it is a `POST` request tho. We need to send a body with json, thats why it is a post instead of get.

write me a short mail, so I can send you the token. I've also fixed the docs.

[2016-03-15 09:59] AlexMoroz opened #68 "REST API conventions"
According to rest api conventions POST request is used for:

POST http://www.example.com/customers

So this is wrong:

https://got-api.bruck.me/api/ages/find
POST
https://got-api.bruck.me/api/characters/find
etc..

[2016-03-15 10:01] kordianbruck commented on #68
How to do it:
http://stackoverflow.com/questions/5020704/how-to-design-restful-search-filtering

Why not to use `GET`:
http://stackoverflow.com/questions/978061/http-get-with-request-body?lq=1

[2016-03-15 10:02] k-angelo commented on #67
Of course it can be fixed manually. Whether team A wants to fix their scrapper, or do it manually since its a small set ( and easily filtered ) and not rerun the whole scrapper again or both, is up to them and also depends on their backlog priority.
In any case it is important for us, whether you prefer a quick fix or code update is up to you guys.

[2016-03-15 10:14] sacdallago commented on #68
@AlexMoroz is right, usually when you have a find operation on data, it translates to a `GET`. Url encoding is stil the thing you would do in this case (Yes, url-encoding!) but now it's too late to change this (too many people already depend on the api)

[2016-03-15 10:14] #68 closed

[2016-03-15 10:19] AlexMoroz commented on #68
Just for info, you send body only here https://got-api.bruck.me/doc/#api-City-getCities .

[2016-03-15 10:27] mbandle opened #69 "Character DB contains cities"
In the character DB there are cities present like:
King's Landing
Winterfell
Sunspear
....

And also Donald Trump is still in the DB

[2016-03-15 10:29] AlexMoroz commented on #44
What do you mean by

But now it's not clear how to use it at all.

[2016-03-15 10:39] sacdallago commented on #69
Love it

[2016-03-15 11:02] theocheslerean opened #70 "Fetch characters for every episode"

[2016-03-15 12:14] theocheslerean opened #71 "Get character gender"

[2016-03-15 12:16] theocheslerean commented on #71
Idea 1: Count "his", "her" in the whole page
Idea 2: As observed, the second sentence in the wiki text, starts with either "he" or "she", with some exceptions

[2016-03-15 12:31] ghost commented on #71
Idea 2 might be problematic later on, when the wiki pages will change or new character pages don´t follow this pattern.

[2016-03-15 12:51] togiberlin commented on #71
@theocheslerean I agree, I guess Idea 1 sounds good.

[2016-03-15 13:11] ThuyNganTran opened #72 "Character: new fields to be added"
- [x] Spouse
- [x] Allegiance/affiliation (it's in the wiki infobox!)
- [x] Popularity of each character
- [x] parents
- [x] ~~features according to the model for character would be great~~
- [x] book appearances
- [ ] add empty values for PLOD so we can add our data later
- [x] last visited place (place of death for dead characters)

[2016-03-15 13:29] kordianbruck commented on #69
![download](https://cloud.githubusercontent.com/assets/298860/13779230/3f15815c-eaba-11e5-85de-843998b3d00c.jpg)

[2016-03-15 17:12] theocheslerean commented on #69
Character collection had a couple of hours ago 6000 entries

[2016-03-15 17:16] sacdallago commented on #69
@kordianbruck set up your server to use mongoLab instead of a local instance of mongodb please and provide R/W access only to people you trust, fine, but RO access to those that might want to have a look at the data.

We have a solution for the hosting now but I need to set it up properly and it's gonna take time.

Btw: see? You wanted to work on visualization, but there's so much else to take car

[2016-03-15 17:20] sacdallago opened #73 "Build is failing."
Com'on guys, it takes like 0.3ms to check your code before pushing it.

[2016-03-15 17:34] kordianbruck commented on #73
Its been failing for the last two weeks and I have already advised everyone, to please make sure committed code is fixed. I've went through all the files yesterday already in #64 - I'll merge it right away before people start modifying the code and I have to redo the fixes.

[2016-03-15 17:35] kordianbruck commented on #73
@Adiolis maybe you got a minute and can make sure I didn't mess up somewhere. Thanks!

[2016-03-15 18:05] kordianbruck commented on #69
@theocheslerean the character collection has 2017 entrees: https://got-api.bruck.me/api/stats - thats the same that I have locally.

@mbandle I removed donald and it now should be the exact result from the scraper. I can refill the database if we feel that there are things missing.

@sacdallago Will do - this is a separate issue tho ;)
Yea, its great! :+1:

[2016-03-15 18:07] kordianbruck opened #74 "Use mLab for storage"
Apparently knowing how the models (https://github.com/Rostlab/JS16_ProjectA/tree/master/app/models) look like is not enough, so we will move everything to a mLab instance, where everyone can dive into the collections.

I'd like to encourage everyone to think about what this means for latency and performance. We will have to tackle this maybe some day.

[2016-03-15 18:08] kordianbruck commented on #72
@ThuyNganTran is this a request for additional fields in the character? Yes?

[2016-03-15 18:08] kordianbruck commented on #71
@theocheslerean I need to rerun the filler I guess?

[2016-03-15 18:09] ThuyNganTran commented on #72
Yes, sorry I forgot to specifically mention that

[2016-03-15 21:31] bandle commented on #69
The main problem isn't Donald Trump.

When testing our search we found cities in the character-scraper - So cities are treated as characters:
These are also in the characters.json like:

[code]

[2016-03-15 22:21] sacdallago commented on #74
No. Not enough :D sacrifice latency for collaboration.
Hey, wasn't there a little someone today mentioning the tutor(s) should start enforcing collaboration? :D <3

[2016-03-15 22:23] sacdallago commented on #71
Can you run a random test to see how accurate this actually is?

[2016-03-15 22:23] sacdallago commented on #71
P.s.: and report here

[2016-03-16 00:25] kordianbruck opened #75 "Scraper: episodes filling"
[code]

[2016-03-16 00:30] #75 closed

[2016-03-16 00:33] kordianbruck opened #76 "Episodes filler: pre/successor not found"
[code]

I'm getting this when running the episode filler. Is this a problem or the way it should be? @theocheslerean @Adiolis

I'm also getting the following messages:

[code]

[2016-03-16 00:52] kordianbruck commented on #74
@sacdallago pssst, don't use my comment against me :yum: :hear_no_evil:

[2016-03-16 00:52] kordianbruck commented on #74
@Rostlab/js_cs_sose_2016_students the API is now running on a mLab MongoDB. If you want to poke around the data, let me know and I can create a direct access user. You should still use the API for any requests. Of course this made it necessary to rerun all the fillers, so any data saved to the DB from before is gone. We now are storing a whooping 1.46 mega bytes of Game of Thrones data!

[2016-03-16 00:52] #74 closed

[2016-03-16 01:03] kordianbruck commented on #9
Will continue in other issue as we actually have nothing to do with 'visualization'.

[2016-03-16 01:03] #9 closed

[2016-03-16 01:03] kordianbruck opened #77 "Add more statistics"
Main issue here: https://github.com/Rostlab/JS16_ProjectF/issues/169

- [ ] [Project F](https://github.com/Rostlab/JS16_ProjectF/issues/169) finished the landing page by approx. April 6
- [ ] based on UI/UX/font/size/formatting of [Project F](https://github.com/Rostlab/JS16_ProjectF/issues/169), generate infographics
- [ ] statistics are based on [Project B](https://github.com/Rostlab/JS16_Project

[2016-03-16 01:10] kordianbruck commented on #71
@sacdallago we now have the data in the db. Our amazing statistics show 1263 male vs 753 females - does that sound good? Check https://got-api.bruck.me/api/stats to see for yourself

[2016-03-16 01:14] kordianbruck commented on #44
@AlexMoroz basically for the find operations you can simply use any field from the models (https://github.com/Rostlab/JS16_ProjectA/tree/master/app/models). For example for episodes you can use any of the fields in the schema to find the episode: https://github.com/Rostlab/JS16_ProjectA/blob/master/app/models/episode.js

If I add all the fields to the documentation, this would be like replicating

[2016-03-16 01:17] kordianbruck commented on #77
I really have no idea how to calculate the age across the characters. Ideas welcome!

[2016-03-16 04:06] ghost commented on #76
@kordianbruck
Hardhome has no successor yet on the wiki. (last two episodes are not in the wiki)
So this is okay ;)

I will have to check the other messages.

[2016-03-16 04:29] ghost commented on #69
I am pretty sure, you just want to give us a hint on the error (what is very helpful =)), but let me mention, that the *.json files in wikiData shouldn´t be used by the other groups, because validation is later done by the filler.

Actually the filler deletes all properties, that do not match the model. Therefore when i get such a json by the scraper, the filler will remove all but not the propert

[2016-03-16 05:53] ghost commented on #44
Is it a solution to link the according model to the regarding api method in the doc?
And there is always one example of usage, too.

I see no benefit in copying every property into the doc.

[2016-03-16 05:54] ghost commented on #70
So, we have for this still no solution. Don´t we?
Otherwise we propably need to scrap from that wiki:
http://de.gameofthrones.wikia.com/wiki/Der_K%C3%B6nigsweg_(Episode)

[2016-03-16 06:55] yashha commented on #70
maybe from here?
http://www.imdb.com/title/tt0944947/epcast

[2016-03-16 08:08] bandle commented on #69
@theocheslerean Did you parse the wikis category information so far. I think this is possibly the easiest way to distinguish between locations and characters. Most of them have city, town or castle assigned.

[2016-03-16 08:54] AlexMoroz commented on #44
@sacdallago What do you think about this?

[2016-03-16 10:07] sacdallago commented on #71
Is there anything to compare this data with? Get a _standard error_ for this?

[2016-03-16 10:08] sacdallago commented on #70
Great suggestion @yashha . Some off-the-hook data ripping :D

[2016-03-16 10:22] sacdallago commented on #44
@Adiolis it's ok. Make this clear in the docu somewhere though. Put a link to the schema definitions / folder on github with mongoose

Ok @AlexMoroz ?

[2016-03-16 10:27] theocheslerean commented on #69
It was my mistake when i parsed for the names of the characters. Sorry guys. Will be fixed today

[2016-03-16 10:28] AlexMoroz commented on #44
If it ok for you, it's ok for me also. But I prefer the table with parameters and their description.

[2016-03-16 10:42] sacdallago commented on #69
Hey guys, why don't you think about a "black list". Like a manually curated, community based list of things that don't need to get stored in particular places where the scraper cannot distinguish if something is right or wrong?
JUST in case you really can't solve these issues _just_ via logic / the wiki

[2016-03-16 12:36] gyachdav commented on #71
"cities":0
??

On Mar 15, 2016, at 9:10 PM, Kordian Bruck notifications@github.com wrote:

[2016-03-16 13:12] gyachdav commented on #77
Just use the date you /do/ have.

On Mar 15, 2016, at 9:17 PM, Kordian Bruck notifications@github.com wrote:

[2016-03-16 14:31] kajo404 opened #78 "List of most important/popular characters"
Is it possible to get a list of the characters that are currently interesting/popular ? We would like to run the sentiment analysis only for the characters of "value" I dont think there is a point in running them for all 2000+ names in the list ;)

[2016-03-16 14:56] gyachdav commented on #78
As mentioned in class today there is an east way to check importance -- just count the number of inbound links to a page. One of the ML groups will implement a page rank algorithm but you can even go the basic route by using the data I already produced for all characters  - https://rostlab.org/~gyachdav/awoiaf/Data/pageRank/

You should really be interested in the score given in the first item of

[2016-03-16 14:59] kajo404 commented on #78
Thank you we will use that list and work with it

[2016-03-16 16:40] sacdallago commented on #78
Actually; you can use [centrality](https://en.wikipedia.org/wiki/Centrality) measures with the data that you have. Would make very much sense.
Or build a centrality measure with the inbound, outbound links. There seems to be a [great package](https://www.npmjs.com/package/ngraph.centrality) for this out there

[2016-03-16 18:08] kajo404 commented on #78
Sorry I have to reopen the issue, I can't figure out how to even access the data here [https://rostlab.org/~gyachdav/awoiaf/Data/pageRank/](https://rostlab.org/~gyachdav/awoiaf/Data/pageRank/).

I want to compare the entries on the website to my list of characters I get from Database A and then get the first score like Guy suggested. I have no idea how to get this data into my script.

[2016-03-16 18:34] Adiolis opened #79 "Redundant api methods like getCharactersByGender"
Hi,

is there a reason why there are for characters redundant api methods like:
https://got-api.bruck.me/doc/#api-Characters-GetCharactersByGender
This can easily be done with the find api.

It is confusing, that for some properties there are such methods and for others not. Other models do not even have such methods at all. Only the ones that identify one single record make sense to me.

Btw. the

[2016-03-16 18:35] kajo404 opened #80 "Database schema for sentiment analysis Group 5"
Hello Guys,

we need to store our sentiment data in your database and you get to write the API for it :)

please check out this [issue](https://github.com/Rostlab/JS16_ProjectD_Group5/issues/26) to get an idea of what we want to store.
Here is a short summary: We need a schema that stores a list (1000+ elements) of a Date and 5 numbers for every character.

Functionality we need:

- Add an element

[2016-03-16 21:07] boriside commented on #72
features according to the model for character would be great - like what?

[2016-03-17 05:38] kordianbruck commented on #77
@gyachdav yea, the problem is that we have negative dates and calculating that in a aggregation function is kinda complex. So I'm currently thinking of doing a cron job that calculates the age once and then simply have the data pulled from the DB when the stats endpoint is called.

[2016-03-17 05:59] kordianbruck commented on #72
@ThuyNganTran "features according to the model for character would be great" yea, that makes no sense to me either. Also: what data type should "PLOD" be? We need two of these values for each of the groups right?

[2016-03-17 06:03] kordianbruck commented on #80
As written in the email, the API is already defined for characters to edit: https://got-api.bruck.me/doc/#api-Characters-EditCharacter

In your case, as the data set will be quite large, we might want to think about adding a separate collection. Can we please get a json representation of the data structure? Or comment on the following

[code]

Please provide us with proper naming for the structure

[2016-03-17 06:06] kordianbruck commented on #79
Yes, I agree. That one makes absolute no sense. Special get methods just make sense for single records to be returned.

[2016-03-17 06:10] kordianbruck commented on #78
@gyachdav that data is not standard json is it? I can't seem to parse it.

@kajo404 I don't see how this has anything to do with Projects A scope - we can provide you with a data store, where you can save guy's analysis to but thats about it... Please check with the team from yesterday, that was talking about machine learning and the popularity. Alternatively you can check IMDB for the main charac

[2016-03-17 06:18] kordianbruck opened #81 "Make fillers update entries"
instead of deleting the whole collection each time, we should instead simply update any entries who's data changed. This will enable other teams to add data to the DB and us updating the info from the Wiki.

We would need to run a intersect of the names in the db and the json to see which characters might have been deleted.

[2016-03-17 06:25] kordianbruck commented on #79
These routes were added by @alschm in #37 - I don't know why exactly these were needed, but it absolutely makes no sense to have those.

[2016-03-17 06:28] kordianbruck commented on #69
We now are down to 1949 characters with the new algorithm from @theocheslerean  - @mbandle please verify that you ain't getting any cities anymore.

@sacdallago yea, a blacklist would work, but it should be the last option...

[2016-03-17 07:36] kajo404 commented on #78
@kordianbruck This was only initally about A because I thought you might already have such a statistic

[2016-03-17 07:41] kajo404 commented on #80
I think adding a seperate structure is the way to go as Group 4 will most likely need something like this aswell. We dont work with the character id, we use the names we get from your database. A json representation could like this:

[code]

[2016-03-17 09:01] gyachdav commented on #78
download archived character data from https://rostlab.org/~gyachdav/awoiaf/Data/pageRank/allchars.tgz

[2016-03-17 09:23] boriside commented on #72
@ThuyNganTran array of points?

[2016-03-17 09:28] togiberlin commented on #77
@kordianbruck As of beginning of the new season 6, we are at this date: 305 AC
With that information, we could calculate the actual age of characters
`BAC (Before Aegons Conquest of Westeros)`
`AC (After Aegons Conquest of Westeros)`

[2016-03-17 09:33] togiberlin commented on #72
@kordianbruck I would make PLOD as 2 digit Integer. As Prof. Rost mentioned, 4 digit accuracy after decimal point is pointless.

[2016-03-17 09:44] kordianbruck commented on #79
@Adiolis I think that  should be all right? Closing this for now

[2016-03-17 09:44] #79 closed

[2016-03-17 09:46] boriside commented on #72
Well I think [point(x,y), point(u,v), ... ] is enougth

[2016-03-17 09:47] ghost commented on #79
@kordianbruck jep

[2016-03-17 09:51] kordianbruck commented on #80
@kajo404 please check https://github.com/Rostlab/JS16_ProjectA/blob/master/app/models/characterSentiment.js

I'd rather use the _id instead of name field, as it is guaranteed unique and mongodb has an index set for it. Is that too much of a hassle? @sacdallago can you advise on this as well?

[2016-03-17 09:53] togiberlin commented on #80
@kordianbruck lol, we pushed the same thing at the same time...i'll delete mine then

[2016-03-17 09:54] kordianbruck commented on #77
@togiberlin well yes, but we have the birthDate and deathDate both of which are simple year numbers. Negative numbers are BAC and positive AC - Now I can't simply subtract the birthDate from the deathDate because of the negatives. That's the actual problem I don't know how to solve with a mongoose $aggregate query.

[2016-03-17 09:54] kordianbruck commented on #80
I pushed mine first :P

[2016-03-17 09:58] kordianbruck commented on #78
@kajo404 please continue in one of your projects issues then! :+1:

[2016-03-17 09:58] #78 closed

[2016-03-17 09:59] kordianbruck opened #82 "Add a city filler"
We need to import the cities. The easiest would be to write a filler that takes a json and inserts all the entries into the collection.

[2016-03-17 10:00] gyachdav commented on #77
how about setting a rule

abs(birthDate)>abs(deathDate) ? birthDate = -birthDate

[2016-03-17 10:04] kordianbruck commented on #71
@sacdallago I've googled a bit, but there is nothing really clear out there on the web... But it sounds reasonable - GoT is a male dominated show with a few strong female characters.

Closing this for now, as it is resolved.

[2016-03-17 10:16] kordianbruck commented on #77
[code]

Case 2 will still have to be handled individually. E.g.: born -30, death in 10. That would evaluate to true with the above rule but thus will calculate age -20

[2016-03-17 10:18] ghost commented on #49
I fixed all api docs.

I´ve seen that the city api has no model. Is this intended?
Therefore, i could not link a model in these doc sections and well, the api gives actually no hint how the data is looking like. ;)
Pretty ugly.

@kordianbruck please update the public server ;)

[2016-03-17 10:19] ghost commented on #44
I think this can be closed. For api fixes see #49.
With my new fixes, there will be links to the according model. ;)

[2016-03-17 10:19] #44 closed

[2016-03-17 10:23] ghost commented on #82
Pretty much we just need to fill it with this:
https://raw.githubusercontent.com/Rostlab/JS16_ProjectC_Group10/develop/data/cities.js

I can do that ;)

[2016-03-17 10:23] kordianbruck commented on #49
Done.

[2016-03-17 10:23] #49 closed

[2016-03-17 10:24] kordianbruck commented on #82
Yea, let's just add that to our wikiData/ folder and sync it using Git :+1:

https://github.com/Rostlab/JS16_ProjectA/commit/8026eeec85e7cf7e2709fe61aafeabd29ab6f153

[2016-03-17 10:26] Adiolis opened #83 "City model needed?"
Well, we have no model for the cities right now.
Is this intended?
Also for our api docs it is strange that we do not provide information how the data looks like.

[2016-03-17 10:27] kordianbruck commented on #83
Yea, definitely a good idea!

[2016-03-17 10:28] kordianbruck commented on #83
Wait, we do have one here: https://github.com/Rostlab/JS16_ProjectA/blob/master/app/models/cities.js

I'm using that one to do the stats...

[2016-03-17 10:28] ghost commented on #82
@kordianbruck
Could you do the syncing? I have no idea, how this is managed...
I would also appreciate a short explanation or link =)

[2016-03-17 10:29] kordianbruck commented on #82
@Adiolis you download the file -> save in the wikiData folder -> commit -> ??? -> Profit!

[2016-03-17 10:30] ghost commented on #83
Okay. I´ve been looking for city.js while editing the api doc.
Probably we should rename it, so that the naming is consistent with the other models.

[2016-03-17 10:31] ghost commented on #82
@kordianbruck
But it is not automatically synced? Would be nice, if we are always up-to-date.

[2016-03-17 10:31] #83 closed

[2016-03-17 10:32] ThuyNganTran commented on #72
What I wanted to point out is this model: https://github.com/Rostlab/JS16_ProjectA/blob/master/app/models/character.js
Because at the point I created the issue, quite a few there mentioned attributes weren't in the character database. (I think age still isn't)

[2016-03-17 10:34] gyachdav commented on #71
what are "cities":0?

[2016-03-17 10:36] kordianbruck commented on #82
@Adiolis let's ask projectC where that data materialized from. I don't think it will update too often, but you are right, we should automate a scraper for the cities.

[2016-03-17 10:36] kordianbruck commented on #71
@gyachdav we are working on a city filler in #82

[2016-03-17 10:38] kordianbruck commented on #72
@ThuyNganTran yes that is because we have added them already. Regarding age: it is not planned to have it as a field but rather we only save the birth and death date.

@boriside let's split this issue and talk about PLOD in another one as there are multiple groups involved in this. So this one is done for now.

[2016-03-17 10:38] #72 closed

[2016-03-17 10:39] ghost commented on #49
@kordianbruck Please update ;)

[2016-03-17 10:40] kordianbruck commented on #49
done

[2016-03-17 10:47] kordianbruck commented on #69
Got the feedback from the other team that it is better now. Closing this issue for now.

[2016-03-17 10:47] #69 closed

[2016-03-17 10:54] ThuyNganTran commented on #72
@kordianbruck What I was trying to say is that the database did not contain all attributes you wanted to implement according to your model at the time I created the issue and I'm not talking about the attributes you added under //issue #72.  Just tried to clarify the question concerning that point. And 'age' ist still not in the database. Also, a character pleads allegiance to a House or a a group

[2016-03-17 10:56] boriside commented on #60
@sacdallago @kordianbruck Why dont we store them as a files and only the paths/ names as Strings in the database? For example if we have img1.png for a character in the database should be someth like ..app/images/img1.png and a file with that image should be stored in that directory. That way we also support binding from external sources via links

[2016-03-17 10:58] kordianbruck commented on #60
@boriside that is the idea. I haven't found a good method of fetching the images yet though. The HBO website does not really offer them in a unified fashion. I think we have to manually add those to the Database

[2016-03-17 11:18] kajo404 commented on #80
That Schema looks like what we need, we can use _id for character identification it makes more sense you are right. I am pretty new to all this. Would it make sense to include information about when the information was created updated?

for this schema we will need a write and read. If possible it would be nice to have a read function that has charID,startDate and endDate as parameters.

[2016-03-17 11:25] kordianbruck commented on #80
No, dates don't really make sense in this case as the values get inserted once and thats it. Maybe a creation date, but you won't be updating the data will you?

So are you now directly accessing the DB or do you want an API? What did we agree on?

[2016-03-17 11:55] kajo404 commented on #80
I think we agreed on an API. The problem is that our twitter scrapers don't get 100% of the tweets as the twitter api limits the requests. Our data might actually change but we can just override the existing data then

[2016-03-17 15:14] sacdallago commented on #81
This sounds like something you want to do when the schemas are on a pre-release stage, something like after feature-freeze? Out of the scope of this seminar? But you can and are very welcome to continue to work on these projects after that, actually! VERY, WELCOME. But for now: first things first?

[2016-03-17 15:32] sacdallago commented on #77
You guys never cease to amaze me :D We are gonna get so much traffic :P btw, you will never guess the coolest domain name ever we _got_ for this project ! :D :D :D :D

[2016-03-17 15:35] sacdallago commented on #71
@kordianbruck I don't remember with who I talked yesterday but @Adiolis was definitely there and knows how this can be random tested. Could you pls do this? just for the sake of it. Sample size 100 of most popular is fine.

[2016-03-17 15:39] sacdallago commented on #60
@boriside Yeah, that's one option. I personally prefer to keep the data in the database. Although you would need a copy of it also somewhere on the fs to popolate an empty database. But, hey: I'm just here to give suggestions (not true, but let's pretend for a moment :D )

@kordianbruck I think so too! **C10** already has a lot of images, align with them!

[2016-03-17 15:43] sacdallago commented on #80
On the last messages:
1. @kajo404 A can provide you with a POST request to update the sentiment of a character given a certain interval
2. @kordianbruck if they are gonna use the API to populate the sentiments you should go by name, if you are gonna use the same database and they will store a relation in their schema to the document of the character, you **can** use the _id, but being the name a u

[2016-03-17 17:14] ghost commented on #71
I can do the check ;)

[2016-03-17 17:54] sacdallago commented on #71
:D when machines can't solve every problem on the planet :dancer: Just know that if you get this > 90% right, you are gonna be the first online service to implement this information systematically :O

[2016-03-17 17:58] mammuth opened #84 "API for returning top-rankings of PLOD"
Project B seems to put their PLOD-data to your database (https://github.com/Rostlab/JS16_ProjectB_Group7/issues/5#event-593684802).

We would need an API to get an array of characters with the highest PLOD, so we can show a section on the page "Most likely to die soon" with the eg. TOP3 characters (Eddard, Jeoffry, Jon)

[2016-03-17 18:04] ghost commented on #71
Hm, i could fake this to > 90% =D
Well, i checked 100 characters.

Result:

20/100 Wrong.
19 wrong, because character is actually male.
1 wrong, because character is actually female.

Name - assumed male - is actually male - wrong?

[2016-03-17 19:05] togiberlin commented on #84
@mammuth Isn't the PLOD of every human 100% :D
...I assume you mean with soon --> within season 6.

[2016-03-17 19:07] sacdallago commented on #71
Good, we are ±80% accurate, still better than anyone else on the planet

[2016-03-17 19:46] ghost commented on #82
@kordianbruck You can fill the db with the new filler.
Some validation errors occur, because there a dups in the json. No problem. Dups are then just ignored.

[2016-03-17 19:46] #82 closed

[2016-03-17 19:49] togiberlin commented on #77
@kordianbruck nice overview. We should also keep in mind, that there is no year 0 in the real-world `before christ/BC` and `anno domini/AD` system. What about the GoT world? As I can see from here, they have a year 0 [The Targaryen Conquest - Timeline (search for keyword "0 AL")](http://gameofthrones.wikia.com/wiki/Timeline)

[2016-03-17 20:53] gyachdav commented on #71
Ways to improve:

use bag of words that fit a male profile to distinguish from female. Luckily for us the GoT world is chauvinist by design so the male profile should stands out by looking up:

title: king, prince, khal, lord, ser, magister,  maester, spymaster, knight, guard, guardsman, apprentice, spymaster etc.
marital: husband, father, grandfather, son, grandson, bastard.
organization: kingsgu

[2016-03-17 21:50] tPiffrader opened #85 "New fields in character/regions for map feature"
Hopefully the last issue of group 10 :stuck_out_tongue_winking_eye:
- [x] Add a field with an image link to the character scrapper
- [x] Add a boolean field "hasPath" to the character, indicates that we have path information
- [ ] Add a possibility to put character path to the database (preferring a separate table)
- [x] Add city character information to the DB
- [x] Add regions/realms to the DB
-

[2016-03-17 21:58] boriside commented on #60
http://gameofthrones.wikia.com/wiki/Category:Characters from here we can scrape the images, what do you think?

[2016-03-17 22:18] boriside commented on #85
I start modelling this.

[2016-03-17 22:22] boriside commented on #85
@tPiffrader  what does it mean: city character information ?

[2016-03-17 22:38] boriside commented on #85
@tPiffrader a region contains many places like cities for example. Don't you need actually the "coordinates" of those places?  How do you threat coordinates, like for example how do you estimate, where a city is relatively to the other cities?

[2016-03-17 22:50] tPiffrader commented on #85
@boriside sry but I don't get what you want to say... Can you explain it a bit further?

[2016-03-17 22:54] tPiffrader commented on #85
@boriside we can talk tomo before or after presentation? :)

[2016-03-18 09:14] kordianbruck commented on #60
@boriside It also has an API: http://www.wikia.com/api/v1/

[2016-03-18 10:09] asesselmann opened #86 "Inconsistent character database"
Hello Project A!
We have several questions for you:

Lyonel strong has a spouse: "1st: unknown2nd: unknown3rd: unknown"
Can you please fix that?

Why does a character have a feature parents, if it already has a mother and a father?

What does the feature book mean? By now, all characters have only one book. Is it the book of death?

Also we found that the database is not consistent.
Mothers, fathe

[2016-03-18 12:03] ThuyNganTran opened #87 "Incomplete Titles"
Some of the title values in the character database return incomplete titles, e.g. Tywin Lannister has the title 'Casterly Rock' even though his title should be 'Lord of Casterly Rock'.

[2016-03-18 12:06] mbandle opened #88 "Last two TV Episodes are Missing"
When fetching all the TV episodes, The last 2 ones are actually missing in the DB.
Apparently the wiki doesn't contain any information about them because the article isn't witten yet for some reason: http://awoiaf.westeros.org/index.php/Portal:TV_Show

Is there way to manually add the title, number and season information to the database?

[2016-03-18 12:47] sacdallago commented on #86
:D I'm gonna enjoy the conversation in this issue

[2016-03-18 12:48] sacdallago commented on #88
Expand the wiki! Safest way to do this in my opinion!

[2016-03-18 13:05] ghost commented on #87
@theocheslerean Any idea why the scraper returns this? I checked the cache file. The scraper gives me too less.

[2016-03-18 13:15] ghost commented on #86
- There should be no houses etc. in the characters db anymore with strange data anymore. @kordianbruck please, update the server.
- Parents is redundant and will be removed. Thanks.
- I haven´t modeled the book property, but it is an array. So i guess the array states the appearances of a character in the books. @theocheslerean Probably a scraper issue?
- I don´t know why non existing entries can

[2016-03-18 13:52] asesselmann commented on #86
@Hack3l  @ThuyNganTran  @subburamr
Have a look!

[2016-03-18 13:57] asesselmann commented on #86
Had a look at feature book: only 49 characters have this feature, all others have books:[ ], which is not what we want ;)

[2016-03-18 14:16] mina-zaki opened #89 "Add pagination to characters request"
When requesting the characters api (/characters) i believe its a cool idea to add pagination (i.e. page and per_page parameter )

[2016-03-18 14:32] kordianbruck commented on #85
@tPiffrader please provide the data structure for the remaining fields in json format similar to issue #80

Regions are already in the database: https://got-api.bruck.me/doc/#api-Regions - let us know if this is what you need

[2016-03-18 14:33] kordianbruck commented on #88
Yes, adding it to the wiki is the best approach!

[2016-03-18 14:39] kordianbruck commented on #82
@Adiolis done

[2016-03-18 14:41] kordianbruck commented on #84
@mammuth we will have two PLOD values, which one do you want it ranked by or do you want to have the top10 from both?

[2016-03-18 14:44] kordianbruck commented on #77
Yea, thats another good point. It is just too complex to do in one go in a aggregation function I think. I will have to experiment more...

[2016-03-18 14:58] mammuth commented on #84
Äh, are those two fields from the two different plod groups?

I'm afraid we need to show both ;-)

Btw, There seems to be some discussion on the other issue if I'm right, about how to filter out "bad results" and some other stuff.

[2016-03-18 15:22] boriside commented on #60
ah cool @sacdallago I think we could use this?

[2016-03-18 15:25] sacdallago commented on #60
Of course you can! The more info, the better ;)

[2016-03-18 15:29] ghost commented on #60
Are there probably copyright issues?

Who wants to scrap this? =D
Bear in mind that we have to identify the matching entry in the database, because character names for example can be different. (more surnames, titles,..)

[2016-03-18 15:30] ghost commented on #88
@docjag @kordianbruck @theocheslerean @boriside @togiberlin
Who wants to do that? =)

[2016-03-18 15:32] Adiolis opened #90 "Split scraper file into multiple ones"
The scraper file is too long and the concerns should be in separate files.

I will do that.

[2016-03-18 15:36] ghost commented on #86
Yeah, the scraper should get more out of it.
@theocheslerean ;)

[2016-03-18 15:42] sacdallago commented on #84
I confirm: we are trying to see if we can port some centrality measures back to A so that from the data itself you can generate classifications on which characters are important. It's actually a pretty damn easy thing to do with [the right package](https://www.npmjs.com/package/ngraph.centrality) and by just scraping of all pages in the wiki, creating different graphs for different types of data (

[2016-03-18 15:43] sacdallago commented on #84
P.S.: yes @mammuth , you need to show both because averaging over ML devices is like averaging over bananas and apples :laughing:

[2016-03-18 15:48] sacdallago commented on #60
@Adiolis  look at the bottom of the [page](http://www.wikia.com/api/v1/):

http://www.wikia.com/Licensing

Just attribution!

[2016-03-18 15:53] sacdallago commented on #84
P.P.S.: Maybe ask what these guys are doing? https://github.com/Rostlab/JS16_ProjectB_Group6/pull/48/files

But if I'm not mistaken they are generating these popularity indexes upon data generated by @gyachdav which is kind of old.. and the _page rank_ that Guy was implementing was in a beta-state... Would be nice if the graph and the centrality measurement could be run periodically

[2016-03-18 16:31] ghost commented on #90
Done and tested

[2016-03-18 16:31] #90 closed

[2016-03-18 16:40] ghost commented on #81
That´s nothing to me. BAM!
It is really no big thing.
I will implement three policies:
1: Delete and refill
2: Update old entries and add new
3: Only add new entries/properties

[2016-03-18 17:38] ghost commented on #81
@sacdallago @kordianbruck
By the way, i don´t think that the snd policy (see above) makes sense in our case.
Following use-case:
- User saw wrong information.
- User updates the information via api.
- Filler is run.
- Updated information is "updated" again by the filler to the old value/new value of the wiki.

Therefore, i think, it makes more sense to have one initial set of information and the w

[2016-03-18 19:43] Adiolis opened #91 "Event scraper sets multiple unknown names to Unnamed, but name has to be unique."
See title ;)

[2016-03-18 19:44] ghost commented on #81
Well, everything is implemented ;)
Don´t forget to update the cfg file. See template.

[2016-03-18 19:46] ghost commented on #76
There should be no error messages anymore.

[2016-03-18 19:46] #76 closed

[2016-03-18 21:07] AlexBeischl commented on #85
Hi @kordianbruck,

last two:
for our realms/regions we need this structure:
"name": String (already in the DB),
"color": String,
"path": JSON
Looks in our data like this:
{"name": "The Lands of Always Winter", "color": "white", "path":[[84.99013259851141,-98.69138835608068],[84.99013259851141,-141.98102083028493],[84.78666878252469,-141.38368012244283],[84.72242199393571,-141.31340474504964]...]}

[2016-03-18 21:47] gyachdav commented on #89
And why is this on A's issues?

Sent from my iPhone

[2016-03-18 21:54] ghost commented on #60
I have implemented the scraping and filling of the character images from the awoiaf wiki. =)
The images are then stored in the misc/images/characters dir.
Worked locally very well.

@kordianbruck Please start the character filler. Probably the wiki refuses at some point the connection. Just repeat it. It worked for me at some point. Otherwise use policy 2 multiple times.
AND: To get access to the

[2016-03-18 21:58] ghost commented on #89
For me it sounds pretty awkward to implement the pagination already on the api.
@sacdallago Isn´t it?

@mina-zaki Are you probably looking for a limit feature like in SQL?
With start and end range?

[2016-03-18 22:08] ghost commented on #60
Now, we have a good basis of 588 images =)
Probably other sources have nicer images, but not that many images.
So the idea is now, to get these nicer images and replace the old ones by them.
Who wants to do this? =)

Or, just do that manually :P

[2016-03-18 22:27] jorjo1 commented on #60
This makes me happy :tada:
Are you also scraping the pictures of the **houses** the characters are in?

This is our main idea of content representation:
![image](https://cloud.githubusercontent.com/assets/2246472/13893631/84cc70ae-ed60-11e5-9463-72b8b1dce15c.png)

The images you are currently storing, I think, are most suitable for the **profile picture**.
What I think about the header background

[2016-03-18 23:33] ghost commented on #87
I have implemented the multiple titles for the characters. The model property is therefore now an array.

@kordianbruck Please, update.
@theocheslerean I could not figure out, where you scrap the title property. (yeah, really :P )
Therefore i am overwriting it. Please remove the old implementation.

[2016-03-18 23:43] ghost commented on #86
I´ve implemented the multiple books scraping.
@kordianbruck Please, update.

[2016-03-19 00:00] ghost commented on #60
@jorjo1 I´ve actually implemented the houses images scraping, download and db filling. ;)
332 images :P

I think, i can do this HBO scraping although it wont be too easy to map them to the already existing db entries, but what about the copyright on them?

@kordianbruck refill houses ;). Please make the img urls accessible on the server, too. (Not redirecting to the hello page)

@theocheslerean

[2016-03-19 00:13] jorjo1 commented on #60
@Adiolis This has been my only concern.

# In addition, these files may not be used to construct any kind of database.

well this is a **no-go**.

[2016-03-19 00:17] #81 closed

[2016-03-19 00:17] #87 closed

[2016-03-19 07:34] mina-zaki opened #92 "Using name as the id for characters causes problems"
As discussed before name is used as the id for characters, when i get the character by name i get multiple results( i.e. https://got-api.bruck.me/api/characters/Walder%20Frey )

[2016-03-19 07:58] ghost commented on #92
The api is actually not case-sensitive and does not need the whole name, because this has been requested by others in issue #50 .

I am not sure how to solve both requirements now.
But it is definitely a bit ugly to filter the one character that should be addressed on the other side of the api.

 Probably we will need a changed api, where there is one call for the unique record and one call with a

[2016-03-19 08:09] ghost commented on #70
Since this is very important, i have mercy and will do that today :P

[2016-03-19 08:29] mina-zaki opened #93 "Top Plod characters return 404"
when calling the get top plod characters, the response content is fine but the response status code is always 404. I believe because it is in the same routes as characters
example : https://got-api.bruck.me/api/characters/plod/3

[2016-03-19 08:36] yashha commented on #70
It looks like most of the imdb pictures are copyright protected
http://www.imdb.com/media/rm2262031104/ch0155776
Should we get permission of hbo?
Wikia has done this: http://gameofthrones.wikia.com/wiki/File:Westeros_HBO.png

[2016-03-19 10:12] boriside commented on #93
@mina-zaki you mean: {"message":"Failure. No character with that data existing!",... ?

[2016-03-19 10:16] sacdallago commented on #89
Well, the problem is legitimate: If you were to build a webpage, you would implement pagination in the backend, becuase < data you send = faster page loading. This said, this API is thought as a standalone, thus implementing pagination (which forces the API to be _stateful_) _is_ not really relevant and an overhead.

Finally, I would say:
@mina-zaki implement this on the frontend and wait for the

[2016-03-19 10:16] #89 closed

[2016-03-19 10:21] mina-kleid commented on #93
yeas and also the status code of the response is 404(not found) instead of 200(Ok)

[2016-03-19 10:42] sacdallago commented on #81
Good @Adiolis
You are right about information overwriting, this is indeed an issue. There's a trade off in either solution, as in general it would be nice if people contributed more to the wiki, rather than updating data via API (because that way _everyone_ using the API will have the latest data). Which data is updated via API anyway? Is this like _happening_ often? Maybe it makes sense to **not*

[2016-03-19 10:48] sacdallago commented on #92
@Adiolis Why don't you implement another url encoded attribute `strict` that if set to true will only generate the strict result (thus it being equal to the request):
https://got-api.bruck.me/api/characters/Walder%20Frey?strict=true
http://expressjs.com/en/api.html#req.query

[2016-03-19 11:16] ghost commented on #70
Imdb fetching is ready. Still the filling of the db and with this the matching of character names remains.
Result of the scraping: [data/cast](https://github.com/Rostlab/JS16_ProjectA/blob/master/data/cast.json)
I will separate cache files from mainly constant data files. (cast will not change very often :P )

[2016-03-19 11:17] ghost commented on #92
@sacdallago
That´s what i meant with flags.
Ty =)

[2016-03-19 11:19] yashha opened #94 "Sever down"
@kordianbruck  please start server :)

[2016-03-19 11:22] #91 closed

[2016-03-19 11:42] boriside commented on #93
yeah we should wait for the server :P

[2016-03-19 13:58] ghost commented on #70
Soooo. I did it. What a callback hell...
But it works very smooth and only characters like 'Whore', 'Stark Guard' could not be matched to the db since they do not exist for good reasons in the wiki.

Also the characters get updated by the actors. We have this information now for 161 characters. =)

@kordianbruck

[2016-03-19 13:58] #70 closed

[2016-03-19 15:36] bandle commented on #94
We have extracted the data out of wikiDate folder and pushed it into our own git:
https://github.com/Rostlab/JS16_ProjectC_Group10/tree/develop/data

For the moment you can use those to get some got data into your page.
The file should be similar to the DBs out when calling getAll

[2016-03-19 15:44] ghost commented on #94
@yashha @mbandle
Sorry, but the data of wikiData/ are not similar to the db. Many properties are not matched against the models and transformed. =/

[2016-03-19 15:46] sacdallago commented on #93
It would be wise if for testing you run the API locally (localhost) and don't rely too much on DDOSing @kordianbruck 's machine :D Maybe he can just tell you what the config looks like for you to run it locally (aka mongo and all the other things [here](https://github.com/Rostlab/JS16_ProjectA/blob/master/cfg/config.json.template))

[2016-03-19 15:46] bandle commented on #94
I added some extra checks and it works for our map. At least its better than no data at all …

[2016-03-19 15:54] sacdallago opened #95 "DANGERZOOONE"
Hey guyz,
isn't [this](https://github.com/Rostlab/JS16_ProjectA/blob/master/cfg/config.json.template#L20) a little bit [DANGERZONE-ish](https://youtu.be/RRU3I_o1vLc?t=42s)?

You know that in [package](https://github.com/Rostlab/JS16_ProjectA/blob/master/package.json) you can define different `scripts` which can be, for example, different entry points for you app, so that instead of firing the app

[2016-03-19 16:08] sacdallago commented on #70
That Whore
![](https://pbs.twimg.com/profile_images/2068778661/ba_dum_tss.png)

[2016-03-19 16:09] sacdallago commented on #94
@yashha get used to using the API locally for testing! @Adiolis please provide them with the config that connects to mlab

[2016-03-19 16:20] AlexMoroz opened #96 "Project B7 integration"
npm package of B7 is already published
`gotarffplod@0.0.2`

Can you try it?

[2016-03-19 16:20] sacdallago opened #97 "Multithreading"
Hey, why don't you modernize a bit and start multithreading the shit out of the API?

Again, free to _get inspired_ by https://github.com/sacdallago/pssh/blob/master/index.js

[2016-03-19 16:37] julienschmidt commented on #95
`npm run resetApp`. There are just a few shortcuts for `start`, `test` etc :wink:

[2016-03-19 16:51] sacdallago commented on #95
Oh yeah sorry, that's what I meant :D

[2016-03-19 16:56] ghost commented on #95
If i only knew that earlier :P.
Will change the filling actions to scripts...
Thanks for the hint.

[2016-03-19 16:59] ghost commented on #94
@mbandle @yashha
Please give me hints how i can reach you guys to provide the config.
The mLab db is most of time provided with the newest stuff :P
Unfortunately you will need to run the server locally until kordians public server is on again...

[2016-03-19 17:00] ghost commented on #97
@kordianbruck feel free :P

[2016-03-19 17:01] julienschmidt commented on #94
@Adiolis can you please also send me the config via email:  my.name at tum.de

[2016-03-19 17:03] sacdallago commented on #94
Keep me posted on the progress here @julienschmidt @Adiolis ... Right now @julienschmidt is my versuchskaninchen

[2016-03-19 17:05] ghost commented on #94
@julienschmidt you should have an email.
I will see that the db is in the correct state after i created the new scripts for filling the db. #95

[2016-03-19 17:18] mina-kleid commented on #89
will do it on the front end. But from my point of view any RESTful api endpoint ( even if its standalone) which returns more than couple of results (in our case it returns 1900 as a start) should always provide pagination, even for performance issue(database and server). in worst case pagination should be static value, like 100 per page

[2016-03-19 17:21] julienschmidt commented on #94
Assuming that ~~#98 is merged and~~ mongodb installed and running:

[code]

werks

~~ProTipp™: set `"fillerPolicy": 1` in the config.json(#95)~~

[2016-03-19 17:24] ghost commented on #89
For me something like pagination is application logic. It would not be helpful if the api already defines how many entries are on one page.

I get your problem and i think the best solution for this is providing a feature like limit in sql.
So, that you can define the starting entry and how many further entries are resent.

[2016-03-19 17:35] julienschmidt commented on #94
All those `sudo` commands in the README shouldn't be necessary btw. If you need them, there is something wrong with your node setup.

[2016-03-19 17:39] kordianbruck commented on #94
I can give you access to the mLab which is used by my server. Just write me a mail (you can find this in my profile)

Server is up. Someone added a new dependency and didn't tell me about it. Also: please don't spam random issues with problems you encounter, it makes it really hard to follow what is required.

[2016-03-19 17:39] #94 closed

[2016-03-19 17:43] kordianbruck commented on #89
You should still limit the amount of entries you return in order to not transfer one megabyte in json data each time. I think this is a good idea and should definiatly be implemented but it is out of the scope of the current project for the first release. :+1:

[2016-03-19 17:58] ghost commented on #95
npm run refill --collection=x
 now to delete and fill.
Will later put information on the readme.

[2016-03-19 18:00] kordianbruck commented on #95
What exactly is the danger zone? You have linked the file in master not in the commit where the problem is actually added @sacdallago - please enlighten me <3

[2016-03-19 18:02] kordianbruck opened #99 "Auto create folder for character images"
[code]

[2016-03-19 18:04] kordianbruck commented on #87
All the characters updated on the api

[2016-03-19 18:10] kordianbruck commented on #86
Updated. Books are in.

[2016-03-19 18:10] #86 closed

[2016-03-19 18:11] ghost commented on #95
@sacdallago @kordianbruck
Okay. All scripts are implemented:

Policy 1: Delete collections and fill all (_id changes!)
npm run refill --collection=x

Policy 2: Update all entries and add new ones. (_id is constant here)
npm run update --collection=x

Policy 3: SafeUpdate, where old entries are not updated. Only new properties/entries added.
npm rum safeUpdate --collection=x

[2016-03-19 18:11] #95 closed

[2016-03-19 18:15] kordianbruck commented on #60
@Adiolis refilled the DB and added a route to the misc folder. You can configure this in the app.js and add a route for static files ;)

[2016-03-19 18:16] sacdallago commented on #89
Yeah well, at this stage I would move more towards a websocket than simple API calls

[2016-03-19 18:17] julienschmidt opened #100 "Unique slug per character"
We're currently generating slugs for URL paths like `/sentiment/tyrion-lannister` which is nicer than using the ID or the URL-escaped name.
It should be included in the DB to make it consistent between all projects.

Schema:
[code]

We currently generate them like this with the [slug package](https://www.npmjs.com/package/slug):
[code]

[2016-03-19 18:19] kordianbruck commented on #81
@sacdallago only one team requested the API token till now, so I'm not sure anyone actually pushes data to the API.

[2016-03-19 18:19] sacdallago commented on #95
FIY @kordianbruck https://github.com/Rostlab/JS16_ProjectA/blob/5bcd7f5085537367b9f714389c8687d09f07ceca/cfg/config.json.template#L20

[2016-03-19 18:21] boriside commented on #96
@AlexMoroz works!

[2016-03-19 18:21] sacdallago commented on #81
@kordianbruck so how about we cross this of the list? No possibility to update data **that is scraped**. The rest, might as well

[2016-03-19 18:22] #96 closed

[2016-03-19 18:24] ghost commented on #99
@kordianbruck feel free to fix ;)

[2016-03-19 18:24] kordianbruck commented on #97
@sacdallago is this not part of DevOps responsibilities (The guy that sets up the _production_ server)

[2016-03-19 18:25] kordianbruck commented on #89
@sacdallago yea, we could also do this really cool thing called XYZ, but we are really running out of time :neutral_face:

[2016-03-19 18:34] ghost commented on #60
@kordianbruck feel free. I am actually bit confused. Need a break :P

[2016-03-19 18:43] kordianbruck commented on #93
Server is back up :heart:

[2016-03-19 18:44] boriside commented on #100
Aaaaand we have issue #100!!!

[2016-03-19 18:44] mina-kleid commented on #93
As mentioned before the response content is fine, but the status code of the response is 404 instead of 200 (you can see it on the top right corner).

![screen shot 2016-03-19 at 19 43 02](https://cloud.githubusercontent.com/assets/1983476/13900623/d21d7560-ee0a-11e5-9ef7-db820137dfa0.png)

[2016-03-19 18:44] togiberlin commented on #93
@mina-zaki ok, let me check that

[2016-03-19 18:46] ghost commented on #93
Why exactly 404 is wrong here? It just states NotFound, what is here the case.
Am i missing something?

Or is that in data not the data provided by the request and the correct response out of the db?
If so, then there should be more data sent back...

[2016-03-19 18:50] mina-kleid commented on #93
@Adiolis yes because this is the whole error handling of all responses. response with 404 means its an error and i shouldnt process it. response of 200 means success and i can process it.

[2016-03-19 19:02] ghost commented on #93
Ah, i didn´t know that getByPLOD is filtering properties. So for me the response data was strange ;)

@togiberlin stores/charaters.js getByPLOD is implemented wrongly. If you do not delegate to get() you have to define the callback differently. See get() for the right callback for getByPLOD.

[2016-03-19 19:12] togiberlin commented on #93
@Adiolis I hope it should work now

[2016-03-19 19:15] togiberlin commented on #88
@Adiolis yeah, let me check it now... @kordianbruck I can take off some work off your shoulders if you want

[2016-03-19 19:19] kordianbruck commented on #60
Already did ;) Is this done?

[2016-03-19 19:20] kordianbruck commented on #96
@boriside did you also test if you can call their function? Can we open another issue for integration?

[2016-03-19 19:21] kordianbruck commented on #81
@sacdallago you mean over the API? Yea, makes sense - originally we thought that we would have other teams add information to the datasets over the API. So you vote to remove all functions that update scraped data from the API? Yes?

[2016-03-19 19:24] kordianbruck commented on #95
Gotch ya, thanks!

So fillers are basically gone from the API - great!

[2016-03-19 19:32] sacdallago commented on #97
I would have to touch your code!
That would make me feel so close to you :heart: :heart: :heart:
So. Close.

You sure you wanna see me **that close**.

[2016-03-19 19:34] sacdallago commented on #89
ahah sure! I'm just saying!!!!!!!!!!!!!! The issue's closed, so don't panic.. I was commenting on your "out of the scope..."

[2016-03-19 19:37] sacdallago commented on #60
@Adiolis @kordianbruck isn't A like, 900 people or something? :D :D

[2016-03-19 19:39] sacdallago commented on #81
Yes, I would upvote that. Let me take care of this somewhere else, wait.

[2016-03-19 19:52] togiberlin commented on #77
@kordianbruck [How to store negative Dates (BC) in JavaScript by using .toISOString() parsing method](http://scholarslab.org/research-and-development/parsing-bc-dates-with-javascript/)

[2016-03-19 20:23] kordianbruck commented on #97
@sacdallago remember our first kiss? :kissing_heart:

[2016-03-19 20:28] sacdallago commented on #97
How could I possibly forget, I'm offended.

[2016-03-19 21:20] kajo404 commented on #80
Just to update with the information we discussed offline on Friday after the presentation. We will use the character name.

When do you think the API calls will be available for use? Again, we need to save data in the schema above and make calls preferably in a date range that gives us all the datasets for a character in the timeframe.

[2016-03-19 21:37] boriside commented on #100
@julienschmidt is it only for character or should we do it also for other models?

[2016-03-19 21:39] julienschmidt commented on #100
We only need it for characters, but it can't hurt to add it to all models (where it makes sense) :wink:

[2016-03-19 21:41] togiberlin commented on #100
@boriside Then let's only add it for character model for time being. If you need more, just write into this issue.

[2016-03-19 22:16] togiberlin commented on #88
@mbandle Ehm... `Season 6` and `Season 7` are not public, yet. `Season 6` will come out end of April 2016. The content of these brand new seasons are also in no GoT book. Please do some research before opening issues ;)
@sacdallago Close this issue?

[2016-03-19 22:18] bandle commented on #88
Who spoke of seasons? I meant episodes
![bildschirmfoto 2016-03-19 um 23 17 30](https://cloud.githubusercontent.com/assets/11232638/13901573/d144f898-ee28-11e5-9ea8-0dc10c44400d.png)

[2016-03-19 22:18] sacdallago commented on #88
@togiberlin you should maybe read the first message again and open up the link there :see_no_evil: just saying

[2016-03-19 22:18] togiberlin commented on #88
Ups...lol, forget it :) it's late!

[2016-03-19 22:20] boriside commented on #100
ok, done. Then close (for now)

[2016-03-19 22:55] jorjo1 opened #101 "PLOD values in Characters-getById"
Hello,
for the representation of the character profile and ranking page we need exact value of the PLOD for each character. Could you fellows please implement this soon?

https://got-api.bruck.me/doc/#api-Characters-GetById

e.g.
https://got-api.bruck.me/api/characters/byId/56ea4cfe8c27d7c637505844

[2016-03-19 23:06] togiberlin commented on #101
@jorjo1 Hi, there is already a field for PLODs in every character. [app/models/character.js](https://github.com/Rostlab/JS16_ProjectA/blob/master/app/models/character.js)
At the moment, these values are `null` for every character and therefore won't be displayed. PLOD needs to be inserted

[2016-03-19 23:07] mammuth commented on #101
Thanks for the explanation. :+1:

[2016-03-20 07:19] mina-kleid commented on #93
Works perfect now, thanks

[2016-03-20 08:09] mina-zaki opened #102 "Getting character by md5(name)"
Me and @mammuth were suggesting the following :
- Based on the assumption that in production mode, database wont be repopulated that often( maybe never?)
- Since the user is navigating inside our app with the characterId we got from the API, the calls will be consistent with characterId (i.e.  Because the id's we use for querying eg.  A character are the ones we got some seconds ago when we querie

[2016-03-20 08:27] kajo404 commented on #80
Hi guys, really sorry to hit you with this so late but we need another API call.

We need to be able to get all sentiments for all characters in a timeframe to calculate the top 3 in that timeframe. Otherwise we would need to make ~120 requests for this calculation :D

[2016-03-20 09:55] ghost commented on #102
If in production the refill policy is never used, but the update one, then the _id will never change.
See https://github.com/Rostlab/JS16_ProjectA#scraping-and-filling-the-database .
I see no reason to use the refill policy in later parts...

Other possibility is to use the name of the character as identifier since it is always unique. (strict mode for getByName will be implemented soon/today :P )

[2016-03-20 10:21] theocheslerean commented on #97
That's real bromance :heart_eyes:

[2016-03-20 10:41] sacdallago commented on #101
Wait, wait, wait..
@togiberlin you are aware that PLOD's are two, right?
https://github.com/Rostlab/JS16_ProjectA/blob/63a9d48ba0a03767fa3991cee1aa0fdf2370eee8/app/models/character.js#L18

To me it makes much more sense if you implement it the way you implemented sentiments. Separate calls, separate collections: https://github.com/Rostlab/JS16_ProjectA/blob/63a9d48ba0a03767fa3991cee1aa0fdf2370eee8

[2016-03-20 10:43] togiberlin commented on #101
@sacdallago Ok, and inside the characterPLOD model you do want two separate fields, right? `plod1: Number` and `plod2: Number`

[2016-03-20 10:45] ghost commented on #85
@tPiffrader
What exactly do you want by:
Add city character information to the DB

I could scrap the characters wiki pages for city mentions. (but be aware that there can be false positives)

[2016-03-20 10:50] sacdallago commented on #102
I am **strongly** against getting char by _id if you store the id's somewhere indefinitely. I have advised everyone up until now to not go by _id, because the different projects need to be as independent as possible. Sure: if you get the entire content of the character store from the API and _in runtime_ use those _id's then this is perfectly acceptable, because it's extremely unlikely that the _i

[2016-03-20 10:57] sacdallago commented on #101
Let's start of with _I am inferring logic_:
You can simply store two entries for the same character, similarly as **I THINK** the idea is behind the twitter sentiment: https://github.com/Rostlab/JS16_ProjectA/blob/63a9d48ba0a03767fa3991cee1aa0fdf2370eee8/app/models/characterSentiment.js

Based on the number of X results, **F** / @jorjo1 can render X tabs showing the different entries.

Correct me

[2016-03-20 11:03] sacdallago commented on #101
P.S.: this would allow in the future to simply add entries in the database and have the webpage immediately render the third-machine learning device calculation: :heavy_check_mark: modularity, :heavy_check_mark: reusability

[2016-03-20 11:43] togiberlin commented on #101
@sacdallago, yes you can store two values for a character, however how we want to differentiate between Project B, Group 6 / Group 7? I was thinking of this:
`var CharacterPlodSchema = new Schema({`
    `character : {type: Schema.Types.ObjectId, ref: 'Character'},`
    `plod1: Number, //% likelihood of death. Project B, Group 6`
    `plod2: Number  //% likelihood of death. Project B, Group 7`
`});

[2016-03-20 11:46] gyachdav commented on #102
@sacdallago is right _id should never be used. It's an internal identifier that only has meaning within the context of the database and completely meaningless anywhere else. Also the assumption that the _id is immutable is wrong - You should expect it to change and it will.

Now, you have enough capabilities baked into the API to retrieve char data. That's alexactly what an API is for (Remember se

[2016-03-20 11:56] gyachdav commented on #77
More stats:
- [ ] num of bastards per realm. Tip: bastard last name is realm specific: sand is the last name for a natural born In Dorn, Rivers in the river lands and Snow in the north. Ref: http://awoiaf.westeros.org/index.php/Bastardy
- [ ] number cities per continent, realm

[2016-03-20 11:58] gyachdav commented on #77
Apologies for the formatting issues I'm posting it all from my phone while on the plane back to NY :p

[2016-03-20 12:01] sacdallago commented on #101
You did not quite understand what I told you :D
@Adiolis @kordianbruck can you help me out here please? How is the Twitter thing implemented? (read my previous comments)

and for @togiberlin :
What if tomorrow there is a new machine learning device that calculates a new PLOD? You'd have to completely redesign the schema. A much easier solution is:

[code]

[2016-03-20 12:40] gyachdav commented on #88
Has anyone considered integrating this as a secondary  source?

http://gameofthrones.wikia.com/wiki/Season_5#Episodes

They also have an API you can tap into.

[2016-03-20 12:45] gyachdav commented on #85
False positives are welcome at this stage. I suggest that any scraped data i.e. Not verified would be coupled with an "annotated" Boolean so we can always point out that shown data requires verification.

[2016-03-20 12:48] gyachdav commented on #84
Indeed the "pageRank" calculations needs to be refreshed periodically.

[2016-03-20 12:56] gyachdav commented on #84
I know Jonas katnebach from one of the Ds got my script and data to run the beta version of the pageRank. I also know that the ML groups are also working on implementing page rank. This seems to become a central measure to many groups so I suggest we just add members from all these groups into this issue and have the first group that implement a solid page rank populate the db with this measure.

[2016-03-20 13:00] gyachdav commented on #84
Actually @sacdallago just open a new issue for that here.

[2016-03-20 13:10] gyachdav commented on #60
Avoid touching HBOs copyrighted assets.  We don't need the site pulled offline because of copyright violations concerns.

[2016-03-20 14:37] sacdallago commented on #88
@gyachdav yeah. @Adiolis was already taking the pic from wikia I guess, right?

[2016-03-20 14:39] ghost commented on #88
@sacdallago
No, i used imdb to get the cast information for the episodes and the images so far are all fetched from the awoiaf wiki.

[2016-03-20 14:42] sacdallago commented on #84
@gyachdav OK
As for this issue itself: The API doesn't have to return a classification, you can sort the results of the APi call yourselves for the time being @mammuth . Thus; closing.

[2016-03-20 14:42] #84 closed

[2016-03-20 14:50] sacdallago opened #103 "Classify importance of Data (Characters, Houses,...) by Centrality measure"
Hi there,

as mentioned around and in other teams, it would be extremely useful to have a measure of _importance_ of a character, house, and everything that can be scraped from the wiki and has a unique link.

This can be done by creating a graph of in- and outgoing links via https://www.npmjs.com/package/ngraph.centrality and then storing in separate values the in-, out-, degree and betweenness c

[2016-03-20 14:56] sacdallago commented on #88
Oh, ok. Damn where did I see that someone mentioned wikia?! Too many issues :D @kordianbruck you maybe?

[2016-03-20 18:30] boriside commented on #103
Is this a call for help/collaboration with another team or it is an issue for Project_A?

[2016-03-20 19:33] kajo404 commented on #103
I did _something_ . I took the data from Guy's wiki scraper and generated some jsons from it. I then matched this with the character list provided by and ordered by score.

The code can be found [here ](https://github.com/Rostlab/JS16_ProjectD_Group5/tree/develop/popChars) . Its not great but it works. Maybe this helps someone...

[2016-03-21 06:10] kordianbruck commented on #102
@mina-zaki md5(Name)  maybe instead?

[2016-03-21 09:13] sacdallago commented on #103
It's a call for collab if someone has done something about it. But I think I described quite extensively how you could implement this, regardless of other's people work. So :D you know... :D

[2016-03-21 09:15] sacdallago commented on #102
@kordianbruck that's fucking awesome, how did I not come up with that

[2016-03-21 09:31] mina-kleid commented on #102
@kordianbruck That is great, so we dont fall into the hassle of encoding urls and so on. once you decide on it let me know so we can change our calls

[2016-03-21 10:21] sacdallago commented on #101
Ok. I saw the commits, I like where this is going!
I think that this is now settled, can we close?

[2016-03-21 12:43] kordianbruck commented on #102
Reopening this issue so we can talk this through more.

We would need to save the MD5 along with the name in the DB and it might create inconsistencies, or  we can even replace the internal mongoDB _id with the md5 of the name, so we can use proper references - what are your thoughts?

Whenever we are updating a name we would need to also update the MD5.

[2016-03-21 12:50] sacdallago commented on #102
@kordianbruck I think you can overcome much of the complexity using mongo's inbuild functions:
https://docs.mongodb.org/manual/reference/operator/query/where/

Something like: `where md5(this.name) == request.md5`

[2016-03-21 12:55] kordianbruck commented on #102
@sacdallago great idea, now we have a API operation that will heat the LRZ to Sauna-temperature© with every call. :tada:

Calculating the MD5 for 2000 Characters with each query is really not a good idea...

[2016-03-21 13:01] sacdallago commented on #102
HA. They've got computing time :D :D but good point. We are back to the ancient problem:

:boom: :boom: :boom: :boom: :boom: :boom: :boom: :boom: :boom: :boom: :boom: :boom:

### redundancy vs CPU time

:boom: :boom: :boom: :boom: :boom: :boom: :boom: :boom: :boom: :boom: :boom: :boom:

Just store the MD5 in the char document when scraping it then? I **think** you can actually also set the default

[2016-03-21 15:33] mbandle opened #105 "Characters Missing"
In your database some characters are missing like Robert Baratheon or Brienne of Tarth.

https://github.com/Rostlab/JS16_ProjectC_Group10/issues/185

[2016-03-21 15:39] ghost commented on #105
@theocheslerean the scraper is not returning them.
Probably because of redirects in the wiki?

[2016-03-21 16:34] kajo404 commented on #80
## Nevermind I didn't read

 I see what you did there, as mentioned above we also want to save a date (we calculate the score for every day)

[2016-03-21 16:40] AlexBeischl commented on #103
Well, we have just gathered some images for the characters, we created paths for and which are most important/popular. Those images can be found here:
https://github.com/Rostlab/JS16_ProjectC_Group10/tree/develop/mockup/img/persons

[2016-03-21 21:44] sacdallago commented on #103
@AlexBeischl that's still not really what I had in mind :) but again, a start:
@kordianbruck @Adiolis can you assign someone except you two or @togiberlin to take care of this one? Assign as in, this issue is assigned.

[2016-03-22 01:46] gyachdav commented on #105
http://awoiaf.westeros.org/index.php/Robert_Baratheon
redirects to
http://awoiaf.westeros.org/index.php/Robert_I_Baratheon

Is the scraper not following redirects? if not then we might be missing a bunch of characters.

e.g.
http://awoiaf.westeros.org/index.php/Brienne_of_Tarth
redirects to
http://awoiaf.westeros.org/index.php/Brienne_Tarth

[2016-03-22 01:57] gyachdav commented on #77
where does that stand? Have you communicated with F so they would show all your wonderful stats?

[2016-03-22 09:35] theocheslerean commented on #6
Change the line that models the entity-relationship of continent-city and region-city to the proper type of line. You have the different lines in "Entity Relation"

[2016-03-22 13:22] nicoladesocio opened #106 "API for character status (dead/alive)"
Hello,

project F needs an API to get only the charachters with status alive, so that the PLOD for dead characters is not displayed.

I coded some functions in npm, please check https://github.com/Rostlab/JS16_ProjectB_Group7/pull/22

[2016-03-22 13:52] togiberlin commented on #88
@sacdallago @mbandle  I think we can close this issue. They closed down their wiki registration for new users (scroll down to bottom): http://asoiaf.westeros.org/index.php?/topic/132382-how-to-get-a-wiki-account/
I requested some senior forum member to add this information, but can't guarantee whether he'll do it in the next couple days: http://asoiaf.westeros.org/index.php?/topic/34958-the-asoiaf

[2016-03-22 13:56] togiberlin commented on #101
@sacdallago What I have to add are the API routes/controllers to add/edit the PLOD values. It should be done with the next couple hours

[2016-03-22 14:01] gyachdav commented on #77
@kordianbruck feel free to reassign to one of the many devs you have at your disposal.

[2016-03-22 14:09] togiberlin commented on #80
@kajo404 Hi Kajo, I think it's already in there (see line 6): https://github.com/Rostlab/JS16_ProjectA/blob/master/app/models/characterSentiment.js

[2016-03-22 14:11] kajo404 commented on #80
Yes I saw that, but we are supposed to access the schema with the rest api. What are the urls to do the requests?

[2016-03-22 14:22] togiberlin commented on #80
@kajo yeah, I guess this needs to be done. Let me do that until March 23rd, evening

[2016-03-22 14:32] gyachdav commented on #77
@togiberlin beautiful work https://github.com/Rostlab/JS16_ProjectA/blob/master/wikiData/statistics/CharacterStats.pdf
shame i found it by wandering around and that you haven't brought it out.

Anyways this is exactly what i am looking for to be shown on the site. It would be best if we can show this in sections instead of showing a long page with all the stats. Think about a way that we can incor

[2016-03-22 16:24] gyachdav opened #107 "Status update"
Muchachos,

Your feature freeze is March 25th and delivery is April 3rd. You're the foundations we are all standing on so it is really important for us to know where you stand. Specifically:

\# of features in development
\# of features in testing
\# of new features you plan to introduce before the 25th (preferably list those with a short description)
\# estimated men-hours you will need to hit yo

[2016-03-22 17:06] gyachdav commented on #88
Not sure if we can wait for the wiki ppl to add this in. If we wont integrate the missing episodes from wikia, then maybe we should just put it into our db as an override mechanism?

The C10 map also seems to be affected. Jon Snow is still at Hardhome..

@mbandle  @AlexBeischl @tPiffrader

[2016-03-22 17:13] ghost commented on #60
Are there still new images required or are the ones from awoiaf sufficient?

[2016-03-22 17:16] #93 closed

[2016-03-22 17:20] ghost commented on #85
@tPiffrader I still require the answer for my question two days ago ;)

Also, what do you mean with:
Add regions/realms to the DB
There is already such a collection.

Please refine what you actually need.

[2016-03-22 17:22] ghost commented on #97
So, is this issue still an issue or can be closed?

[2016-03-22 17:24] ghost commented on #102
@kordianbruck Are you on this?
I could not follow the whole discussion here and have a bunch of other things to do...

[2016-03-22 17:24] kordianbruck commented on #97
I'll take a look in a sec...

[2016-03-22 17:25] kordianbruck commented on #102
@Adiolis @mina-zaki  it depends if it still makes sense to change this at this stage. Do you still need it @mina-zaki ?

[2016-03-22 17:26] ghost commented on #103
I asked already on the facebook group, who wants to do this. Till now, there are no volunteers.
I am really not able to also do this. :angry:
Should we really just assign some one, @sacdallago  :smile:

[2016-03-22 17:33] kordianbruck commented on #106
@togiberlin why do we need a new field? We could simply check this on output and add a flag, based upon the fact if a deathDate is saved for this character.

@nicoladesocio can you not simply check if the character has a deathDate and filter by that?

[2016-03-22 17:39] kordianbruck opened #108 "Remove any update methods from API"
following the discussion from https://github.com/Rostlab/JS16_ProjectE/issues/14#issuecomment-199318802

We should remove any API methods that manipulate the data that is scraped, so we maintain the ability to update the data set.

@sacdallago correct?

[2016-03-22 17:41] ghost commented on #107
We still need to find out, which information/resources are still missing and needed by other groups. (issues #85 and #60 are still a bit unclear)

These new features will be introduced if they are really needed:
- Centrality measure to estimate the importance of data. #103
- #97 Multithreading
- Scraping missing information/ressources from wikia, hbo. (Which have to be defined first)

Further feat

[2016-03-22 17:43] kordianbruck commented on #107
Also please check the Milestone filter - all issues are clearly assigned a milestone to be finished by.

[2016-03-22 17:44] ghost commented on #106
Should be no problem to calculate and add such a flag right before the response. I would not store that in an extra field, that can have inconsistencies.

[2016-03-22 17:47] ghost commented on #108
I would just kick them from the routes...

[2016-03-22 18:09] ghost commented on #103
Is this even a part of Project A?

[2016-03-22 18:30] kordianbruck commented on #103
Yea, I don't think this is in the project scope of A nor can be done till the 25. I vouch to move this issue to 'someday'

[2016-03-22 18:57] gyachdav commented on #103
I actually think it is within the scope of A, but since this requirement showed up late in the game we can defer it to the next version.

In the mean time, please integrate the data from here https://rostlab.org/~gyachdav/awoiaf/Data/pageRank/allchars.tgz

it's not perfect but at least gives a measure of which character is more referenced than others. I believe the range is [1-300](unknown to popu

[2016-03-22 19:00] ghost commented on #103
@gyachdav thank you. We will do that.

[2016-03-22 19:07] julienschmidt commented on #100
You added the line to the Schema, but you're not generating the slug...

[2016-03-22 19:13] kordianbruck commented on #108
@Adiolis you forgot the add methods. I did that. This can be closed now.

[2016-03-22 19:13] #108 closed

[2016-03-22 19:14] kordianbruck commented on #108
@Rostlab/js_cs_sose_2016_students there was one team, that actually was updating Data via the API - which team was this and what endpoint was it?

[2016-03-22 19:15] ghost commented on #108
@kordianbruck @sacdallago I did not remove the add methods on purpose.
I don´t see them in conflict with our scrapers, because added data will not be scraped (yet).

[2016-03-22 19:16] kordianbruck commented on #106
@Adiolis I don't even think we need a flag. Project F should simply check if the character has a death date. I think this issue is obsolete.

[2016-03-22 19:17] kordianbruck commented on #108
The question is if we actually want data to be added over the API. As far as I can read between the lines in the issue from project E, all data should be added via scrapers or automated methods so the API is actually reuseable.

[2016-03-22 19:20] ghost commented on #106
@sacdallago @nicoladesocio

[2016-03-22 19:32] sacdallago commented on #106
@kordianbruck 's right. Having a death date is good enough a check

[2016-03-22 19:32] #106 closed

[2016-03-22 19:35] ghost commented on #100
I am not aware of this whole discussion, but isn´t #102 referencing the same purpose, but with another implementation?

@kordianbruck @sacdallago

[2016-03-22 19:36] sacdallago commented on #108
@kordianbruck is right @adiolis . if updates are not allowed so shouldn't inserts, they should still happen over wiki, at least for the scraped data

[2016-03-22 19:37] kordianbruck commented on #100
@Adiolis I actually quit this discussion cause I have no clue about it. But yea, now that I actually understand what the "slug" is, I think it is the same as #102

[2016-03-22 19:38] sacdallago commented on #100
As far as I understood this slog is _where_ you get the data from aka: permalink of the wiki page. But now you question my understanding

[2016-03-22 19:40] julienschmidt commented on #102
Yes @Adiolis that seems to be basically the same problem as #100

Using hashes is a bad idea from a usability and SEO point of view. I think [Slugs](https://en.wikipedia.org/wiki/Semantic_URL#Slug) / #100 is what you are looking for.

[2016-03-22 19:41] ghost commented on #100
`slug('Jon Snow', {lower: true})` as proposed will not give the wiki link http://awoiaf.westeros.org/index.php/Jon_Snow for example.

I think this is just about identifying db entries.

[2016-03-22 19:41] kordianbruck commented on #102
@julienschmidt SEO in an API? really? :boom: :bomb:
ad Usability: users use the frontend, not the backend API.

[2016-03-22 19:41] #97 closed

[2016-03-22 19:44] ghost commented on #102
I don´t get why we should transform the unique name on the api in first place? (no matter if slug or hash)

[2016-03-22 19:45] julienschmidt commented on #100
`slug('Jon Snow', {lower: true})` will return `jon-snow`. If you really want it to be consistent with the wiki, you should provide the same Slug the wiki uses instead.

[2016-03-22 19:48] kordianbruck commented on #108
@Adiolis what about documentation? that will still remain in the docs...

[2016-03-22 19:50] sacdallago commented on #88
@gyachdav ... There's been a discussion going on on data sources :) what you just suggested is going against something we decided in the last 3 days afrer several discussions and polls, which is: data should be consistent and on the wiki.
I'll talk to the wiki owner again see what can be done

[2016-03-22 19:51] julienschmidt commented on #102
@kordianbruck this is not about the API but being able the identify a certain object (character) from user input (the URL) without passing the DB-specific _id around.
Ideally every subproject would use the same _human readable_  valid URL path fragment (So no `Jon Snow (grandchild of whatever II)` to identify those objects. That's what #100 is about. I must admit that I didn't read the whole discu

[2016-03-22 19:52] gyachdav commented on #88
I'm all for clean solutions of course BUT [winter is coming ](http://winteriscoming.net/)

[2016-03-22 19:54] ghost commented on #108
Unfortunately you cannot comment comments out :P
Probably just delete them and in later parts the comments can be reclaimed from git history or just done again, which is not a big act.

[2016-03-22 19:56] yashha opened #111 "Character by Name with curly braces"
https://got-api.bruck.me/api/characters/Will%20(squire)
Doesn't work, how can I fix it?

[2016-03-22 19:57] ghost commented on #88
That are two missing episodes right?
I can add them now manually and in later parts this will be updated/overwriten by the scraper automagically.

[2016-03-22 19:58] gyachdav commented on #88
:+1:

[2016-03-22 20:01] sacdallago commented on #6
This is post-feature freeze. Just to stress this out again. Probably the last thing you want to do

[2016-03-22 20:03] kordianbruck commented on #6
Let's change the milestone then...

[2016-03-22 20:04] sacdallago commented on #100
I see where this is going. Yes. Same as MD5 story but on a SEO level.

Necessarily? Why? Highly redundant if you ask me

[2016-03-22 20:04] kordianbruck commented on #88
I already did that. Check https://github.com/Rostlab/JS16_ProjectA/commit/6d2aded1b0df2efab7f03e71955c57680bd97b76

Working on refilling the DB.

[2016-03-22 20:06] sacdallago commented on #100
Oh sorry. I should have read the title of the issue. Shit. Shit. @kordianbruck is right this, as MD5 are redundant, but they eventually become necessary... Implement either of them please, I personally like MD5 more

[2016-03-22 20:21] kordianbruck commented on #88
Now in the DB and we have all 50 episodes. We should revisit this in a month or so, if we get access to the Wiki and can actually add some data there.

[2016-03-22 20:25] #99 closed

[2016-03-22 20:45] kordianbruck commented on #92
Duplicate of #100 #102 - will be fixed by either using the MD5 or slug.

[2016-03-22 20:49] kordianbruck commented on #101
@togiberlin please remove `status` as it is redundant information, that is already saved in the character itself, if he/she is alive. Also `description` would be better named `algorithm`

[2016-03-22 20:50] #60 closed

[2016-03-22 21:59] togiberlin commented on #101
@kordian did this. The PLOD thing has it's own controller/store file and API routes now.

[2016-03-22 22:04] kordian-kowalski commented on #101
@togiberlin I think you got the wrong Kordian :)

[2016-03-22 22:12] kordianbruck commented on #101
@KORDiAN it's me <3

@togiberlin thanks! Why did you add routes for character edit/delete?

[2016-03-22 23:30] AlexBeischl commented on #85
Hi Michael,
I have described the format for regions/realms we need for polygons here:

"Hi @kordianbruck,

last two:
for our realms/regions we need this structure:
"name": String (already in the DB),
"color": String,
"path": JSON
Looks in our data like this:
{"name": "The Lands of Always Winter", "color": "white", "path":[[84.99013259851141,-98.69138835608068],[84.99013259851141,-141.9810208302849

[2016-03-23 01:41] gyachdav commented on #85
status?

[2016-03-23 08:10] mammuth commented on #60
Personally I don't like the style of the awoiaf images, however I wasn't able to find suitable alternatives with more beautiful ones.

[2016-03-23 08:14] kordianbruck commented on #60
@mammuth yea, they are not the best but it'll work for now. I've fetched the images from the houses as well yesterday night, so that should also be available.

[2016-03-23 10:10] sacdallago commented on #101
@kordianbruck I like the `description` more because they might be using the same ML device!

[2016-03-23 10:15] kordianbruck commented on #101
@sacdallago it might be the same device but different configuration of the algorithm (used features) - so I think is makes it clearer...

[2016-03-23 10:35] sacdallago commented on #101
Our first couple fight, ohw :heart:

[2016-03-23 10:37] kordianbruck commented on #101
Let's compromise, cause thats what you do in a relationship: descrithm k? :+1:

[2016-03-23 14:16] jcebel commented on #80
Hey :)
Does the urls already exist? I can't find them in the docs..

[2016-03-23 15:53] gyachdav opened #112 "Some stats about your project"
Gringos, as part of the media blitz we're planning there will be a press release that will throw some big numbers at the readers. Can you provide some impressive statistics about the data your tools processed e.g. we assembled 10M data points by crawling through 5k pages describing 2k characters hundreds of houses, 5 continents etc.  Any thing that you think might be interesting IS interesting.

[2016-03-23 16:35] ghost commented on #100
I removed the slug form the model, because no filling is working until the required slug is implemented, which is actually not the case.
Please add this required field after implementing this!

[2016-03-23 16:38] sacdallago commented on #100
so what is it gonna be in the end? Slug, MD5?

[2016-03-23 16:38] gyachdav commented on #77
Status? @togiberlin we need your feedback here.

[2016-03-23 16:42] ghost commented on #100
@sacdallago Could you please explain to me, why you like md5 more?
I have no clue, which one to use. Slugs are for me at least human-readable. Probably it would also be a nice idea to just use the wiki slug.

@kordianbruck

[2016-03-23 16:56] sacdallago commented on #100
To me MD5 conveys that sense of comfort and love which cannot be rationally explained. Like the love for @kordianbruck :laughing: :laughing: :laughing: :laughing:

No, but seriously: I deal with variable size input. MD5s become a pretty precise and concise representation of [very long text sequences](http://www.ncbi.nlm.nih.gov/nuccore/667677333?report=fasta). They are my _human-readable_.

But yo

[2016-03-23 17:02] julienschmidt commented on #100
With the small difference that we're not dealing with megabytes of sequences of just 4 letters but with names - which tend to be human-readable.

I prefer all-lowercase URLs, but reusing the slugs from the wiki might be the best option.

[2016-03-23 17:03] julienschmidt commented on #100
If we have mixed-case slugs, we probably need a function to make a case-insensitive lookups too :stuck_out_tongue_closed_eyes:

[2016-03-23 17:35] ghost commented on #103
I have implemented the updating of the pageRanks.
With every refill, update etc. of the characters the pageRanks are added.

To just add the pageRanks and do nothing more run: `npm run updatePageRanks --update=characters`
Then the pageRanks.json in dir data/ is added to the db.
With the --file=dir/file.json option, one can change the json file to use.

To create this json from the dir that guy pro

[2016-03-23 17:37] ghost commented on #100
I would now just use the slugs from the wiki.
@julienschmidt Is this a big issue for your project to change to them?

[2016-03-23 17:38] julienschmidt commented on #100
nope, as long as they also work as filenames, we're fine with whatever string.

[2016-03-23 17:42] sacdallago commented on #88
@togiberlin I don't see where in that link you posted they are saying that you cannot sign up anymore?

[2016-03-23 17:45] Adiolis opened #113 "Plod stuff very buggy"
Heyho,

i don´t know who worked on controllers/characterPlod and so on.
It is very buggy and i had to remove it from the routes, because nothing is working (syntax errors and so on).
Also i had to remove the field in the character model, because it is required and not yet filled to the db. So every update on the characters collection gives me an error, because i have no plod to set.

Please fix th

[2016-03-23 17:48] ghost commented on #85
@AlexBeischl: Do you have an answer to this or is this just @tPiffrader ´s issue. He is unfortunately not answering.

[2016-03-23 18:12] togiberlin commented on #80
@jonny3576 Sorry for delay, please be patient. I'm also writing 2 retake exams soon. But I want to close this issue this evening!

[2016-03-23 18:14] ghost commented on #105
Seems to be fixed. Please update, @kordianbruck

[2016-03-23 18:14] #105 closed

[2016-03-23 19:23] AlexBeischl commented on #85
Hi @Adiolis ,

yes the answer I wrote above is for the request of @tPiffrader .
"Add city character information to the DB:
The best solution would be to create a new table: Character's Locations:
"name": String
"locations": JSON
therefore we need a scrapper, which we described to @theocheslerean & @Adiolis today."

He isn't answering, because I did it for him, sorry for the confusion.

[2016-03-23 20:11] ghost commented on #100
@kordianbruck Please update. npm run update --collection=characters .
Just restart if connections are refused.

[2016-03-23 20:14] #100 closed

[2016-03-23 20:14] ghost commented on #113
I fixed some problems, but i am not aware what this all is doing. So please check on it.

[2016-03-23 20:14] #113 closed

[2016-03-23 20:16] ghost commented on #102
Well, implementation #100 is chosen for this purpose.

[2016-03-23 20:16] #102 closed

[2016-03-23 20:18] ghost commented on #101
Status?

I just assigned togi, because he has been doing this stuff.
I have no clue about this at all.

[2016-03-23 20:21] ghost commented on #85
@AlexBeischl We are somehow talking past each other.
I need to know if it is sufficient to just look up for each character the cities that are mentioned in the character´s wiki page. So, there can be false positives.

 is not helpful to me :stuck_out_tongue_closed_eyes:

[2016-03-23 20:42] sacdallago commented on #88
# :dizzy: **Congratulations** :dizzy:

@togiberlin you have been successfully added as a full member to the wiki.
You can now enter the data you want to scrape there!

[2016-03-23 20:44] ghost commented on #92
@sacdallago @mina-zaki
I have implemented the strict option.
Just put ?strict=true behind the api url.

@kordianbruck Please update the doc.

[2016-03-23 20:48] sacdallago commented on #103
but this is not done with the fancy alg I suggested above, right @Adiolis ? In that case please leave this open with the sometime milestone and no assignation :P

[2016-03-23 20:58] ghost commented on #85
@sacdallago

Okay, i can create these fields in the model, but there are no api calls more to fill them by the other groups. Also we can´t scrap these data from the wiki. Am i missing here sth.? :laughing:

[2016-03-23 21:33] sacdallago commented on #102
:D you just liked the number

[2016-03-23 21:34] sacdallago commented on #92
@mbandle this is what I was referring to earlier on skype? The thing @gyachdav told you about. Don't know feasibility. Just throwing things around

Thanks @Adiolis

[2016-03-23 21:42] AlexBeischl commented on #85
Hi @Adiolis
"I need to know if it is sufficient to just look up for each character the cities that are mentioned in the character´s wiki page. So, there can be false positives."

Yes, it is not perfect, but the best we can get right now.

"Okay, i can create these fields in the model, but there are no api calls more to fill them by the other groups. Also we can´t scrap these data from the wiki. Am

[2016-03-23 21:44] ghost commented on #85
@AlexBeischl Jep, i can do that.

[2016-03-23 21:46] sacdallago commented on #85
@Adiolis create a different collection and reference a character by a relation? Similar to twitter and PLOD. This appears to me to be the most database-oriented way of doing this.
Then maybe set up routes to get only the paths and routes to insert new ones and update them?
This because an editor is on the way.

@AlexBeischl would that work for you?
Also. I would keep every path entry separate, aka

[2016-03-23 21:55] ghost commented on #85
@sacdallago @AlexBeischl
What is the path field in region about? I see an array of coordinate arrays, but no reference to characters at all.

[2016-03-23 22:09] sacdallago commented on #85
@Adiolis I thought

would be the char or episode name?

And as far as I read the data, the coordinates are sequential and defining the path.

I might be totally wrong, let's wait for @AlexBeischl and @mbandle 's answer to this. But let's rather sleep one day on this and get it done correctly than rush into 500 schema and api changes, shall we? :)

[2016-03-23 22:11] ghost commented on #85
@sacdallago:

I thought, that this is just the name of the region, which is already in the db.
So, let´s wait =D

I really need some further explanation to this ;)

[2016-03-23 22:20] sacdallago commented on #85
Man, major brainfart... That might be it :D but yes, anyway, different collection, I'd say

[2016-03-23 22:50] AlexBeischl commented on #85
@Adiolis @sacdallago

"What is the path field in region about? I see an array of coordinate arrays, but no reference to characters at all."

The regions is just our realms (so we display a political map, no need for characters or anything else), therefore we just need the name of the region/realm and an array for the coordinates, which we need for building a polygon.

"Also. I would keep every pat

[2016-03-23 22:58] ghost commented on #85
@AlexBeischl
Basically i just need to extent the regions collection:
https://got-api.bruck.me/api/regions
Probably another field name than path would be less confusing :stuck_out_tongue_winking_eye:
Basically you draw with the paths the borders of the region.
I don´t see a reason to have for this a new collection...

For the location of characters, i can do a new collection..

[2016-03-23 23:02] AlexBeischl commented on #85
@Adiolis
And we need a color field for the regions, sry, i forgot to mention it in the previous message. Yeah, you are right, path is a bit confusing, state of brain isn't the best after creating polygones for realms and paths for characters for far too long... :laughing:

[2016-03-23 23:03] AlexBeischl commented on #85
"I don´t see a reason to have for this a new collection..."
Adapting it should work for us :smile:

"For the location of characters, i can do a new collection.."
:+1:

[2016-03-23 23:06] sacdallago commented on #85
Ok, ok. Happy everything is settled then :) I was just worried about the coming up editor and the possibility to write the new locations via the API to the db, but if the char location is a separate collection, this might actually work majestically :D
Also, compliments: it's the first data which is generated and not scraped (except PLOD and sentiment), so this is a biiiig business advantage right

[2016-03-24 00:16] togiberlin commented on #88
Uuuh.....connections :key: :sunglasses:
@sacdallago [Last two episodes of season 5 is in the wiki, issue can be closed](http://awoiaf.westeros.org/index.php/Portal:TV_Show)

_P.S. in the past, if you were member of the forum, you automatically had access to the wiki. This led to a lot of spam, so they stopped auto admitting new users and switched to a manual process. Users had to have at least 3 f

[2016-03-24 00:20] #88 closed

[2016-03-24 00:24] togiberlin commented on #80
@kajo404 @jonny3576 The basic stuff is there:
`var characterSentimentController = require(__appbase + 'controllers/characterSentiment');`
`router.post('/characters/sentiment/find', characterSentimentController.get);`
`router.get('/characters/sentiment', characterSentimentController.getAll);`
`router.get('/characters/sentiment/:date', characterSentimentController.getByDate);`
`router.get('/characte

[2016-03-24 00:31] togiberlin commented on #77
@gyachdav Actually what I did there was done manually with Numbers (Apple's Excel equivalent). I used a very early version of our scraped data. If you want an updated version, what are the requirements?
- Static (.jpeg / .png) or
- Dynamic? (Google Charts etc.)

I would prefer static.
For static, there are many [Photoshop dashboard templates](https://www.behance.net/gallery/14010225/PrasastiEnom-P

[2016-03-24 01:03] togiberlin commented on #111
Hello @yashha , if you want to query a character which has some symbols like `( ) or { } or [ ]` in his/her name simply use backslash `\` before every symbol. This tells the regular expression to also take these symbols into account. See my example below:

Your previous GET request which [breaks](https://got-api.bruck.me/api/characters/Will%20%28squire%29):
`https://got-api.bruck.me/api/characters

[2016-03-24 01:09] #111 closed

[2016-03-24 05:44] gyachdav commented on #77
We'll go with what you're most comfortable with. Just remember that the color scheme needs to be adapted to the color scheme and style used on the website. Please coordinate with @marcusnovotny about generating those info graphics. He will work on creating landing pages next week and will need your support. Would you be able to help next week?

[2016-03-24 10:10] sacdallago commented on #113
Which are the incriminated files? You can easily find the author by looking at the revision history :) But yes, thanks for noticing!

Hasn't @togiberlin worked on this?

[2016-03-24 10:13] sacdallago commented on #111
For me `https://got-api.bruck.me/api/characters/Will%20\(squire\)` redirects to apidocs?

[2016-03-24 10:23] kordianbruck commented on #100
Done.

[2016-03-24 10:26] kajo404 commented on #80
Hello @togiberlin ,
I have several questions about this.
1. How do we insert data into the database?
2. Is it possible to get make requests so they return everything in a timeframe?
3. Is any other group actually using this schema? (is description used at all?)
4. Can you provide an example of how to insert data?

[2016-03-24 10:28] kordianbruck commented on #111
@sacdallago ye, escaping in URLs does not work. The real fix is #100

[2016-03-24 10:32] kordianbruck commented on #105
@Adiolis refill or update? I already updated it...

[2016-03-24 10:32] kordianbruck commented on #105
Done.

[2016-03-24 10:52] togiberlin commented on #111
@sacdallago @kordianbruck @yashha My fix works perfectly with Safari but it doesn't work with Chrome/Firefox. Sorry! In Chrome/FF, it automatically converts backslashes to normal slashes.

To suppress this behavior, go one step further and simply replace `\` with `%5C`
Example: `https://got-api.bruck.me/api/characters/Will%20%5C(squire%5C)`

[2016-03-24 10:57] sacdallago commented on #111
:D simply put, URL encode the search term @yashha

[2016-03-24 13:12] yashha commented on #111
thanks! :)

[2016-03-24 15:16] jcebel commented on #80
@togiberlin could you at least give us some status? This very important for the Project, especially as feature freeze is coming up tomorrow...

[2016-03-24 15:16] Hack3l opened #114 "Popularity from API?"
@sacdallago Should we change the populartity (page rank) to be taken from the api?
only asking because feature freeze was on monday

[2016-03-24 15:17] Hack3l commented on #114
wrong project sorry

[2016-03-24 15:17] #114 closed

[2016-03-24 15:18] togiberlin commented on #77
@gyachdav I have 3 upcoming exams, I need to prepare for it. But I can dedicate an hour per day for the infographic. I would orientate the UI/UX on Project D. Supporting him...well, what I can do is give some advice here and there. @marcusnovotny How is the progress on the landing page? Have you started with a wireframe or UI design?

[2016-03-24 15:24] gyachdav commented on #77
@togiberlin sounds good. glad to hear you're on board and good luck on those exams!

[2016-03-24 19:13] ghost commented on #85
@kordianbruck Please, run npm run refill --collection=characterLocations
@AlexBeischl
https://got-api.bruck.me/api/characters/locations will then return the whole collection with characters and their locations.

Which api calls are required?
Modifying the data via api should not be allowed because of our policy. Edits should be done on the origin source, which is the awoaif wiki.

[2016-03-24 19:36] ghost commented on #85
I created the following api:
- GetByCharacterName:
  https://got-api.bruck.me/api/characters/locations/:name
- GetByLocation:
  https://got-api.bruck.me/api/characters/locations/byLocation/:location
- GetBySlug:
  https://got-api.bruck.me/api/characters/locations/bySlug/:slug

All have the ?strict=true option.

@kordianbruck please update the apidoc.

[2016-03-24 19:40] ghost commented on #85
@AlexBeischl If you have your json for the region borders ready, i can finish this issue :smile:

[2016-03-24 19:41] ghost commented on #92
@sacdallago Why is this here open? :smile:
Makes me crazy with the Feature freeze milestone ;)

[2016-03-24 19:42] ghost commented on #101
Again, status?
Milestone is feature freeze...

[2016-03-24 19:43] ghost commented on #80
Status?

Milestone: feature freeze...

@togiberlin @kajo404 @jonny3576 @kordianbruck @sacdallago

[2016-03-24 19:48] jcebel commented on #80
Yeah I know.. D5 was waiting for the promised functionality. But I think it is now resolved... Is it @kajo404 ?

[2016-03-24 19:50] kajo404 commented on #80
I just copied some links from your routes.js . I don't know if the functionality is fully implemented

[2016-03-24 19:51] ghost commented on #80
@togiberlin

[2016-03-24 19:56] jonny3576 opened #115 "Problem: Token"
Hey I've done something terribly wrong and I'm really sorry.
I've accidently pushed the token on github, as I was switching between two branches. I am really really sorry. I've deleted it as soon as I've seen my mistake. But as you can undo every change on github, it can always be found..
Can you please change it asap.
I'll help you with everything I can to clean this mess up.. I'm really sorry.

[2016-03-24 19:57] ghost commented on #115
@kordianbruck

[2016-03-24 22:39] marcusnovotny commented on #77
@togiberlin Hey there! We'll decide on number & topics of landing pages tomorrow. Then I'll write & collect the content, put it into .html files and send it to Group F, maybe along with a simple wireframe. The design will be handled by them. Some relevant statistics would make nice filler elements next to our actual tools on those pages. I'll get back to you tomorrow with more info, just to give a

[2016-03-24 23:23] togiberlin commented on #101
@adiolis All GET methods should work. However, I couldn't figure out this access token thing, which is needed for adding/editing/removing data via API. I don't know if it's a bug or something. I asked @kordianbruck over fb for assistance. I think he knows better than me, how this access token works

[2016-03-24 23:24] togiberlin commented on #80
@adiolis @kajo404  All GET methods should work. However, I couldn't figure out this access token thing, which is needed for adding/editing/removing data via API. I don't know if it's a bug or something. I asked @kordianbruck over fb for assistance. I think he knows better than me, how this access token works as he implemented this security feature

[2016-03-25 07:47] sacdallago commented on #92
I did reopen this? Must have pressed the button by mistake on my not-so-smart phone

[2016-03-25 07:47] #92 closed

[2016-03-25 07:48] sacdallago commented on #115
:D I can see @jonny3576 crying on his keyboard :D :D

[2016-03-25 07:49] sacdallago commented on #115
Btw @kordianbruck I would kindly ask you to tear down your server at some stage... Just for the sake of testing.
Possibly after feature freeze, so that if people **MISTAKINGLY** hardcoded your API it can be changed before final deadline!.. And because at that stage it should be running on api.got.show

[2016-03-25 08:05] sacdallago commented on #80
Seriously :D Are we speaking about _that_ token? Guys?!?!?!?!?!

[2016-03-25 13:05] julienschmidt opened #116 "Episodes dates: precision?"
The episodes' air dates currently contains a value like `2011-04-17T04:00:00.000Z`.

1) Does the time actually contain any information? I have my doubts that it aired at 4am. Like Prof. Rost said: Don't give precision you can't validate.
2) Are those values UTC or local time (DE) ?
3) The run time would also be interesting.

[2016-03-25 13:07] togiberlin commented on #80
Actually what you do is append ?token=XYZ123 to the POST request.  But Postman is returning error message "accessToken not defined". I wasn't able to figure it out.

[2016-03-25 13:11] gyachdav commented on #103
@Adiolis can you please run quick stats on all characters and report min,max median and mean and stddev for "pageRank". It will help with interpreting level of importantce for a character.   A histogram of pageRank would also be very helpful. Thanks!

[2016-03-25 13:20] Hack3l commented on #103
@gyachdav i used pagerank for PLOD min = 0, max = 300 i normalized the values and only around 300 characters have over 0.1 normalized rank

[2016-03-25 13:23] gyachdav commented on #103
thanks can you post here your normalized ranking?

[2016-03-25 13:29] gyachdav commented on #103
i'm basically interested in cases like this https://got-api.bruck.me/api/characters/Tormund where the pageRank is rather low but in the show still plays a prominent role to get tweets.

[2016-03-25 13:43] Hack3l commented on #103
Here my normalized pagerank and 60 is not that low normalized all above 0.1 are pretty much popular
[pagerank_normalized_json.txt](https://github.com/Rostlab/JS16_ProjectA/files/189556/pagerank_normalized_json.txt)

[2016-03-25 13:47] gyachdav commented on #112
Status???? (next post will be with even more question marks :laughing: )

[2016-03-25 14:04] gyachdav commented on #103
Thanks @Hack3l!

@Adiolis  see yourself as excused from this task :smile:

[2016-03-25 14:11] sacdallago commented on #80
Are you sure it's urlencoded and not part of the head or body? @kordianbruck changed the token, as far as I remember from a conversation yesterday

[2016-03-25 14:12] ghost commented on #116
The reason, why a time is stored, is that there is no Date format without time in MongoDB:
https://docs.mongodb.org/manual/reference/bson-types/

One possibility now would be to store the date in string format like yyyy-mm-dd. @sacdallago
Or just to ignore the time stored.

I prefer the first, because search queries to the db would be easier. Especially all time indications would otherwise require

[2016-03-25 14:25] sacdallago commented on #116
1. `Z` [indicates the time zone](http://stackoverflow.com/questions/16151383/what-does-the-000z-of-yyyy-mm-ddt000000-000z-mean)
2. @Adiolis there are SO, MANY formats for time already. Let's not make up another one. Let's stick to storing a type in the db that is not a string representing a date, but rather a date representing a date :D Simply putting somewhere that precision is up to the day will

[2016-03-25 14:28] julienschmidt commented on #116
Why didn't I think of that :laughing:

I'm fine with the current format, just document it properly. We were wondering how specific it is (you know.. we could display that in our timeline :wink: )

[2016-03-25 14:28] ghost commented on #112
I will count the pages, that the scrapers are touching, and how many entries are stored in each collection :smile:

But i would rather do that close to delivery time or are some numbers already required?

[2016-03-25 14:32] ghost commented on #116
I will add that information to the apidocs :wink:
No matter how obv. it is, that the time is not right :stuck_out_tongue_closed_eyes:

[2016-03-25 14:32] #116 closed

[2016-03-25 14:41] ghost commented on #116
@kordianbruck update the api docs
@togiberlin i am a bit unsure about the Date types in the schemas of CharactersPlod and CharactersSentiments. Do they store a valid time? Otherwise please document in the according controller that the time has to be ignored.

[2016-03-25 14:42] julienschmidt commented on #116
If it was local time, 4am would be a sensible value :wink:

Edit: UTC _is_ almost local time

[2016-03-25 14:43] AlexBeischl commented on #85
Hi @Adiolis ,
thanks :+1:
Here is the link to the data:
https://raw.githubusercontent.com/Rostlab/JS16_ProjectC_Group10/develop/data/realms.js

[2016-03-25 14:44] ghost commented on #85
@AlexBeischl Okay, i will fill the db with that :dancer:

[2016-03-25 14:47] sacdallago commented on #112
After FF is fine, focus on closing the things you are working on ;)

[2016-03-25 15:07] togiberlin commented on #80
@sacdallago I explained already to @kordianbruck via fb, he said he will look into it

[2016-03-25 15:14] bandle commented on #85
@Adiolis I have some questions regarding the api:
The 3 Functions you mentioned are POST? Could you send me a token to test them?
The characterLocation database is filled by one of your scrapers?

Is there a way to add the paths done by us (JSON File) to the DB yet. Maybe I missed it when reading through the post

[2016-03-25 15:29] AlexBeischl commented on #85
Hi @Adiolis
I just found one little bug in the realms data and fixed it, can you please update the DB?
(should be the last change in those data)

[2016-03-25 15:32] gyachdav commented on #85
cool this time. but going forward please aggregate the bugfixes and commit them to the db only periodically (once a week is optimal)

[2016-03-25 15:33] ghost commented on #85
@mbandle No, they are GET. @kordianbruck haven´t updated the public server yet...
And yes, the locations are scraped by the characters´ wiki pages. (looking for city metionings)

@AlexBeischl: Yeah, no problem.

[2016-03-25 15:37] bandle commented on #85
Thanks, this explains why they aren't working at the moment. I looking forward to test it after its published.

What about the character path data? Is there a table yet. We have similar JSON data like the realms. https://github.com/Rostlab/JS16_ProjectC_Group10/blob/develop/data/paths.js

[2016-03-25 15:39] kajo404 commented on #80
Can I get an update on the token situation? I also get the token is undefined error

[2016-03-25 15:40] ghost commented on #80
@kordianbruck We need him to response :stuck_out_tongue_closed_eyes:

[2016-03-25 16:29] ghost commented on #85
@mbandle Till now no one requested such a feature.
Is this required?

@AlexBeischl Please stick to the names of the wiki. In your json you have for example Iron Islands, but the wiki named it The Iron Island. Looking for substrings in the names is really ugly and can lead to false positives.

I outputed via filler the following regions, that are not scraped from the wiki and thus added to the db:

[2016-03-25 16:32] bandle commented on #85
Yes we need it like mentioned in the first post:

Also this has to be linked with the hasPath attribute

Someone has already marked it as done

[2016-03-25 16:35] ghost commented on #85
@mbandle okay.
Would be interesting to know, who updated this to status finished...
I will uncheck it...

@togiberlin @kordianbruck @theocheslerean @boriside @docjag @alschm
Who wants to implement this? I really have no time anymore to also do this.

[2016-03-25 16:41] bandle commented on #85
To describe it a little better what has to be done:
- [ ] Table like the other PLOD or sentiment tables with character paths. (path is JSON data)
- [ ] searchable like @Adiolis did it with the character location API
- [ ] path data is provided by our group in the JSON file https://github.com/Rostlab/JS16_ProjectC_Group10/blob/develop/data/paths.js
- [ ] Connect it to hasPath attribute in character

[2016-03-25 16:48] ghost commented on #85
@mbandle Could you please open a new issue for this? This issue is very confusing and too big.
Also i don´t want to be assigned to these "new" issues, too. :stuck_out_tongue_closed_eyes:

[2016-03-25 16:48] AlexBeischl commented on #85
@Adiolis
I have adapted the names of the realms, which appear in the wiki and are the same as ours.
But we have divided some huger regions into different realms. For these I can't adapt the name, furthermore I think combining them into regions wouldn't make sense.
So can you add the realms, which don't appear in the wiki (as region) as well?

[2016-03-25 16:51] ghost commented on #85
@AlexBeischl I see the problem. The scraper is using The Iron Islands, but later it is redirected to Iron Islands. I will need to fix that.

I´ve already implemented (localy), that not existing regions in the wiki, are added ;)

[2016-03-25 16:52] mbandle opened #117 "Character Path data"
outsourced from #85
- [x] Table like the other PLOD or sentiment tables with character paths. (path is JSON data)
- [x] searchable like @Adiolis did it with the character location API
- [x] path data is provided by our group in a JSON file https://github.com/Rostlab/JS16_ProjectC_Group10/blob/develop/data/paths.js
- [x] Connect it to hasPath attribute in character table => Each character with path

[2016-03-25 17:10] ghost commented on #85
@kordianbruck Please refill the regions collection npm run update --collection=regions

I will open for the Iron Island dup thing a new issue, because the problem is independent of this issue.
Until the scraper is not fixed, there will be the dup ;)
Quick fix would be to edit the json file to the scrapers region name, but this should be fixed today.

@AlexBeischl If you have updates to the data, p

[2016-03-25 17:10] #85 closed

[2016-03-25 17:15] Adiolis opened #118 "Region scraper: Scrap the regions´ wiki pages and not just portal with wrong names."
- [x]  Scrap the regions´ wiki pages and not just the portal for the names, which are wrong, because of redirects.
- [x]  Tell kordian to update the collection

Otherwise we have problems like here #85 . Scraper gives The Iron Islands, but the name of the wiki page is actually Iron Islands.

[2016-03-25 17:19] ghost commented on #117
Okay, that is the last thing i will implement, guys, because i have done sth. similar before.
I´ve already invested tons of my lifetime for all of this :stuck_out_tongue_closed_eyes:

[2016-03-25 17:22] ghost commented on #117
@mbandle Is it easy for you to change the file structure to a json format like: data/regions.json ?
Would be more consistent and easier for me to handle ;)

[2016-03-25 17:22] bandle commented on #117
When you need any additional information from our group, just comment.
Thank you :+1:

[2016-03-25 17:24] bandle commented on #117
I`ll change it and tell you when its ready.

[2016-03-25 17:33] bandle commented on #117
https://github.com/Rostlab/JS16_ProjectC_Group10/blob/db/data/paths.js

At the moment the changed version is only in our db branch - ill add it to the main branch when integration is ready if this works for you

[2016-03-25 18:44] ghost commented on #117
@mbandle
So is a db "table" charactersPaths like:
- _id
- name (for the character): String
- path: Array
- alive: Boolean

sufficient?

Which api calls are required? I am a bit unsure what find operations can be handled by the path field.

A hasPath attribute in the characters "table" will then indicate, that there are entries in charactersPath for that character. Can it be, that you have paths to

[2016-03-25 18:50] bandle commented on #117
@Adiolis
The alive attribute is assigned to the path data. I don't know why you pulled it out of there?
id, name and path should work.

We need calls to query a character name and get the path for the character. So this could work similar to what you did in the character-locations db.

Yes this is how hasPath was intended to work.

It can but it should not be. We opened #105 when we encountered th

[2016-03-25 18:52] bandle commented on #105
I tested it with Brienne of Tarth and it didn't work :/

https://got-api.bruck.me/api/characters/brienne
also
robert doesn't work (There is no Baratheon)
https://got-api.bruck.me/api/characters/robert

[2016-03-25 18:54] ghost commented on #105
I get on my local db:
`{"message":"Success","data":{"_id":"56f2dac36e157f8dac6527e2","imageLink":"/misc/images/characters/Brienne_of_Tarth.jpeg","male":false,"dateOfBirth":280,"house":"House Tarth","slug":"Brienne_of_Tarth","name":"Brienne of Tarth","__v":0,"pageRank":278,"books":["A Clash of Kings","A Storm of Swords","A Feast for Crows","A Dance with Dragons"],"updatedAt":"2016-03-23T20:07:08.84

[2016-03-25 18:55] bandle commented on #105
Very likely yes. The live version does feature slug as well

[2016-03-25 19:37] gyachdav commented on #71
was the above ever tried? has the accuracy improved?

[2016-03-25 20:10] ghost commented on #117
@mbandle There is a character named Victorian Greyjoy in the json.
Probably you mean http://awoiaf.westeros.org/index.php/Victarion_Greyjoy ?

[2016-03-25 20:11] bandle commented on #117
@AlexBeischl You did the paths? Who should this be?

[2016-03-25 20:13] AlexBeischl commented on #117
@Adiolis Yeah, you are right, sry :/  swapped the a and o

[2016-03-25 20:22] ghost commented on #117
Okay, i am done.
Please use for updates  the data/characterPaths.json and don´t forget to request kordian to run `npm run update --collection=charactersPath` .

@kordianbruck: Please run `npm run refill --collection=charactersPath` .
Also update the apidoc.

[2016-03-25 20:22] #117 closed

[2016-03-25 20:23] ghost commented on #117
@AlexBeischl I fixed the typo in the data/characterPaths.json :wink:

[2016-03-25 20:24] ghost commented on #71
@theocheslerean

Because this is an improvement and no new feature, i change the milestone.

[2016-03-25 20:24] bandle commented on #117
Can you switch the name to regex or better add the slug option. Otherwise we have some problems in finding only one :)

This is our last thing to request :) I promise

[2016-03-25 20:25] ghost commented on #117
For getByName there is the ?strict=true option. Is this sufficient?

[2016-03-25 20:27] bandle commented on #117
:+1: works - didn't thought of that option - sorry

[2016-03-25 20:28] ghost commented on #118
@theocheslerean Just setting the redirects property in the bot params is not fixing the problem ;)
Because you fix the redirect to the portal, but not the links within the portal.

[2016-03-25 20:30] ghost commented on #101
So only the testing is here left?

[2016-03-25 20:45] ghost commented on #107
Looks like everything remaining is implemented. Unfortunately @kordianbruck has not been updating the public server for the last two days. Also there seems to be a problem with the tokens to which @kordianbruck takes care of and so modifying api calls could not be tested. (Plod , @togiberlin )

Check:
https://github.com/Rostlab/JS16_ProjectA/milestones/v0.1.0%20Feature%20freeze

[2016-03-25 20:47] ghost commented on #80
@togiberlin So, just testing is remaining?

[2016-03-25 20:53] ghost commented on #77
Status? Is this really feature freeze?

[2016-03-25 20:56] gyachdav commented on #77
changed to delivery

[2016-03-25 22:41] ghost commented on #67
I´ve reimplemented the scraping of birth and death dates.
Bug should be fixed and i fetched 100 dates more than before.

[2016-03-25 22:41] #67 closed

[2016-03-25 22:56] kordianbruck commented on #118
Updated the regions in production.

[2016-03-25 23:01] #118 closed

[2016-03-25 23:10] kordianbruck commented on #105
@mbandle works now :3 :fire_engine:
I did refill, back then but dunno why its really missing...

[2016-03-25 23:12] kordianbruck commented on #85
Updated all the collections :tada:

[2016-03-25 23:14] kordianbruck commented on #116
Docs updated :)

[2016-03-25 23:32] kordianbruck commented on #117
Filling done :)

[2016-03-25 23:39] kordianbruck commented on #101
token works now. Was an issue with multi threaded setup....

[2016-03-25 23:40] kordianbruck commented on #115
Yea, my API won't be online for too much longer. Never mind that the token leaked somewhere ;D

@sacdallago is the production server set up yet? Then we can surely switch over and people will nag you with updating the code :smiling_imp: